[2015-10-30 14:42] MattHJensen opened #9 "facilitate user feedback and understanding of the database by publishing summary stats"
The extrapolation routine is somewhat difficult for outsiders to dig into right now. The methodology is daunting and you can't interact with the extrapolation routines without the PUF.

I think we could make it much easier for people to understand the data behind TaxBrain if we published a table with summary statistics of every variable for every year.

Here are the columns that come to mind.

[co

[2015-10-30 14:49] MattHJensen commented on #9
I just edited the previous comment to add sums by agi decile. One way to think of this might be to ask ourselves the question "what information would be useful for us to receive from JCT?" We should publish anything that we think would be useful for them to publish.

[2015-10-30 18:00] feenberg commented on #9
On Fri, 30 Oct 2015, Matt Jensen wrote:

Wouldn't the sum be enough? That gives a table of about 150 rows and 10
columns (one colum for each year). There are very few variables that are
allowed to be negative.

dan

[2015-10-30 18:01] feenberg commented on #9
On Fri, 30 Oct 2015, Matt Jensen wrote:

Estimates of wages and capital gains - cg is especially important since it
is taxed at a different rate.

dan

[2015-10-30 18:58] MattHJensen commented on #9
@feenberg said:

So now I am thinking of a panel that is 2400 (16 years * ~150 vars) long and 14 columns wide.

The years would be 2009 - 2024

The twelve columns would be:

[code]
The smaller table that Dan described of of only sums (150 columns and 16 years) would also likely be useful.

[2015-11-02 22:18] Amy-Xu commented on #9
The columns sound reasonable to me, but do we need to give all 150 variable to users? Many of them would be sharing one blow-up factor, and we probably end up giving a lot of redundant information that users might need to dig into the giant table to find what they need.

[2015-11-30 21:14] MattHJensen opened #10 "There should be a unique id."
@gofroggyrun and I just discovered that the recid is not unique for CPS records. It would be useful if there were a unique id, whether recid or something else.

[2015-12-15 03:04] martinholmer commented on #10
@MattHJensen said:

It is madness to not have a unique key for the records.  There shound never be duplicate ```recid``` values in the ```puf.csv``` file.  Can you have John O'Hare fix this problem as soon as possible.

cc @Amy-Xu

[2015-12-21 19:17] Amy-Xu commented on #10
Solved via #11. Closing

[2015-12-21 19:17] #10 closed

[2016-04-27 11:22] martinholmer opened #17 "Need to smooth out age distribution"
My recent suggestion to Amy about how to create the new `age_head` and `age_spouse` variables in the `puf.csv` file turns out to have been a bad suggestion.  My suggestion produces too lumpy an age distribution and that is significant problem.  The reason we know that the lumpy age distribution is an important problem is that Sean has not been able to replicate closely the JCT ten-year revenue est

[2016-04-27 13:45] martinholmer opened #18 "Why extreme differences in the ages of a couple?"
I don't understand why there are some couples (that is, filing units in `puf.csv` with `MARS==2`) with very large age differences.  Most (about 90 percent of the sample weight of all couples) have the same age as shown by the following results:

[code]

And even more (over 97 percent of couples) have a spouse-minus-head age difference in the [-9,+9] range:

[code]

But I don't understand why the l

[2016-04-27 22:17] martinholmer opened #20 "conda package inconsistency"
In the taxdata repository, I tried to execute the `final_prep\puf-cps-processing.py` script on my computer.
Here is the error message I got:
[code]

Turns out I had pandas 16 installed and the DataFrame.sort_values() method was introduced in version 17.
[code]

So, I upgraded pandas as follows:
[code]

Then I tried again to execute the `puf-cps-processing.py` script and here is what I got:
[code]

[2016-04-27 22:59] talumbau commented on #20
This appears to be a `pandas` issue, as noted in the 0.18.0 release notes:

http://pandas.pydata.org/pandas-docs/version/0.18.0/whatsnew.html

May I ask, when did you perform this command? It's surprising to me that you did not get upgraded to the version of 0.18.0 pandas that was built for numpy 1.11 instead of numpy 1.10 (which is what happened). Anyway, the release notes for 0.18.0 of pandas an

[2016-04-27 23:31] martinholmer commented on #20
T.J. (@talumbau),  Thanks for the tip!  The command `conda update numexpr` fixed things.

[2016-04-27 23:31] #20 closed

[2016-05-03 16:02] martinholmer commented on #17
This taxdata issue #17 has been resolved by taxdata pull request #21.

[2016-05-03 16:02] #17 closed

[2016-05-09 21:59] martinholmer opened #22 "Drop e09400 variable from next puf.csv file"
The `e09400` variable should be added to the list of omitted variables in the final-prep script for the reasons explained in [Tax-Calculator pull request 734](https://github.com/open-source-economics/Tax-Calculator/pull/734).

[2016-05-11 10:42] martinholmer opened #23 "Drop e03260 variable from next puf.csv file"
The `e03260` variable should be added to the list of omitted variables in the final-prep script for the reasons explained in [Tax-Calculator pull request 739](https://github.com/open-source-economics/Tax-Calculator/pull/739).

[2016-05-12 11:59] martinholmer opened #24 "Drop e05100 and e05800 variables from next puf.csv file"
The `e05100` and `e05800` variables should be added to the list of omitted variables in the final-prep script for the reasons explained in [Tax-Calculator pull request 743](https://github.com/open-source-economics/Tax-Calculator/pull/743).

[2016-05-12 12:50] martinholmer opened #25 "Drop e08800 variable from next puf.csv file"
The `e08800` variable should be added to the list of omitted variables in the final-prep script for the reasons explained in [Tax-Calculator pull request 744](https://github.com/open-source-economics/Tax-Calculator/pull/744).

[2016-05-12 14:09] martinholmer opened #26 "Drop e15360 variable from next puf.csv file"
The `e15360` variable should be added to the list of omitted variables in the final-prep script for the reasons explained in [Tax-Calculator pull request 746](https://github.com/open-source-economics/Tax-Calculator/pull/746).

[2016-05-12 15:02] martinholmer opened #27 "Drop p87482 variable from next puf.csv file"
The `p87482` variable should be added to the list of omitted variables in the final-prep script for the reasons explained in [Tax-Calculator issue 742](https://github.com/open-source-economics/Tax-Calculator/issues/742) and [Tax-Calculator pull request 747](https://github.com/open-source-economics/Tax-Calculator/pull/747).

[2016-05-24 22:05] martinholmer commented on #27
This issue has been resolved by pull request #28.

[2016-05-24 22:05] #27 closed

[2016-05-24 22:06] martinholmer commented on #26
This issue has been resolved by pull request #28.

[2016-05-24 22:06] #26 closed

[2016-05-24 22:06] martinholmer commented on #25
This issue has been resolved by pull request #28.

[2016-05-24 22:06] #25 closed

[2016-05-24 22:06] martinholmer commented on #24
This issue has been resolved by pull request #28.

[2016-05-24 22:06] #24 closed

[2016-05-24 22:06] martinholmer commented on #23
This issue has been resolved by pull request #28.

[2016-05-24 22:06] #23 closed

[2016-05-24 22:07] martinholmer commented on #22
This issue has been resolved by pull request #28.

[2016-05-24 22:07] #22 closed

[2016-06-14 22:41] martinholmer opened #29 "Development of 2010 puf.csv file"
My understanding is that the 2010 `puf.csv` file is currently being (or will soon be) developed.
I have two questions about the new 2010 `puf.csv` file:

(1) Will it still be possible to run the 2009 `puf.csv` file through the Tax-Calculator after the 2010 `puf.csv` file becomes the standard input?

I'm asking this first question because it would appear that when moving from 2008 to 2009, we lost

[2016-06-15 12:25] feenberg commented on #29
On Tue, 14 Jun 2016, Martin Holmer wrote:

I think this is desirable, but not essential. It will allow us to learn
the effect of new data without confusing it with changes to the
calculator. As long as the calculator is only used for scoring (and not
for creating regression variables) it isn't essential.

The 2010 file does not contain any age variables. It is planned to issue
an update with age a

[2016-08-04 07:29] MattHJensen opened #31 "Translate CPS-PUF match to Python"
The CPS-PUF matching scripts are currently written in SAS and reside in https://github.com/open-source-economics/cps-puf. These should be translated into Python and incorporated into this repository.

[2016-08-04 08:23] MattHJensen opened #32 "Impute itemized deduction amounts to non-itemizers"
We should impute itemized deduction amounts to non-itemizers so that we can simulate reforms that increase the number of itemizers.

This issue was moved from https://github.com/open-source-economics/Tax-Calculator/issues/230.

@GoFroggyRun recently took on this project. @GoFroggyRun, could you please post an update on your work?

Feel free to link to or attach your and Chi Tran's presentations or

[2016-08-04 08:33] MattHJensen opened #33 "Mortgage interest deduction reforms"
We should impute the necessary information onto the CPS-PUF file in order to simulate these reforms with Tax-Calculator:

1. Eliminate the MID
2. Reduce the limit on acquisition debt
3. Restrict to X percent the value of the MID
4. Limit the MID to primary residences
5. Replace the MID with an X percent tax credit on the first $25,000 of mortgage interest from primary residences only

[This NTJ pa

[2016-08-09 22:24] MattHJensen opened #34 "Impute wealth from SCF for consumption tax transition"
When we model a consumption tax using the sources method we will need wealth data from the SCF to distribute the transition burden. Additionally, we may want a path of savings/dissavings so that we can distribute the transition burden across years.

Useful docs
- [TPC: Methodology for distributing a VAT](http://www.urban.org/UploadedPDF/1001533-Methodology-Distributing-VAT.pdf)
- [TPC: Estate tax

[2016-08-09 22:27] MattHJensen opened #35 "Imputations for Expanded Income"
Our distributional tables currently use AGI as the tab variable. Instead, they should use an "expanded income" measure that more accurately reflects economic well being.

Our first step should be to get close to JCT's measure of expanded income. We should be able to get the data from the source listed in the parenthesis.

Expanded income =
Adjusted gross income (puf)
+ tax-exempt interest (puf)
+

[2016-08-09 22:29] MattHJensen commented on #35
One option might be to model our work off of the imputations that John employs for the CPS file.

[2016-08-22 18:19] GoFroggyRun commented on #32
@MattHJensen:

I have just finished the write-up (pdf attached), and the imputed 09 puf is also available.

I'll be doing some code streamline and having all code posted on github once done. Meanwhile, please let me know if there're any comments, concerns or remarks regarding the write-up.

[imputation_fin.pdf](https://github.com/open-source-economics/taxdata/files/430856/imputation_fin.pdf)

[2016-08-22 22:00] MattHJensen commented on #32
@GoFroggyRun, I think it would be very helpful to do add a case study of converting an itemized deduction into a credit. That would give users confidence in the technique. You could incorporate the scores with and without the info for standard deduction filers. There could be some good material for comparisons in this document. http://www.cbo.gov/sites/default/files/cbofiles/ftpdocs/121xx/doc12167

[2016-08-23 16:24] martinholmer commented on #32
Sean Wang (@GoFroggyRun) and Chi Tran,

I've briefly read your 22-Aug-2016 paper entitled "On Cold-Deck Imputation with Data Quality Improvement Using Simulation Model".  I have three types of comments: some stylistic suggestions regarding the paper, a substantive issue regarding what you did in the imputation work, and an issue about the lack of imputation results in the paper.

**Stylistic Issue

[2016-08-23 19:25] GoFroggyRun commented on #32
@martinholmer,

Thank you so much for your thoughtful and detailed comments on the write-up.

Regarding your concerns:

 **Stylistic Issues**

But generally, technical papers point to references that provide more detailed descriptions of terminology and methods. Your paper uses a lot of technical terms that are not referenced.

I am aware of that, and will try to pin-point my citation to make it m

[2016-08-24 13:44] martinholmer commented on #32
Sean Wang (@GoFroggyRun) said:

That sounds more reasonable, but is not the impression that the current draft gives.

[2016-10-14 16:04] andersonfrailey opened #38 "Updating the PUF"
TaxCalc currently uses a PUF file made from a statistical match of the [2014 CPS](http://www.nber.org/data/current-population-survey-data.html) and [2009 Public Use Tax File](http://users.nber.org/~taxsim/gdb/gdb09.pdf) from the IRS. I am currently working on updating the PUF with new variables, new weights, and the 2015 CPS/2010 PUF in the following steps:
1. Add dependent ages from the CPS to th

[2016-10-17 11:21] MattHJensen commented on #38
@andersonfrailey, does (2) above require doing a new CPS-PUF match, or could (2) be added to the current CPS-PUF match file and thereby sidestep the issues you are having with https://github.com/open-source-economics/taxdata/pull/39.

[2016-10-17 12:32] andersonfrailey commented on #38
@MattHJensen I would want to confirm with @Amy-Xu, but unless I'm missing a step running the current CPS-PUF match file through the extrapolation process with the new targets in (2) shouldn't be an issue.

[2016-10-17 13:03] Amy-Xu commented on #38
It seems to me @andersonfrailey has already included 1-3 in #39? Is that right?

Also for both 2 & 3, Anderson do you mean modifying Stage I script to update stage II targets? Or I missed something here?

[2016-10-17 13:13] andersonfrailey commented on #38
@Amy-Xu I only included (1) in #39.

Yes. Updating the SOI estimates CSV to include the $5 million threshold and the IRS data up to 2014 and CBO baseline to account for their new projections to update stage II targets.

[2016-11-04 17:20] MattHJensen opened #42 "add under5 variable for HC CTC expansion"
@codykallen recently implemented a quick version of the Clinton child tax credit expansion for Alex Brill's [blog post](https://www.aei.org/publication/6-things-to-know-about-hillary-clintons-new-child-tax-credit-expansion/) and [op ed ](http://www.realclearmarkets.com/articles/2016/10/28/who_will_pay_for_hillary_clintons_tax-code_social_engineering_102402.html) on the policy.

I recently asked hi

[2016-11-04 18:48] andersonfrailey commented on #42
@MattHJensen the PUF is ready.

Rather than randomly assign a variable like @codykallen did I was able to take the `cps-puf.csv` file before the `agedp*` variables were dropped and added up the number of children under 5 for each tax unit.

Do you want me to fully redistribute this PUF now or wait and see if there's anything else that needs to be added and just send it to you for now?

[2016-11-04 19:28] MattHJensen commented on #42
Thanks! Why don't you distribute the file to everyone as a preliminary version.

Will you have a PR that demonstrates these changes?

[2016-11-04 19:31] andersonfrailey commented on #42
@MattHJensen opening one up now.

[2016-11-07 19:02] PeterDSteinberg opened #44 "Create private conda package for each PUF file"
It has become tough to remember which version of the PUF goes with which version(s) of OG-USA, Tax-Calc, B-Tax and it has also limited automation.

Fix:

* [x] Make a private conda package <strike>`ospc-puf` </strike> `taxpuf`, then versions of that package for each `puf.csv.gz` we have used.
* [x] Keep <strike>`ospc-puf`</strike> `taxpuf` in this organization
https://anaconda.org/opensourcepolicy

[2016-11-10 22:42] codykallen opened #45 "Incorrect income percentiles"
The distribution of income quintiles in the PUF appears incorrect.

Using the Tax-Calculator, I found the following values for median tax unit income. The numbers in parentheses are the nominal median household incomes from the Census Bureau.
2013: $27,250 ($52,250)
2014: $28,022 ($53,657)
2015: $28,877 ($55,775)

The numbers calculated with TC are more consistent with median individual incomes, b

[2016-11-11 21:51] martinholmer commented on #45
@codykallen computed some AGI values at different points of the AGI distribution and was troubled by his results.

I've written a short Python script that tabulates the mean AGI in each AGI percentile.
Here is that script and below the script are the results it generates with some thoughts about what the results mean.
[code]
Here is what this script produces.
[code]
These results are close to what

[2016-11-12 04:44] andersonfrailey commented on #45
@martinholmer @codykallen

Using both of y'all's code with expanded income TC numbers are still low. Here is the income distribution:
[code]
And mean expanded income:
[code]
Based on some digging into the distribution of the different sources of income and conversations with @codykallen and others, I believe part of the problem might be in stage II of our extrapolation process where the weights fo

[2016-11-12 13:24] MattHJensen commented on #35
Checking off "Impute minimum tax preferences from OTA paper" since @martinholmer is accomplishing the same by adding an imputation of minimum tax preferences off of the puf (`cmbtp`) to our expanded income measure in https://github.com/open-source-economics/Tax-Calculator/pull/1057. It's an elegant solution.

[2016-11-12 13:50] MattHJensen commented on #45
@andersonfrailey said:

I'm in full agreement that adding the additional targets will be useful and might improve this situation.

But I'm not sure yet that our current distributional accuracy is as bad as any of the above analysis might make it appear.

First note that both of @codykallen's comps appear to be Census bureau data, as Census Bureau is the source of the TPC tables.

If we compare TD'

[2016-11-13 01:14] martinholmer commented on #45
This comment on taxdata issue #45 follows up some suggestions made by @MattHJensen.  Here we tabulate the `puf.csv` file aged to 2014 for mean AGI and mean expanded income (using the newest version of expanded income in Tax-Calculator pull request #1057) for each of several income percentiles.  These results confirm Matt's notion that among filers, the mean AGI in the 50th AGI percentile is about

[2016-12-07 13:44] andersonfrailey opened #51 "Updating underlying projection data to generate new weights file"
I just finished updating the `CBO_baseline` and `SOI_estimates` files found in the stage 1 directory to reflect the latest data from the CBO and IRS. These files are used in `Stage_I.py` to create the targets and factors used to blowup and re-weight each record in stage 2 of the extrapolation process. As I test the file I will be producing the following for review:

- The difference in baseline Ta

[2016-12-07 14:10] feenberg commented on #51
On Wed, 7 Dec 2016, andersonfrailey wrote:

Any reason not to skip to 2011 PUF and 2016 CPS directly?

dan

[2016-12-07 15:19] andersonfrailey commented on #51
@feenberg
2015 was a typo I missed. I meant to put 2016 for the CPS. As for the PUF, I was not aware the 2011 file was released. I know we only have 2010, but I'll talk to Matt about possibly getting 2011.

[2016-12-07 15:24] codykallen commented on #51
As I brought up to @andersonfrailey previously, the current distribution of various types of income and other measures does not line up well with the IRS SOI data for 2014. The attached file has these tabulations for several different measures available in the SOI and PUF datasets. Our distributions are very far off for top income groups. For example, those with AGI over $2 million, we underestima

[2016-12-07 15:47] feenberg commented on #51
On Wed, 7 Dec 2016, andersonfrailey wrote:

Sorry, I think we paid for 2011 already but it hasn't come yet. 2010 is
the last we actually have. But 2011 should be coming very soon.

dan

[2016-12-09 01:15] andersonfrailey commented on #51
@codykallen asked:

[Here](https://github.com/andersonfrailey/Tax-Calculator/blob/UpdateWeights/Distribution%20Tests.ipynb) is a notebook examining the totals amount of each of the variables in your spreadsheet by AGI bin and what percent of the total each AGI bin has. It compares the SOI data, current tax-calc measures, and tax-calc with the new weights and blowup factors in 2014. For whatever re

[2016-12-14 23:16] PeterDSteinberg opened #53 "Improve dissemination / deployment related to Public Use File (puf.csv)"
# Issue - Better track and distribute `puf.csv`

We have found OG-USA regression testing difficult because the Tax-Calculator, OG-USA and B-Tax packages that require a `puf.csv` public use file do not maintain metadata about which version of that `puf.csv` is okay.

We have discussed the idea of coming up with a `taxpuf` private Anaconda package to help ensure installations of Tax-Calculator, B-Ta

[2016-12-14 23:18] talumbau commented on #53
In my version of Idea 2, `PUF` would be a DataFrame.

[2016-12-14 23:37] PeterDSteinberg commented on #53
In your view @talumbau of Idea 2, should `PUF` always be a dataframe constructed from the CSV installed as part of `taxpuf` (the correct version) or should `taxpuf` prefer a local `puf.csv` over the installed one (may be helpful for testing several puf.csv files)?

[2016-12-14 23:39] talumbau commented on #53
the first one - that is,  when executing `from taxpuf import PUF`, you would get the DataFrame of the PUF associated with that version of `taxpuf`. The only nontrivial aspect of it is that the data loading would not happen until the execution of the import statement. So, `import taxpuf; print(taxpuf.__version__)` would not incur any data loading penalties.

[2016-12-14 23:45] martinholmer commented on #53
@PeterDSteinberg said:

What is the nature of these problems exactly?
I'm not aware of any problems of this sort with Tax-Calculator.

[2016-12-15 00:01] PeterDSteinberg commented on #53
@martinholmer We have set up Jenkins CI testing in a way that allows running any OG-USA / Tax-Calculator new versions with the same set of reforms that were tested with OG-USA 0.5.5 and Tax-Calc 0.6.6 several months ago.  We made an automated system of installing the right versions of the whole stack but found full automation of the regression tests on every PR to OG-USA were not possible because

[2016-12-15 14:49] talumbau commented on #53
The issue is more precisely defined as follows: the PUF is a moving target and the PUF comes with no metadata that allows one to know, for a given instance of the PUF sitting on your computer, which version(s) of Tax-Calculator that PUF is compatible with.

This issue presents as a problem in primarily two contexts:

1. If one is only occasionally using Tax-Calculator, or just not keeping up with

[2016-12-15 15:12] martinholmer commented on #53
@talumbau said in the conversation about taxdata issue #53:

Yes, I can see that there is no metadata embedded in the `puf.csv` file, but I don't understand why that is a problem for Tax-Calculator.  I was requested to make the changes in [Tax-Calculator pull request #1035](https://github.com/open-source-economics/Tax-Calculator/pull/1035), which was merged on 06-Nov-2016, in order to allow virtua

[2016-12-15 19:45] PeterDSteinberg commented on #53
@martinholmer The Anaconda private package would accomplish essentially what the database you mentioned would accomplish, but in a more portable way.  Then the Tax-Calculator, B-Tax, and OG-USA repositories can each choose how they want to make use of the new `taxpuf` package.  I think for deployment and CI testing purposes it would be helpful for those packages to pin to a specific puf.csv.  In e

[2016-12-15 19:57] martinholmer commented on #53
@PeterDSteinberg said:

Can you be more specific?  What do you mean by "Then the Tax-Calculator, B-Tax, and OG-USA repositories can each choose how they want to make use of the new taxpuf package"?
Are you saying that Tax-Calculator logic is going to have to change in this new regime?
If so, you haven't convinced me why this is necessary.

[2016-12-15 21:12] PeterDSteinberg commented on #53
@martinholmer I mean that Tax-Calculator, B-Tax and OG-USA could name in their conda.recipe's meta.yaml, a specific version of `taxpuf` to ensure they are installed with the correct version of puf.csv.  Currently there is no way for us to do the OG-USA regression testing in an automated way because there is no metadata linking packages to the puf.csv with which they are compatible.  If your PR has

[2016-12-15 21:36] MattHJensen commented on #53
@PeterDSteinberg, I'm also having trouble understanding the specific problems after Tax-Calculator 0.6.9.

Is this an accurate example of a problem situation?

1. OG-USA regression testing is turned on and automatically compares every new OG-USA PR to baseline.
2. OG-USA is version 1.0
2. A new version of the puf.csv is released and installed on the testing server.
3. Some changes are made to OG-U

[2016-12-15 21:41] MattHJensen commented on #53
@martinholmer, could you describe the downside you see to having a Conda-versioned puf.csv file?

[2016-12-15 21:43] MattHJensen commented on #53
@PeterDSteinberg @talumbau, would we be able to (easily) maintain backwards compatibility between the current Tax-Calculator and earlier versions of the puf.csv files that have already been distributed?

[2016-12-15 21:50] PeterDSteinberg commented on #53
@talumbau @MattHJensen If we put something like `taxpuf=0.0.4` into the meta.yaml of OG-USA, Tax-Calculator, and B-Tax, the installation would only work if the installing machine has the Anaconda token for `taxpuf`.  Then, after the install, we can have it set up so the `taxpuf` CSV can be overriden by one in the local directory (which I'm sure we'll need for testing so that we don't have to repac

[2016-12-15 21:57] MattHJensen commented on #53
I asked:

Which @PeterDSteinberg answered:

Got it, thanks.

[2016-12-15 21:58] jdebacker commented on #53
@MattHJensen says:

Yes.  If we one is not following each change to the TC, it's hard to know a  new PUF is needed.  And when one is aware, several manual steps are necessary to acquire the file.  In my case, I then need to drop any updated PUF into three repos on each machine I'm running TC, B-Tax, and OG-USA on.  With 4+ versions of the PUF since July, it can be difficult to keep track of which

[2016-12-16 04:39] talumbau commented on #53
One area to clarify would be to describe how this would impact Tax-Calculator, as this seemed to be an area of concern for @martinholmer. To answer that, I would say that it impacts Tax-Calculator to the extent that the Tax-Calculator package is concerned with where the PUF comes from. To my knowledge, the current repo cares very little about this. A Records object can either be created by passing

[2016-12-22 07:33] zrisher commented on #53
@talumbau @martinholmer @MattHJensen @PeterDSteinberg @jdebacker I like the idea of using conda to manage the `puf_csv` dependency. As mentioned, it provides all the needed versioning support in a very lightweight way. Providing the dataframe directly seems reasonable since this repo and its dependent projects all use `pandas`.

My biggest concern is this:

Right now `puf.csv` is an *optional* dep

[2016-12-22 14:18] martinholmer commented on #53
@zrisher asked:

This is an excellent question, particularly because the change
being discussed in taxdata issue #53 is billed as a simplification.

And I have two more questions about this plan:

(1) Will the `puf.csv` file still be distributed as now (for those
who view the change being discussed in taxdata issue #53
as a complication rather than simplification)?

(2) Will there be absolutely no

[2017-01-02 03:14] martinholmer commented on #42
Closing taxdata issue #42 because it has been resolved by merged taxdata pull request #43 that adds the `nu05` variable to the `puf.csv` file.

[2017-01-02 03:15] martinholmer commented on #42
@MattHJensen,  Do you want to close taxdata issue #42?  It seems to be resolved.

[2017-01-24 16:04] martinholmer opened #55 "Where in taxdata repo is program that writes WEIGHTS.csv file?"
@andersonfrailey,  Which program writes the final version of the `WEIGHTS.csv` file?

[2017-01-24 16:07] andersonfrailey commented on #55
@martinholmer it is [CLP_solver_16Years.py](https://github.com/open-source-economics/taxdata/blob/master/Stage%20II/CLP_solver_16Years.py)

[2017-01-24 17:33] martinholmer commented on #55
@andersonfrailey,  Thanks for the pointer to the code that generates the `WEIGHTS.csv` file.
Here are the last two statements of that Python program:
[code]
I think we need to insert the following statement between these two existing statements:
[code]
I think that will round the weights to the nearest whole number and then convert them to an integer datatype, so that the z.to_csv() call will writ

[2017-02-03 13:52] #55 closed

[2017-02-03 14:01] martinholmer commented on #53
The creation of the [private taxpuf repository](https://github.com/OpenSourcePolicyCenter/taxpuf) resolves taxdata issue #53, right?  Unless somebody corrects my understanding, I'll close this issue on Monday, Feb 6th.

@andersonfrailey @MattHJensen @Amy-Xu @PeterDSteinberg

[2017-02-03 14:05] martinholmer commented on #44
The creation of the private taxpuf repository resolves taxdata issue #44, right? Unless somebody corrects my understanding, I'll close this issue on Monday, Feb 6th.

@andersonfrailey @MattHJensen @Amy-Xu @PeterDSteinberg

[2017-02-03 14:09] martinholmer commented on #42
taxdata pull request #43 resolves issue #42, right?   Unless somebody corrects my understanding, I'll close this issue on Monday, Feb 6th.

[2017-02-03 14:16] martinholmer commented on #38
@andersonfrailey, What is the status of taxdata issue #38?  Seems like issue #38 combines quite a few steps into one issue.  Haven't some of the steps mentioned in #38 already been taken?  And doesn't your plan for adding new Stage3 AGI-strata adjustment ratios make other steps obsolete?

@MattHJensen @Amy-Xu

[2017-02-03 14:19] martinholmer commented on #31
@andersonfrailey,  Where do we stand on taxdata issue #31?  Hasn't all this been done?  If so, it makes sense to add a comment describing what has been done to resolve issue #31, and then close issue #31.

@MattHJensen @Amy-Xu

[2017-02-03 14:24] martinholmer commented on #9
@MattHJensen, You raised taxdata issue #9 on "publishing summary stats" about 15 months ago.
Hasn't this issue been resolved by the tabulations @Amy-Xu added to the Tax-Calculator repo some time ago?

[2017-02-03 14:29] andersonfrailey commented on #42
@martinholmer correct. This issue can be closed.

[2017-02-03 14:35] andersonfrailey commented on #38
@martinholmer issue #38 is mostly complete. I've added the variables discussed, we've decided against adding a $5 million target in favor of adjustment factors, and I've completed the CBO data updates.

All that is left that was mentioned in this PR is creating the new `puf.csv` file from the 2010 PUF and 2016 CPS (original post stated 2015, but in the time that has passed the 2016 is now availabl

[2017-02-03 14:37] andersonfrailey commented on #31
@martinholmer this is a work in progress. We recently brought on an intern who is SAS certified and knows some Python so she is familiarizing herself with the matching scripts and will work with me to get them all translated.

[2017-02-03 14:49] martinholmer commented on #42
@andersonfrailey, Thanks for the quick confirmation.  Closing resolved issue #42.

[2017-02-03 14:50] martinholmer commented on #42
Oops!  Guess I don't have permission to close an issue in this repository.

@MattHJensen

[2017-02-03 14:52] martinholmer commented on #38
@andersonfrailey, Thanks for the update on taxdata issue #38.  Seems like #38 should be closed.

[2017-02-03 14:54] martinholmer commented on #31
@andersonfrailey, Thanks for the quick and informative update on taxdata issue #31.  We'll keep this issue open.

[2017-02-03 19:35] martinholmer opened #60 "Logic for new taxdata/puf_finalprep/puf_factors_processing.py"
@andersonfrailey,  Below is my version of a script --- `puf_factors_processing.py` --- that converts blowup factors from the way they are expressed inside the taxdata repo to the way they are expressed in the Tax-Calculator repo.  I think the only thing you will have to change is the `input_filename` because the input `StageIFactors.csv` file will not be in the taxdata/puf_finalprep directory but

[2017-02-05 15:08] #42 closed

[2017-02-06 14:57] martinholmer commented on #44
@PeterDSteinberg, The creation of the private taxpuf repository resolves taxdata issue #44, right?
Can you confirm this?

[2017-02-06 14:57] martinholmer commented on #53
@PeterDSteinberg, The creation of the private taxpuf repository resolves taxdata issue #53, right?
Can you confirm this?

[2017-02-06 15:05] PeterDSteinberg commented on #53
Yes, this is resolved by `taxpuf`.  `taxpuf` is now in use in the `deploy` repo for deploying dropq workers.  If anyone needs help with `taxpuf` installs or updates, let me know at any time.

[2017-02-06 15:05] #53 closed

[2017-02-06 15:08] andersonfrailey commented on #60
@martinholmer, running your code I was able to successfully reproduce `put_factors.csv` in [TaxCalc PR #1178](https://github.com/open-source-economics/Tax-Calculator/pull/1178). I will open up a PR in TaxData to add this script unless you want to wait until the the restructuring of the repo is complete.

[2017-02-06 15:08] PeterDSteinberg commented on #44
This issue is resolved.  Note the 4th bullet item in my first comment will not be done, at least not at this point.

[2017-02-06 15:08] #44 closed

[2017-02-06 17:17] martinholmer commented on #60
@andersonfrailey said:

Excellent!  Wait on the PR for our discussion of the repo restructuring this afternoon.

[2017-02-06 17:33] martinholmer commented on #51
@andersonfrailey,  Has taxdata issue #51 been resolved?  If so, can you close it?  If not, can you describe what else needs to be done?

[2017-02-06 21:19] andersonfrailey commented on #51
Closing

[2017-02-06 21:19] #51 closed

[2017-02-07 18:01] martinholmer opened #65 "AIPD factor missing in action"
I've merged the current master branch --- which includes PR #63 --- into the PR #64 branch.
Then I did this with the current PR #64 code:
[code]
The `Stage_I_factors.csv` output is as always, but when I compare the `factors_finalprep.py` output file (now called growfactors.csv) with the `growfactors.csv` in taxcalc PR #1178 (which I made from the old `StageIFactors.csv` file in taxcalc) there is o

[2017-02-07 18:09] martinholmer commented on #65
I've now merged PR #64 into the taxdata master branch, so the problem reported in issue #65 can be reproduced with the taxdata master branch.

[2017-02-07 18:21] martinholmer commented on #65
I've now merged Tax-Calculator PR #1178 into the Tax-Calculator master branch, so the correct version of `growfactors.csv` is now on the Tax-Calculator master branch.

The problem is that taxdata stage1 logic does not produce a `growfactors.csv` file that includes the AIPD factor.

@andersonfrailey, Can you prepare a pull request that fixes this problem?

[2017-02-07 18:23] martinholmer commented on #60
Issue #60 has been resolved by pull request #63.

[2017-02-07 18:23] #60 closed

[2017-02-07 18:29] andersonfrailey commented on #65
@martinholmer I'll get to work on that now.

[2017-02-13 15:48] MattHJensen opened #77 "Should the CPS-PUF matching scripts available in TaxData?"
My instinct is that the SAS scripts for the CPS-PUF match should be in TaxData. Once the Python scripts are available, they can replace the SAS scripts. Any reason not to keep them here?

cc @andersonfrailey @martinholmer @Amy-Xu

[2017-02-13 15:50] Amy-Xu commented on #77
I have no clue.

[2017-02-13 15:59] martinholmer commented on #77
@MattHJensen said:

Sounds like a reasonable plan.  Where are those SAS scripts now?

@andersonfrailey @Amy-Xu

[2017-02-13 16:10] andersonfrailey commented on #77
This is reasonable to me. I can upload them now.

[2017-02-17 20:00] martinholmer commented on #65
taxdata issue #65 has been resolved by merged pull request #67.

[2017-02-17 20:00] #65 closed

[2017-03-03 22:07] martinholmer commented on #9
taxdata issue #9 was resolved by a series of Tax-Calculator enhancements contributed by @Amy-Xu.  So, taxdata issue #9 is being closed.

[2017-03-03 22:07] #9 closed

[2017-03-03 22:09] martinholmer commented on #77
taxdata issue #77 was resolved by the merger of taxdata pull request #78, which was contributed by @andersonfrailey.

[2017-03-03 22:09] #77 closed

[2017-03-10 20:23] jjbergdo opened #84 "Tax elasticities on giving"
Hey everyone. I am writing on behalf of the research team at the Indiana University Lilly Family School of Philanthropy with a  request. We are developing a white paper on the effects of certain proposed policy changes to both charitable giving and overall tax revenue. Prior literature on this has generally assumed a single elasticity for the price of giving, but we have the ability, through use o

[2017-03-10 20:31] MattHJensen commented on #84
@jjbergdo, could you repost this issue in tax-calculator? Once I send you more info on the puf.csv file, we'll use this repo to discuss imputations.

[2017-03-10 20:33] jjbergdo commented on #84
@MattHJensen I can do that. Thanks.

[2017-03-10 20:34] MattHJensen commented on #84
Thanks. Closing here.

[2017-03-10 20:34] #84 closed

[2017-03-30 12:56] martinholmer commented on #18
The extreme age differences between head and spouse problem identified in taxdata issue #18, has been found to be caused by the SAS scripts that generated the `cps-matched-puf.csv` file as described in #87.  The merged pull request #87 is a temporary work-around this problem.  As described in #87, the long-run plan is to fix the SAS scripts, which will mean the `age_spouse` variable in the  `cps-m

[2017-04-14 15:12] GoFroggyRun commented on #32
@MattHJensen @martinholmer:

I have finished a revision of the draft (please find attachment) that addresses concerns mentioned in previous discussions. Thanks for @martinholmer's careful review and thoughtful comments.

Before proceeding to any imputation-related reforms and comparisons (as suggested by @MattHJensen ), I'd be interested in checking in with you guys and see what reforms would be h

[2017-05-01 01:38] martinholmer opened #89 "Progress on fixing spouse ages in SAS code"
@andersonfrailey said on March 29, 2017:

@andersonfrailey,  Can you provide us with a progress report on the work you and Julia are doing?

[2017-05-01 17:38] martinholmer commented on #32
@GoFroggyRun,  I've finally had a chance to read your revised description of imputing itemized expense amounts for non-itemizers.  That description was attached to the conversation of taxdata issue #32 during April 2017.

This latest version is much improved, so thanks for all the extra work.  I've have a suggestion and several questions.

(1) Need a shorter and more descriptive paper title.

How

[2017-05-01 18:03] andersonfrailey commented on #89
Julia and I have been working on getting all of the SAS code used in the matching process translated into python and while doing so have found a few bugs to fix including the one mentioned above. I haven't had the oportunity to do a full evaluation of the results, but I've recently talked to Julia about it and her initial assesment is the fixes she proposed solve most of the age issues.

I would e

[2017-05-01 18:15] martinholmer commented on #89
@andersonfrailey,  Thanks for the progress report.

[2017-05-01 18:44] feenberg commented on #32
Where is the document discussed here?

dan feenberg

On Mon, 1 May 2017, Martin Holmer wrote:

[2017-05-01 20:50] martinholmer commented on #32
On Mon, May 1, 2017 at 2:44 PM, Daniel Feenberg <notifications@github.com>
wrote:

I've attached the pdf to this email.

[2017-05-02 10:52] martinholmer commented on #32
@GoFroggyRun,  Let me amplify the concerns I expressed in my question (6), which was posed in taxdata issue #32 on May 1, 2017.

I have no idea what the distribution of non-cash charitable contributions (`e20100`) is in the CEX sample of non-itemizers you constructed.  But I can tabulate the `e20100` distribution among 2013 **itemizers** in the `puf.csv` sample.  The distribution I tabulate below

[2017-05-02 17:35] GoFroggyRun commented on #32
@martinholmer thanks for your thoughtful comments and follow-up analysis, I'll first partially address your concerns.

How about Imputing Deductible Expense Amounts for Non-Itemizers?

I don't have a strong preference regarding the title, so I don't have problems with this one.

I don't understand why you have dropped these three groups from the CEX sample.
(a) You are splitting families into fili

[2017-05-11 14:08] andersonfrailey opened #90 "CPS File Progress Report"
This issue is just an overview of the progress we've made in preparing the CPS-based file for use in Tax-Calculator.

John gave me the files needed to create the CPS file along with an associated weights file that covers the years 2015-2027. The SAS scripts create tax-units from the CPS in the same manner used to create the CPS tax-units that are then merged with the 2009 IRS-PUF file to create th

[2017-05-11 15:27] martinholmer commented on #90
@andersonfrailey said in taxdata issue #90 wrt the being-developed CPS data file:

Thanks for the progress report!  Sounds like things are progressing nicely.

I always thought one of the big advantages of CPS data is that you know everybody's age, right?
If so, then why can't you make a pretty good estimate of the value of the following variables for each filing unit?
[code]
Without these variabl

[2017-05-12 12:39] andersonfrailey commented on #90
@martinholmer, you are correct that a big advantage of the CPS is knowing everybody's age. The two variables you listed first, `EIC, f2441` are two that I'll be turning my attention to next.

And we do have the values for the second set listed.

[2017-05-12 12:50] martinholmer commented on #90
@andersonfrailey said:

Great!

[2017-05-12 16:48] martinholmer commented on #90
For earlier discussion (from 03-Nov-2016 to 02-Dec-2016) of issues related to the development of this CPS input file for Tax-Calculator, see [Tax-Calculator issue 1030](https://github.com/open-source-economics/Tax-Calculator/issues/1030).

[2017-05-15 14:05] martinholmer commented on #32
@GoFroggyRun said about what @martinholmer said:

I'm simply suggesting (because you have so few CEX observations) that you not discard multiple-family CEX units.  Spit those CEX units into families, and then, use you procedures to split each of those families into tax filing units.

[2017-05-16 15:13] GoFroggyRun commented on #32
@martinholmer said:

and followed-up by:

And only 4.84 million (about 23 percent of the positives and 11 percent of all itemizers) have a 2013 e20100 value larger than $1,000.
But your graph on page 13 shows the vast majority of non-itemizers have imputed values of e20100 around $1,300 and very few have zero.
Can the basic shape of the e20100 distribution among non-itemizers really be that differ

[2017-05-16 17:49] andersonfrailey commented on #90
Quick update on the CPS file. [Here](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb) is a notebook where you can see some comparisons between the CPS and PUF file after running Tax-Calc with each for 2017.

Some notable differences between the two can be seen in regular tax and income tax liability. That could be partially due to a couple of

[2017-05-16 20:41] feenberg commented on #32
I do think mixing 80 values is the problem. I left Sean with some ideas
last Friday for re-evaluating the optimal k and we should give him a
chance to implement that.

dan

On Tue, 16 May 2017, Sean.Wang wrote:

[2017-05-16 22:12] MattHJensen commented on #32
@GoFroggyRun, in addition to posting the tables that we discussed today, could you post an overview of Dan's ideas relating to "mixing 80 values".

[2017-05-17 17:07] GoFroggyRun commented on #32
@MattHJensen:

Here's the two plots we've discussed:

First one, weighted version of imputed variables:

![weighted-density](https://cloud.githubusercontent.com/assets/13324931/26165829/5e7538d0-3aff-11e7-9355-e99126a07cd8.png)

And the original CEX distribution in uniform weights:

![cex_distribution](https://cloud.githubusercontent.com/assets/13324931/26165846/6fbc10c8-3aff-11e7-9458-34f3335d341

[2017-05-17 18:29] feenberg commented on #32
On Wed, 17 May 2017, Sean.Wang wrote:

I think we want to minimize the error in the estimate of the correlation.

dan

[2017-05-17 20:30] andersonfrailey commented on #90
I've added a few distribution plots for the CPS data to the [notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb). It looks to me like significant stage 3 adjustment will be needed.

[2017-05-23 21:37] andersonfrailey commented on #89
Each of the SAS files is now translated, but there are still bugs being ironed out. I don't want to open a PR here until we can get everything running correctly, so [here](https://github.com/andersonfrailey/StatMatch) is a link to the repo I set up on my personal account to work on the translation if you're interested in following along.

Now that @hdoupe has started, he'll be helping me get every

[2017-05-25 13:54] Amy-Xu commented on #33
Is anyone handling this issue now?

[2017-05-31 21:32] MattHJensen opened #91 "Wishlist for CBO data"
This issue is meant for a discussion of wishlist for supplemental baseline data from CBO.

cc @martinholmer @feenberg @Amy-Xu @andersonfrailey @salimfurth @henrydoupe @jdebacker @rickecon

[2017-06-01 14:09] Amy-Xu commented on #91
- Income distribution (personal income, compensation of employees, wage and salaries, non-wage income)
- Wage and Salaries distribution by AGI class

[2017-06-01 14:15] codykallen commented on #91
For individuals: losses, deductions and excess credits carried forward.
For firms: net operating losses carried forward, other credits carried forward (e.g. the prior year minimum tax credit).

[2017-06-01 14:18] andersonfrailey commented on #91
Capital gains realizations projections. They're in the January 2016 detailed revenue projections but no others.

[2017-06-07 19:34] andersonfrailey commented on #90
John sent me a preliminary version of state and local tax deductions. The [notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb) has been updated to include a chart comparing totals for a number of itemized deductions.

[2017-06-08 21:10] andersonfrailey opened #92 "Python Translation Initial Results"
I just finished running the python-produced PUF file through tax-calc. [Here](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/New%20PUF%20Analysis.ipynb) is a notebook containing the results. Is there anything else people would like added to the notebook?

Most of the results are almost exactly the same. There is a slight dip in the number of returns and tax units w

[2017-06-08 21:22] martinholmer commented on #92
@andersonfrailey, Please coordinate with me before you issue a new Python-generated version of the `puf.csv` file because I want to add some code to the `final_prep.py` script that hopefully will eliminate the need in Tax-Calculator for the out-of-place `ID_Casualty_frt` data adjustment.

@MattHJensen

[2017-06-08 21:51] martinholmer commented on #92
@andersonfrailey,  Whey are there only **half** the number of non-filers in the Python-generated file relative to the old SAS-generated file?
[code]

[2017-06-09 10:14] martinholmer commented on #92
@andersonfrailey,  Currently I'm making a study of Tax-Calculator utility functions that people use in their interactive work with the taxcalc package.  Your notebook in taxdata issue #92 is an impressive example of using the taxcalc package interactively.  Your script starts with these lines:
[code]
Can you explain the `distribution` and `index_list` functions you're using?  It seems as if you ha

[2017-06-09 13:34] andersonfrailey commented on #92
@martinholmer, I'm happy to coordinate with you as @hdoupe and I put the finishing touches on the script. I'll be sure to keep you in the loop before any PUF releases.

I also share your concern with the large drop in the number of non-filers. Some variation is expected because filing status is randomly changed for some tax-units (see [this](https://github.com/open-source-economics/taxdata/blob/ma

[2017-06-09 16:04] Amy-Xu commented on #90
@andersonfrailey Just to confirm all blow-up factors used for CPS-Tax-Unit file is the same ones used for PUF, is that right? Same for the stage-I factors used to calculate weights?

If that's the case, I think we might need to develop a separate stage-I factor, or adjust the base-year file before feeding it to TC due to the large gap for several income/expense items.

[2017-06-09 16:20] martinholmer commented on #90
@Amy-Xu asked:

Unless I'm confused, "blow-up factors" and "stage-I factors" are two different names for the same thing.  And yes, they affect the baseline (CBO-derived) projection, so they **must** be the same for the all micro datasets, by definition.

@Amy-Xu continued:

This is not possible given the logic above.

The stage2 weights can differ for the CPS and PUF datasets and the stage3 adjust

[2017-06-09 17:11] Amy-Xu commented on #90
@martinholmer said

Right I'm aware of that so I said 'just to confirm'.

For this part, it's true that we derive most factors to match CBO baseline, but not every factor is derived from CBO projection. Instead, some of the factors are tuned to fit PUF data. For example, we originally assumed to apply personal income factor (ATXPY) to most PUF variables outside AGI, which is a very reasonable assu

[2017-06-09 19:33] martinholmer commented on #92
@andersonfrailey said:

Thanks for the explanation.  Let me be sure I understand.
[code]
So `sas_was` is a tuple containing two lists, right?

As part of my study of Tax-Calculator usage patterns, I'm curious to know if you used any functions in the `taxcalc/utils.py` file to build your `distribution` function.  Or, were those utility functions not helpful for some reason?  I guess those utility f

[2017-06-12 12:56] andersonfrailey commented on #92
@martinholmer

Correct.

I did not use any of the utils functions, though in hindsight I could have taken advantage of the `weighted_sum` function.

In this case, it was easier to create my own function simply because I wanted to exactly match the SOI data format, rather than look by weighted decile or any of the other distribution options available in `utils.py`

[2017-06-12 13:08] andersonfrailey commented on #90
@Amy-Xu

As in perform an adjustment similar to what we do in stage 3? Or did you have something else in mind?

[2017-06-12 13:21] martinholmer commented on #92
This all makes perfect sense.  Thanks for answering my questions.

[2017-06-12 13:25] martinholmer commented on #92
@andersonfrailey,  Can you show us the diagnostic tables for the python and sas results?  This will give us a better idea of any aggregate differences between the old sas-generated puf.csv and the new python-generated puf.csv input file.

So far, we know there is a big difference in the number of non-filers.  Do you have any sense about which is closer to the truth?

@MattHJensen @feenberg @Amy-Xu

[2017-06-12 13:30] martinholmer commented on #92
@andersonfrailey, Can you show us the distribution of (taxpayer_age minus spouse_age) for the MARS==2 subsample?  One of the things we were looking for in the python-generated ages was a more sensible couple-age-difference distribution.  If the ages look better, then I could remove the "bandaid" logic in `puf_data/finalprep.py`.

@MattHJensen @feenberg @Amy-Xu

[2017-06-12 13:40] Amy-Xu commented on #90
@andersonfrailey I was thinking to tweak stage I factors a bit like AIPD, but perfectly fine with a Stage III as well. The goal is to take a look whether adjusting the itemize deductions would fix itemizer/standard deductor numbers, and furthur help AMT numbers.

[2017-06-12 14:11] martinholmer commented on #90
@Amy-Xu said in issue #90 wrt the CPS dataset:

Yes, it is true that not all of the stage1 growfactors are taken from an CBO projection.  The story you tell about why the mortgage interest needed its own growfactor (because of the sharp drop in mortgage interest rates following the 2008-2009 financial crash and house-price deflation) is true.  But that growfactor reflects the reality of the macroe

[2017-06-12 15:16] andersonfrailey commented on #92
@martinholmer

I found that one of the wage thresholds used to determine filing status during the CPS tax-unit creation process was set at 1,000 rather than 10,000. Fixing this increased the number of non-filers by about 200,000. This still leaves a large deficit, but it's a start. I'm still combing through a few other sections of code related to filing status determination and will report back my

[2017-06-12 15:32] martinholmer commented on #92
@andersonfrailey said:

Thanks.

[2017-06-12 21:15] andersonfrailey commented on #92
[Notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/New%20PUF%20Analysis.ipynb) has been updated to include diagnostic tables and a histogram depicting the distribution of `age_head - age_spouse` as requested by @martinholmer.

The issue with the lack of non-filers has also been fixed.

When we make the tax-units and determine their filing status during the C

[2017-06-12 22:51] martinholmer commented on #92
@andersonfrailey,

Great that you have the non-filer problem solved.  Good work!

Sorry I wasn't more clear about my age-difference request.  Please don't plot the absolute value of taxpayer_age minus spouse_age.  I'd like to see the distribution of both positive and negative values of the age difference.  Also, perhaps a table with the weighted counts to see if the new python-generated data reall

[2017-06-12 23:08] martinholmer commented on #92
@andersonfrailey,

Assuming the python-generated age-difference distribution looks good, how should we proceed?

In general it seems like you should prepare a pull request that processes this new raw python-generated `puf.csv` file.  This processing will probably produce slightly different stage2 weights and slightly different stage3 adjustment factors, right?

And the `finalprep.py` logic will ne

[2017-06-13 10:35] martinholmer opened #95 "Preparing a new puf.csv file"
There are several enhancements nearing completion that need to be finished before we can issue a new version of the `puf.csv` file.  Coordinating these separate enhancements --- so that there is just one new `puf.csv` file incorporating all the enhancements --- will minimize the disruption in projects that use the `puf.csv` file.  Here are the separate enhancements:

- prepare the raw `cps-matched

[2017-06-13 12:22] MattHJensen commented on #95
The [request that requires nu18](https://github.com/open-source-economics/Tax-Calculator/issues/1409) was for the new capability on TaxBrain by the 20th. It seems very unlikely that can be accomplished if we bundle it with all of these other changes, and even if it could be accomplished by rushing, I don't think we should rush the adoption of the new puf.csv file.

That said, it only makes sense n

[2017-06-13 12:44] martinholmer commented on #95
@MattHJensen said:

How likely is that?  TaxBrain is still using **0.8.3** from May 1st, rather than 0.8.4 or the most recent 0.8.5 from June 8th.

[2017-06-13 12:57] MattHJensen commented on #95
I will get in touch with @PeterDSteinberg as well as the enhancement requester to see whether he and other webapp-public contributors have bandwidth later this week / early next week to work on deployment

We can skip over taxcalc releases for TaxBrain, so the fact that we are a few releases behind shouldn't slow us down.

[2017-06-13 13:12] MattHJensen commented on #95
@PeterDSteinberg thinks next Tuesday is a reasonable goal _if_ we have the taxcalc and taxpuf releases by eod Thursday.

[2017-06-13 13:12] martinholmer commented on #95
@MattHJensen said:

I interpreted TaxBrain being stuck on 0.8.3 as an indication that the code was being changed so much (for example, [webapp-public pull request 556](https://github.com/OpenSourcePolicyCenter/webapp-public/pull/556)) that it was not possible to upgrade TaxBrain to 0.8.4 or 0.8.5.  Otherwise, why weren't those upgrades done?

[2017-06-13 13:21] MattHJensen commented on #95
That's not quite right. More accurately, the pause in releases was to give the webapp-public team time to make progress on, for example, 556, rather than dealing with the releases. We did attempt a 0.8.4 release, but we thought  https://github.com/open-source-economics/Tax-Calculator/issues/1367 was blocking it and that it would make more sense to wait until you were back from vacation. Anyways, t

[2017-06-13 14:17] andersonfrailey commented on #92
@martinholmer I've updated the [notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/New%20PUF%20Analysis.ipynb) to show the true value of the age differences rather than the absolute value. I also split the histograms and increased the number of bins to make them easier to read.

Are the tables I added to show the weighted counts in  various age difference bin

[2017-06-13 14:33] martinholmer opened #96 "Next version of puf.csv file"
@MattHJensen wants to split up the activities mentioned in issue #95 so that a new version of the **SAS-generated** `puf.csv` file is available no later than **this Thursday**.  So, the things that need to get done in the next day or so include the following:

- remove *ad hoc* age-difference logic from `puf_data/finalprep.py` in anticipation of the new python-generated `cps-matched-puf.csv file t

[2017-06-13 15:14] martinholmer commented on #95
Closing issue #95 as it has been replaced by issue #96.

[2017-06-13 15:14] #95 closed

[2017-06-13 15:19] salimfurth commented on #91
Distribution of labor force participation estimates by skill/education/income if they do anything like that.

[2017-06-13 15:24] martinholmer commented on #92
@andersonfrailey said:

Thanks.  The graphs are cool looking and, even better, they show the new python-generated raw `cps_matched_puf.csv` file has quite sensible spouse age differences.  I'll begin working on a taxdata pull request that removes the *ad hoc* age-difference code added by pull request #87.

I'm in complete agreement about the changes in `puf_data/finalprep.py` that need to be made

[2017-06-13 17:25] andersonfrailey commented on #90
@Amy-Xu @martinholmer, Stage 3 adjustments wouldn't be the best way to go about this because all stage 3 does is adjust the _distribution_ of the variable, not the total amount.

In my opinion, a one time adjustment like @martinholmer proposed would work best. To be clear, this CPS file is being produced by SAS files provided by John, but this adjustment could be added at the end of the CPS versio

[2017-06-13 17:30] martinholmer commented on #90
@andersonfrailey said in issue #90 wrt the new CPS-only input dataset:

Sounds sensible to me.  What do you think, @Amy-Xu ?

[2017-06-13 17:35] andersonfrailey commented on #92
@martinholmer, the raw `cps-matched-puf.csv` file you're looking at (with 219,806 records) was created with the SAS scripts. We never established why running the scripts on my machine versus John's resulted in eight fewer records that the current puf.csv (there was a previous issue discussing this, but I haven't found it yet. I'll post a link when I do).

The raw file created from the python scrip

[2017-06-13 17:36] andersonfrailey commented on #96
From #92 in response to @martinholmer:

The raw file created from the python scripts are creating a PUF with 215,525 records and that's what we will be starting with.

[2017-06-13 17:41] martinholmer commented on #92
@andersonfrailey said:

OK, that sounds good.  Can you send me a copy of that python-generated raw file via private channels?  I want to test my two pending pull requests (#94 and #97) with it.  Thanks.

[2017-06-13 18:04] Amy-Xu commented on #90
@andersonfrailey  said:

@martinholmer followed with:

Yes that sounds good to me!

[2017-06-13 18:10] Amy-Xu commented on #90
@andersonfrailey I personally feel it would be valuable to ask John whether this level (we're talking about ~150b difference for both state & local and home mortgage) of discrepancy is expected while implementing this adjustment.

[2017-06-13 18:47] andersonfrailey commented on #90
@Amy-Xu I agree. I'll shoot him an email.

[2017-06-14 09:14] martinholmer commented on #92
@andersonfrailey said in taxdata issue #92:

@andersonfrailey, I've made all four of the above changes to the `puf_data/finalprep.py` script, but am wondering whether the current version of the `age_consistency` function is needed any longer.  Could you take a look and let me know what you think?

Other than this lingering issue, the Tax-Calculator repo is ready to go with the new Python-generated

[2017-06-14 09:33] martinholmer commented on #18
taxdata issue #18 has been resolved by pull request #100 as described in issue #92.

[2017-06-14 09:33] #18 closed

[2017-06-14 09:34] martinholmer commented on #89
taxdata issue #89 has been resolved by pull request #100 as described in issue #92.

[2017-06-14 09:34] #89 closed

[2017-06-14 09:35] martinholmer commented on #96
taxdata issue #96 is being resolved by pull request #100.

[2017-06-14 09:35] #96 closed

[2017-06-14 13:21] andersonfrailey commented on #92
@martinholmer I believe we should keep the `age_consistency` function. I just reran the final prep script without it and the age distribution, while still better than the current SAS file, does have some extreme values. `age_head - `age_spouse` ranges from -58 to 85 rather than the -17 to 18 range achieved with the `age_consistency` function.

![agesas](https://user-images.githubusercontent.com/20

[2017-06-14 13:51] martinholmer commented on #92
@andersonfrailey,  I'm totally confused.  I ran the current (master branch) version of finalprep.py, which includes the age_consistency function **without** the PR#87 code, and get an age-difference range from -58 to +85.  What version of the age_consistency function did you use to generate an age-diff range of -17 to +18?  Did you use an age_consistency function that contained the #87 logic (whic

[2017-06-14 14:45] andersonfrailey commented on #92
@martinholmer that's my mistake. I was still on my branch with #87 logic included when I thought I was running without it. After correcting that mistake I get the same results as you do.

[2017-06-14 14:53] martinholmer commented on #92
@andersonfrailey said:

Thanks for the clarification; I had guessed that was the situation.

[2017-06-14 15:32] martinholmer commented on #92
taxdata issue #92 is now resolved with the merge of taxdata pull request #100 (and associated changes in the `puf_data/finalprep.py` script).

[2017-06-14 15:32] #92 closed

[2017-06-14 17:29] MattHJensen opened #103 "This Repo: SAS->Python Accomplished!"
GH just updated this repo's language tag from SAS to Python:

![image](https://user-images.githubusercontent.com/8301092/27144793-38606940-5101-11e7-80d0-8b36bab0ebd9.png)

This was the result of a ton of work by a lot of people over the last couple of years.

Notably, @Amy-Xu led the first translation of stage 1 and stage 2 to Python, and @andersonfrailey led the effort to translate the CPS match

[2017-06-14 17:45] andersonfrailey opened #104 "Alternatives to CyLp"
Before PR #100 was merged there was some discussion of finding an alternative to CyLp to use in stage 2 of our extrapolation process. @hdoupe and I have talked about this offline as well. I'm opening this issue so we have a place to discuss other open source options we may have.

I did a quick search after lunch, and if there is no opposition to moving away from Python, there is another CLP interf

[2017-06-14 17:59] martinholmer commented on #104
@andersonfrailey and @hdoupe,
Thanks for following up on this which-linear-programming-library-to-use issue.

My main frustration was not being able to install `cylp`, but now I know about easy_install and all is good.  We should probably add that bit of information in the `taxdata/README.md` file.  This is the only "extra" Python package needed to work with the taxdata repo, right?

Never underes

[2017-06-14 19:52] codykallen opened #105 "Components of interest deduction"
In functions.py in Tax-Calculator, I believe the only interest deduction we use is e19200, defined as Sch. A: total interest deduction.

Realistically, there are different components, and it could be useful to differentiate between them. These include mortgage interest on homes, interest on various types of business debt, and investment interest paid (only deductible from investment income).

Is i

[2017-06-14 20:01] martinholmer commented on #105
@codykallen said:

You can answer that question by looking at the variables available in the 2009 IRS-SOI PUF.
The documentation for that dataset is [here](http://users.nber.org/~taxsim/gdb/gdb09.pdf).

If there are no components of e19200 in the PUF, then I don't see how we could decompose that variable.

[2017-06-14 20:16] codykallen commented on #105
@martinholmer mentioned the PUF documentation. The documentation includes
- e19200: Sch A: Total interest paid deduction (we use this)
- p25380: Sch E: Rent/Royalty interest expenses (not in records_variables.json)
- e58950: Form 4952: Total investment interest expense (not in records_variables.json)

Note that we do include e58990 (Investment income elected amount from Form 4952). However, due to

[2017-06-14 20:40] martinholmer commented on #105
@codykallen asked:

What is the relationship between p25380 and the other variables in `records_variables.json`?

What is the relationship between e58950 and the other variables in `records_variables.json`?

Are they subtotals of other variables we are using or what?

[2017-06-14 20:59] codykallen commented on #105
@martinholmer asked,

p25380 is part of Sch E. The only two measures we currently use from Sch E are e02000 (Sch E net income or loss) and p25470 (royalty depletion or rental depreciation, which we use when calculating investment income for the EITC). In reality, p25380 has been subtracted from p25350 (gross rent/royalties received), and e02000 is net of this and other measures. But if the net int

[2017-06-14 22:24] martinholmer commented on #105
@codykallen provided:

It seems to me that if you want to make the case for adding these variables to the `puf.csv` file, you need to show exactly how they would be used in the Tax-Calculator source code.  A quick read of the info you supplied left me in the dark about how these variables would be used in the code.  How many PUF filing units have nonzero values for these variables?  Also, how woul

[2017-06-15 13:17] andersonfrailey commented on #90
In response to my email John pointed out that he did the imputations for _every_  tax unit, where the matched file would only have values for the records that had filed so I was comparing two things that weren't really the same. I've updated the [notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb) to account for this and the state and

[2017-06-15 16:02] Amy-Xu opened #106 "Extrapolate welfare data"
The third task [outlined in this issue](https://github.com/open-source-economics/UBI-examples/issues/9) is to develop an extrapolation routine for welfare data in CPS tax unit dataset. An initial thought is to assume for each program, participation and benefit grow at respectively X and Y percent each year, where X and Y are derived from historical data. (If official projection targets are availab

[2017-06-15 16:10] Amy-Xu commented on #106
Have been collecting [targets & historical data](https://docs.google.com/spreadsheets/d/1COz47zqm-rSUn5kM7QSJtHk6CmcUI5Uv--bxs8wCu20/edit?usp=sharing), and will keep updating this spreadsheet.

[2017-06-15 17:14] MattHJensen commented on #105
@codykallen A couple of papers are listed in #33. The papers or their authors might have some ideas for decomposing e19200.

[2017-06-15 17:16] MattHJensen commented on #33
@Amy-Xu, @codykallen asked a question about this issue over in #105, and now there is a relevant discussion.

[2017-06-15 18:25] codykallen commented on #105
@martinholmer said

The main purpose of including these is to differentiate between different kinds of interest paid, as the different types of interest would not necessarily be treated equally under potential tax reforms. For example, suppose that a potential reform proposed eliminating the mortgage interest deduction but retaining the investment interest deduction. Although politically difficult

[2017-06-15 18:29] Amy-Xu commented on #105
[SOI table 2.1](https://www.irs.gov/uac/soi-tax-stats-individual-statistical-tables-by-size-of-adjusted-gross-income) does include the distribution of components of total interest paid (e19200) by AGI class. We might be able to impute with the data there. The components provided there are

- Home mortgage interest (paid to financial institution/individuals)
- Deductible points
- Qualified mortgage

[2017-06-16 18:28] andersonfrailey commented on #90
As mentioned previously, many of the income variables in the CPS-PUF will need substantial adjustments to get their distribution right. Unlike the PUF file, the CPS-PUF contains records from the 2013, 2014, and 2015 CPS, which correspond to 2012, 2013, and 2014 tax years. The 2013 and 2014 files are aged to match the 2015 file (2014 tax year).

Because so many of the variables need adjusting and t

[2017-06-16 19:02] Amy-Xu commented on #90
By adjustment, do you mean augment or shrink the total to match PUF? How many variables do we need adjustment? @andersonfrailey

[2017-06-16 19:15] andersonfrailey commented on #90
@Amy-Xu, neither. In this case I'm just talking about fixing the distribution of the variables. Specifically I'd say interest income and ordinary and qualified dividends definitely need adjustments and business income could benefit as well.

The actual totals for the income variables are actually relatively close to the PUF already.

[2017-06-16 20:48] Amy-Xu commented on #90
I see, that sounds valuable. At the same time, it might also be helpful to investigate what is the major source dragging individual income tax liability off by almost 40%. The distribution of those income variables could be a reason, but not sure whether they're big problems given totals are close.

[2017-06-19 15:02] hdoupe commented on #104
I created a new [branch](https://github.com/hdoupe/taxdata/tree/linprog_experiments) to facilitate testing alternatives to CyLp.  I separated the `solve_lp_for_year` function into a function that prepares `A1`, `A2`, and `b` and a function that takes `A1`, `A2`, `b`, and `tol` and solves for `r` and `s`.

I also looked at writing a solver in Julia (`solve_lp_for_year.jl`).  This doesn't work yet,

[2017-06-19 21:55] Amy-Xu commented on #106
When clarifying this extrapolation problem to @hdoupe last Friday, I realized there might be a way to do the extrapolation at 'tax unit' level without participation targets at tax unit level. I thought it through again and haven't seen any loophole yet. So would love to hear how everyone feels about this plan:

1. Attach individual level probability (derived from logit regression based on 2014 dat

[2017-06-20 21:08] andersonfrailey commented on #90
I spent the day working on adjusting the distribution of interest and business income and ordinary and qualified dividends. I don't believe it's possible to get the distribution as accurate as we were able to with the PUF, but there is improvement.

AGI is reported in the CPS, but I quickly realized that it would not be very helpful. The highest reported AGI was just over $2 million, which would p

[2017-06-21 13:04] Amy-Xu commented on #90
The number of itemizers and standard deductors look much much better, but it seems from the last chart for itemized deduction, interest paid in CPS is gone in this version? @andersonfrailey

[2017-06-21 13:28] andersonfrailey commented on #90
@Amy-Xu that's because I'm working on slightly tweaking the final prep scripts and left `HMIE`, which I originally thought was equivalent to interest paid, out. `HMIE` is just home mortgage interest expense, part of e19200, but not all of it. It's still much higher than e19200 in the PUF in sum though.

I'm reading through the IRS documentation and there are a couple of instances where HMIE is not

[2017-06-21 13:33] Amy-Xu commented on #90
@andersonfrailey Sounds great. Thanks!

[2017-06-21 14:14] andersonfrailey commented on #90
Update on above comment. All of the instances where home mortgage interest isn't deductible are related to when you took out the mortgage and total home equity so it doesn't look like I'll be able to adjust `HMIE` based on that. Right now it's a little over $100 billion higher than e19200 in the PUF.

[2017-06-21 14:33] Amy-Xu commented on #90
@andersonfrailey along the line, I was wondering if HMIE wasn't imputed for the purpose of itemized deduction, it might include interest of standard deductors although this item is not deductible for them. So the total of HMIE might not be reflective how much is taken account in actual itemize deduction. Do you see what I mean? Have you looked at how much in total under the records who take itemiz

[2017-06-21 14:49] andersonfrailey commented on #90
@Amy-Xu

Yep. Both numbers from above are just for itemizers.

[2017-06-21 19:40] andersonfrailey commented on #90
Part of the reason refundable credits are so much higher in the CPS than the PUF is the number of children claimed for the EIC. EIC is topped at 3 in the PUF file and I did the same with the CPS, but the almost every tax unit in the CPS file claims 3 children while 90% of the tax units in the PUF claim none at all. Here's a table with the break down of the weighted sums:

|# Children Claimed|	% -

[2017-06-21 19:48] Amy-Xu commented on #90
👍 good catch! @andersonfrailey

[2017-06-22 14:18] andersonfrailey commented on #90
Issue with the EIC at least partially fixed. The piece of code that counted the number of children that could be claimed for the EIC was also giving children to tax units without any. The [notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb) has been updated to reflect the changes.

The error in income tax liabilities has dropped from -

[2017-06-22 14:28] codykallen commented on #90
@andersonfrailey, these are good improvements in dealing with the EITC problems in the CPS. As you mentioned,

If we are imputing the EITC instead of using the error-prone EITC data in the CPS, we should actually expect the CPS EITC amount to be somewhat lower than the PUF EITC amount in aggregate, due to the high error rate in the EITC. Hence imputed EITC payments may be less than actual EITC pay

[2017-06-22 14:48] andersonfrailey commented on #90
@codykallen, thanks for the info! Glad we have an explanation for at least some of the difference.

[2017-06-22 15:44] MattHJensen commented on #91
@Amy-Xu said:

- Income distribution (personal income, compensation of employees, wage and salaries, non-wage income)
- Wage and Salaries distribution by AGI class

Would you like to see all of the income items tabbed by AGI group, or something else? Which AGI groups would be best?

[2017-06-22 15:53] Amy-Xu commented on #91
@MattHJensen asked:

I was thinking the distribution by groups of the income items themselves -- that should be the easiest. But if distribution by AGI is available, it would be the best for tax modeling with micro data.

I thought just the SOI AGI bins.

[2017-06-22 21:59] Amy-Xu commented on #90
@andersonfrailey this is great progress! I roughly remember John said he wouldn't be too surprised if there's a 20% difference. Personally I feel a bit concerned about itemized deduction. Since Anderson has already gotten that in his plate, @MattHJensen do you think any other cell in diagnostic table need significant adjustment?

[2017-06-23 16:50] MattHJensen commented on #91
Total liabilities by calendar year for budget window and historically.

[2017-06-23 18:47] andersonfrailey commented on #106
@Amy-Xu, overall I think this sounds feasible. A couple of questions.

So during the tax-unit creation process, there will be one additional variable for each person in the household containing their participation probability. Would we also be keeping the total amount received in separate variables as well as the one aggregate so we can add/subtract benefits on a individual basis?

Is your idea to

[2017-06-23 19:08] Amy-Xu commented on #106
@andersonfrailey asked:

Good question! I haven't thought about this part. Certainly it would be easier to have the individual level dollar amount on the side, as long as the workload is not too much. So for each program, in addition to one aggregate, we'll have an individual level participation probability and dollar amount of benefit received. Depending on how many people one tax unit has, we mi

[2017-07-04 12:29] MattHJensen commented on #90
@Amy-Xu, I discussed a few next steps with Anderson. The primary thing is to add an 'SOI tables' column to the comparison table so that we aren't just comparing against the extrapolated puf, which already has its own error. Other than that, I think this is great, and we should focus on releasing and documenting the file and all steps to creating it now, _and then_, turn back to improving the resul

[2017-07-06 00:45] andersonfrailey commented on #90
[Here](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb) is the notebook with SOI comparisons added in.

@Amy-Xu @MattHJensen

[2017-07-06 15:19] martinholmer commented on #90
@MattHJensen said in taxdata issue #90 with respect to the new CPS input data for Tax-Calculator:

Now that @andersonfrailey has added the SOI tables information to [his CPS notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb), I want to ask him a few questions about next steps:

(1)  Is the directory structure of the taxdata repo that

[2017-07-06 18:24] andersonfrailey commented on #90
@martinholmer

The current file structure is good for now, but I may make a few changes after I address some of the details I'll talk about in response to your other questions. The scripts John wrote to develop this file and that I've been working on are written in SAS, but they could all be placed in the `cps_data` directory in the same manor we have the matching files in `puf_data`. There are no

[2017-07-06 18:45] martinholmer commented on #90
@andersonfrailey,  Thanks for all the useful information and answers to my questions.  And thanks again for all your work on the CPS file-prep project.

A couple of things:

(a) Even if puf and cps stage 2 logic is similar (or even the same) it would maintain the separate directories: `puf_stage2` and `cps_stage2`.  You never can tell if the script will need to be significantly different in the fu

[2017-07-07 12:38] martinholmer commented on #90
@andersonfrailey said:

After more thought, I think this would be a good option if it turns out the stage 2 script is the same for both puf and cps.  If so, I guess you would have to revise the script to handle either puf or cps, including, I would assume, different LP tolerances for puf and cps.  And maybe other differences as well.  But collapsing `puf_stage2` and `cps_stage2` into `stage2` woul

[2017-07-07 13:13] martinholmer commented on #90
@andersonfrailey, Question about the `cps.csv` file contents after info on that file, which is:
[code]
My question is about the variables numbered 21-50 and variable 51, SSI.  They all seem to be about SSI benefits, when I thought you were sending me a file that had all the different benefits imputed.  I admit I haven't been following the development in the C-TAM repo, but I'm confused about why t

[2017-07-07 14:39] andersonfrailey commented on #90
@martinholmer whoops it seems like I sent you the file before I changed the final prep scripts to keep in the other benefits. I'll resend it.

All of the other SSI variables are there for @Amy-Xu. She's working on ways to extrapolate the benefits for analysis is future years.

[2017-07-07 15:09] andersonfrailey commented on #90
[Updated notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb) contains participation rates, total and average benefits for each of the benefit programs imputed by C-TAM. Also includes a little more clarity with regards to itemized deductions and some comments in the code to show what's going on.

@martinholmer @MattHJensen @Amy-Xu

[2017-07-07 17:00] martinholmer commented on #90
@andersonfrailey said:

Thanks.  I've got the new file you sent and it contains all the imputed benefits.

@andersonfrailey also said:

I see.  Once she figures out the best way to extrapolate benefit amount, will all these SSI_* variables be removed from the CPS file?  Or, is the plan to always include them?

[2017-07-07 17:29] andersonfrailey commented on #90
@martinholmer

That will be up to @Amy-Xu. As part of integrating this cps.csv file into Tax-Calc, we want a way to extrapolate those variables. Whether we need to keep those variables in the CPS file or go a different route will ultimately depend on what she thinks the best way forward is.

[2017-07-07 17:32] Amy-Xu commented on #90
@martinholmer asked:

I think they should be dropped. Right now the plan is to have a separate file storing all extrapolated benefits, and read into TC the same way as cps weights.

[2017-07-10 17:41] andersonfrailey commented on #90
[Updated notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb) shows the result of taking the HMIE variable in the CPS and shirking it for everyone by the ratio of home interest in [table 2.1](https://www.irs.gov/uac/soi-tax-stats-individual-statistical-tables-by-size-of-adjusted-gross-income) of the SOI stats to HMIE.

@Amy-Xu @MattHJen

[2017-07-10 17:47] Amy-Xu commented on #90
@andersonfrailey Looking at cell 20 in your notebook, it seems the adjusted HMIE is quite a bit lower than PUF or SOI number. Did you use the total of HMIE or the total of itemizers' HMIE to create the ratio?

[2017-07-10 17:58] andersonfrailey commented on #90
@Amy-Xu I did total HMIE in the CPS to the HMIE portion of the Interest Paid deduction reported by SOI. I'll do HMIE of just itemizers in the CPS and see what happens

[2017-07-10 18:00] Amy-Xu commented on #90
I guess this version confuses me in that CPS total itemized deduction is lower than PUF, but somehow CPS data has more itemizers. In a previous version where CPS has higher aggregates on both interest paid and state and local income taxes, it makes sense that CPS would end up with more itemizers than it should be. But in this version, the total itemized deduction in CPS is lower than PUF, but stil

[2017-07-10 18:04] Amy-Xu commented on #90
@andersonfrailey Thanks!

[2017-07-10 20:24] Amy-Xu commented on #106
A quick update on the issue: I drafted an initial version of extrapolation, and Hank @hdoupe revamped it and significantly improved the efficiency of the algorithm. Posting his script [here](https://gist.github.com/Amy-Xu/fba16c2d0e7168653a56ab440a4b3c03) and welcome any feedback!

[2017-07-10 20:34] martinholmer commented on #106
@Amy-Xu said:

Thanks, but I haven't been following this issue at all.  Can you step back and explain what the implications of this advance are for the forthcoming `cps.csv` file?  What output from the new script will be in the `cps.csv` or related file?  Or, am I hopelessly confused and this has nothing to do with the `cps.csv` and related files?

@hdoupe @andersonfrailey

[2017-07-10 20:49] Amy-Xu commented on #106
@martinholmer asked:

The forthcoming cps.csv file will include welfare program data and this new script will create extrapolated participation and benefits for each year all the way to 2026.

All the outputs, I imagine, will be saved in a separate file and transferred to the Tax-Calculator once cps.csv is ready. The separate file will work in a similar way as puf_weights.csv, such that in each ye

[2017-07-11 14:12] andersonfrailey commented on #90
@Amy-Xu, using `SOI HMIE / HMIE[CPS|Itemizer]` results in the total for interest paid deduction being about 28% too high

[2017-07-11 15:18] Amy-Xu commented on #90
@andersonfrailey I see. My whole point is just to see whether there is a way to get interest paid deduction close to SOI, and theoretically number of itemizers will be closer as a result. If the ratio of `SOI HMIE / HMIE[CPS|Itemizer]` doesn't work, which I guess is people identified as itemizers are not itemizers anymore after their deduction get scaled down, do you think there is a way to get in

[2017-07-11 17:31] andersonfrailey commented on #90
@Amy-Xu, I'm sure there's a way to get HMIE close to SOI interest paid. In theory this would help minimize `%itemizers diff + %itemized deduction diff + % standard deduction diff + % standard dedicators diff` as well. I'll play around with a few ideas and let you know what I can get.

[2017-07-12 15:56] andersonfrailey commented on #90
After playing with the interest paid deduction for awhile, I've updated the [notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb) to show the results of using `HMIE * .8` as `e19200`. I used .8 as a scalar because the other ratios discussed above resulted in `e19200` still being too high. These ratios were around .9 so I decided to give

[2017-07-12 16:12] Amy-Xu commented on #90
I suspect itemizers in CPS outruns PUF is that CPS has more people w/ smaller amount of itemized deduction than PUF, and less people with large amount of itemized deduction. One way to verify is to tabulate itemizer number by itemize deduction amount @andersonfrailey. If this is true, it means we might need to apply different scaler to people w/ different itemize deduction amount. For example, dis

[2017-07-12 17:12] hdoupe commented on #90
@Amy-Xu said

How do the distributions of the components (medical expenses, interest paid, etc.) of the itemized deduction amount in the CPS compare to those of the PUF? To me, it would make more sense to scale those components than to scale the full itemized deduction amount.

[2017-07-12 17:28] Amy-Xu commented on #90
@hdoupe Take a look at Cell 22 in the latest notebook Anderson posted in his comment. I believe what Anderson has been doing is just scaling the interest paid section of itemized deduction, instead of the full itemized deduction. If you trace back a few previous comments by Anderson, you can see that scaling back one item will increase the number of total itemizers more than desired level -- at le

[2017-07-12 17:30] feenberg commented on #90
On Wed, 12 Jul 2017, Henry Doupe wrote:

It would help to know where the itemized deduction imputation comes from.
Is it the CEX?

dan

[2017-07-12 17:31] hdoupe commented on #90
@Amy-Xu Ah, ok thanks.  That makes sense.  Sorry, I should've looked before I commented.

[2017-07-12 17:44] Amy-Xu commented on #90
@andersonfrailey Since we have been applying scaler, the adjustment might be accused of data manipulation already. One brutal force way to solve this problem I think is to apply one scaler getting total itemizers in right place, and then apply another scaler to augment these itemizers' interest paid & state and local to match the total itemize deduction. But it's Matt's call to do this or not.

@h

[2017-07-12 17:52] Amy-Xu commented on #90
@feenberg Dan, John has this documentation for CPS tax unit online at: http://www.quantria.com/assets/img/TechnicalDocumentationV4-2.pdf

This documentation (on page 14) seems to indicate two biggest itemized deductions -- home mortgage interest and state and local income taxes -- are respectively imputed from Survey of Consumer Finance (Federal Reserve Board) and a proprietary state calculator. O

[2017-07-12 17:59] andersonfrailey commented on #90
@Amy-Xu it looks like you're right about there being more itemizers, but smaller totals, as can be seen in the plots below.
![item_rate](https://user-images.githubusercontent.com/20684675/28132090-d04f91f4-6709-11e7-8e5b-b55059626c11.png)
![item_mean](https://user-images.githubusercontent.com/20684675/28132091-d26fdd4a-6709-11e7-94aa-67427c06531f.png)

[2017-07-12 21:20] MattHJensen commented on #90
@Amy-Xu asked:

My view is that we should leave everything as is and focus on documenting the file and how to recreate the file from scratch from inital datasets (CPS, SCF, etc.), including all imputations. Only after the file is documented and have scripts to create it from scratch should we focus on tuning things. At that point we'll have a much better idea of whether the imputations themselves

[2017-07-12 21:28] Amy-Xu commented on #90
@MattHJensen said:

What do you mean by 'as is'? You asked to include HMIE as e19200 in this [comment](https://github.com/open-source-economics/UBI-examples/issues/9#issuecomment-314145505). Without any scaling adjustment, this HMIE/e19200 will increase the different of individual income liability between SOI and CPS to more than 30%. Do you mean to include HMIE or not?

[2017-07-12 22:00] MattHJensen commented on #90
@Amy-Xu asked:

If others agree with me that home mortgage interest expense is a component "total interest paid", then I think we should include HMIE in e19200. If others don't, then I'd like to discuss that further.

My point is that we should line up as many of the variables from the CPS file with the puf as we can and then wait on doing further adjustments until we have documented and can repro

[2017-07-12 22:05] codykallen commented on #90
@MattHJensen said:

It is a component of total interest paid, and the most important one. I would love if we could get the other components as well, but I could settle for at least being able to distinguish between HMIE and non-HMIE deductible interest expense.

[2017-07-12 22:09] Amy-Xu commented on #90
@andersonfrailey Could you explain again why you thought [HMIE is not equivalent to e19200](https://github.com/open-source-economics/UBI-examples/issues/9#issuecomment-313699845) so everyone can see?

[2017-07-13 13:06] andersonfrailey commented on #90
@Amy-Xu I came to that conclusion by talking to John about it. It is a component of e19200 as @codykallen said, but not a direct map like other variables are.

I generally agree with the points @MattHJensen and @Amy-Xu have made about excessive data manipulation. I suppose it would be best to leave it as is and make a note in the documentation of the dataset about it and the effects it may have on

[2017-07-13 21:08] martinholmer commented on #106
@Amy-Xu said in taxdata issue #106:

When I look at this spreadsheet, it contains projections of **federal** average benefit amounts for SSI.  Those don't seem like very good extrapolation targets given that most states supplement the federal SSI benefit.

This [reference](http://www.disabilitysecrets.com/dnewsblog/2010/01/what-are-ssi-disability-state.html) says this about state supplementation:

[2017-07-14 16:59] Amy-Xu commented on #106
@martinholmer said:

Right I definitely agree with you that SSI includes both federal and state components. We have not started on a documentation for this routine, but what we applied for SSI in extrapolation is not the federal targets; instead, we applied the federal benefit growth rates to the adjusted federal and state benefits in 2014. In other words, currently we assume state benefit grows a

[2017-07-14 17:33] martinholmer commented on #106
@Amy-Xu said:

It's good you think about the pros and cons of the method you're using now, but you forgot to include the con having to do with all the extra work that would be required in Tax-Calculator.

I admit I might not completely understand all your goals, but I would like to suggest a simpler approach that would reduce work in C-TAM and taxdata and reduce work in Tax-Calculator.

You've don

[2017-07-14 19:51] martinholmer commented on #106
I fixed a mistake in my earlier comment on taxdata issue #106 by adding to that comment the following sentence:

**Actually, what goes into the `growfactors.csv` file for a benefit variable in YEAR is F(YEAR)/F(YEAR-1).**

@Amy-Xu @hdoupe @andersonfrailey @MattHJensen

[2017-07-14 20:42] martinholmer commented on #106
@Amy-Xu said:

My concern is not so much about the size of the extra "chunk of data", but the extra code that reads that extra data and then applies it **only** when using CPS input data.

@Amy-Xu continued:

Most of the results that come out of Tax-Calculator are dollar amounts.  If you really want accurate beneficiary head counts, then you could always use Tax-Calculator to conduct a simulation

[2017-07-17 15:08] Amy-Xu commented on #106
@martinholmer said:

A UBI reform that involved removing all major welfare programs is actually not a common tax reform. In fact, connecting the welfare world to the tax analysis is rarely done, let alone welfare extrapolation, and is very difficult since few people know how the tax unit welfare distribution looks like given a individual or household welfare distribution. As you probably have seen

[2017-07-17 15:24] MattHJensen commented on #106
@Amy-Xu said:

@Amy-Xu, do most programs, other than SSI, also have official projections for participation?

[2017-07-17 15:36] MattHJensen commented on #106
Also, @Amy-Xu, have you tried running tax-calculator with cps.csv and the weights file produced by your and Hank's work?

[2017-07-17 16:08] Amy-Xu commented on #106
@MattHJensen asked:

Social Security, Medicare, Medicaid do, but SNAP and VB don't.

Not yet, but it isn't a weights file, it is an extrapolated benefit file that potentially would work in a similar way as the weights file -- replace the benefit column with a future year extrapolated benefit. To make it work with TC, we will need to add a few lines of code.

[2017-07-18 21:16] andersonfrailey commented on #90
[Updated notebook](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20Comparisons.ipynb?flush_cache=true) just includes some additional information requested by @Amy-Xu on the number of benefits participants.

[2017-07-18 21:45] martinholmer commented on #90
@andersonfrailey said:

Thanks for the additional tabulations.

I'm puzzled by the distribution of benefits by wage percentile among participants.  For means-tested programs, I would expect to see benefits decline as wages rise.  But what we see for SSI is nothing like that.  And we see just the opposite for Social Security, which has an individual level "earnings test" (that reduces benefits as w

[2017-07-19 16:49] Amy-Xu commented on #90
@martinholmer  Thanks for looking into the charts. At this point, it might be hard to explain the trends in participation and benefit charts because these charts are not final version yet -- we might still need to tweak here and there. That being said, I try to explain what looks sensible to me regarding three observations you have respectively for SSI, Social Security and Medicare. Many are just

[2017-07-25 14:49] andersonfrailey commented on #90
The CPS files and documentation have been merged into master so I am closing this issue.

[2017-07-25 14:49] #90 closed

[2017-07-25 14:50] andersonfrailey commented on #31
The translation of the match files from SAS to Python is complete so I am closing this issue.

[2017-07-25 14:50] #31 closed

[2017-08-08 20:59] andersonfrailey commented on #104
I believe we should reopen discussion on replacing CyLp. I tried to run `stage2.py` yesterday and received this error:
[code]

@hdoupe also received this error when he tried to run it.

@Amy-Xu, @hdoupe, and myself all spent sometime trying to find a solution today but were unable to.
@hdoupe also tried to install a different version of the package and was unable to.

Both of its dependencies, num

[2017-08-08 21:15] mdhaber commented on #104
@andersonfrailey May I clarify that the _old_ LP-solver in Python, the simplex one, is buggy. I can't guarantee that the new one - the interior point one you referenced - is bug-free, but it does quite well on standard benchmarks. Hopefully it will be pulled soon.

[2017-08-09 01:30] martinholmer commented on #104
@andersonfrailey said:

By all means, look for a replacement.  But in the meantime, you can probably go back (just for your taxdata work) to the earlier numpy, which is the 1.12.1 version.  I would guess everything would work then (because installing the old numpy version will automatically install the older scipy package).

Let me know if you need any help in doing this.

@hdoupe

[2017-08-09 12:52] andersonfrailey commented on #104
@mdhaber thanks for the clarification! I will look into using the newer LP-solver as our replacement.

[2017-08-09 13:39] hdoupe commented on #104
@mdhaber Nice work on SciPy's LP solver.  I hope it gets merged soon!

[2017-08-09 17:32] mdhaber commented on #104
@hdoupe @andersonfrailey Thanks! It really has been ready to go for a while, so I hope it is pulled soon, too. You're welcome to evaluate it before it is pulled, if you'd like. If you don't have a dev setup, here's stand-alone version for use with your existing SciPy install:
https://www.dropbox.com/sh/m7aaq3t2hvncz6h/AACxqAFe44a47nQ_apSMoTasa?dl=0
(I imagine making a GitHub repo for this would be

[2017-09-08 19:19] Amy-Xu commented on #106
It seems there's a consensus on how to proceed on this extrapolation routine issue per discussion in PR #1500 in TC. Closing.

[2017-09-08 19:19] #106 closed

[2017-09-08 19:35] Amy-Xu opened #115 "Check tax-unit benefit data (CPS)"
During the development of extrapolation routine for benefit data, Martin spot [this SSI imputation error](https://github.com/open-source-economics/Tax-Calculator/pull/1500#issuecomment-320710036) from the tabulation on participants number per tax unit. It would be great if we could put together a checking routine, or a testing script for this dataset. Due to the lack of official tax-unit benefit s

[2017-10-02 17:51] MattHJensen commented on #115
I agree that it would be helpful to have an initial version of these tests up and running before we make UBI analysis available to the public on TB.

@andersonfrailey, could you add it to the grand task list and make the sure necessary responsibilities are accounted for?

.

[2017-10-02 18:01] MattHJensen commented on #115
As for the tables themselves, everything from the C-TAM documentation would probably be valuable to start. Certainly there are other diagnostic histograms that could be valuable as well.

[2017-10-02 19:58] Amy-Xu commented on #115
@MattHJensen it wouldn't be difficult to generate those decile tables. Is the goal of these tests to make sure all the benefit numbers stay the same over time? What type of histograms would be good for diagnostic purpose? I assume we couldn't compare tax unit distribution with raw CPS distribution directly.

[2017-10-02 20:42] MattHJensen commented on #115
There are a few goals

- Know exactly when and why results change.
-  Provide up to date tables that summarize the database, allow for diagnostic review, and demonstrate the models capabilities.
- Provide up to date code for generating useful tables.

[2017-10-02 20:47] MattHJensen commented on #115
For example, histograms of participants in a tax unit, like those histograms that helped in the recent [SSI  diagnostic effort](https://github.com/open-source-economics/Tax-Calculator/pull/1500#issuecomment-320710036).

[2017-10-03 15:52] Amy-Xu commented on #115
So if there's no objection or further discussion, I'm about to add a regression test script in taxdata repo. This script will generate 1) decile participation and benefit tables for each program, 2) participation and benefit totals, and 3) tabulation of tax-unit participation. Then the script will compare these tables with the existing versions or official stats if available.

@martinholmer @MattH

[2017-10-03 18:03] MattHJensen commented on #115
Thanks Amy. Sounds great.

[2017-10-12 21:04] MattHJensen opened #116 "child/dependent care expenses on puf.csv vs cps.csv"
I see from our tax-calculator documentation that we have child/dependent care expenses for qualifying persons from form 2441 (e32800) on the taxdata_cps file. Is that from the CPS directly or is it imputed? Do we have values for filing units that don’t claim the credit (because they don’t have income tax liabilities or for other reasons)?

A potential tax-calculator user is interested in analyzing

[2017-10-12 21:58] martinholmer commented on #116
I have no idea about the source of the `e32800` data in the `cps.csv` file, so I'll leave that key question to @andersonfrailey.

However, the documentation does appear to be correct.  Here are some **unweighted** tabulations of the `cps.csv` and `puf.csv` files:
[code]
So, nearly 8% of the CPS filing units have positive `e32800` amounts (from somewhat).
In comparison, on slightly more the 4% of P

[2017-10-13 03:08] evtedeschi3 opened #117 ""Array subscript out of range" error for CPS-RETS13V5.sas"
I'm working through the State Database files to rebuild the cps.csv from scratch using the ASEC microdata. Note that I'm using the University Edition of SAS.

The first three SAS scripts -- cpsmar20**.sas -- from NBER work fine.

For the fourth one -- CPS-RETS13V5.sas -- I get the following error:

`ERROR: Array subscript out of range at line 2203 column 33`

In the log, line 2203 is the %SEARCH2

[2017-10-13 14:25] andersonfrailey commented on #116
@MattHJensen `e32800` on the CPS is imputed so there should be values even for those who don't ultimately claim the credit.

[2017-10-13 15:51] intownllc commented on #116
Thanks @andersonfrailey. How is it imputed? What do you think would be the effortnlevel for someone to duplicate the imputation for the puf.csv file?

[2017-10-13 17:10] MattHJensen commented on #116
Thanks @andersonfrailey. Is there anything you can point me to read about how it is inputed? What do you think would be the effort level for someone to duplicate the imputation for the puf.csv file?

[2017-10-13 18:28] andersonfrailey commented on #116
@MattHJensen a short overview of the imputation process can be found [here](https://github.com/open-source-economics/taxdata/blob/master/cps_data/cps_file_doc.md). I just noticed that I forgot to add a paragraph specifically for child/dependent care expenses, but they're imputed in the same manor as most of the other variables. First a legit model is used to determine which tax units see who has a

[2017-10-13 19:09] martinholmer commented on #116
In the discussion of issue taxdata #116, @andersonfrailey said:

But because the PUF data has care expenses for **only** those who file a tax return that includes a Form 2441, the imputation equations estimated using those PUF data are biased.  So, for example, the fraction of families in the whole population with positive care expenses is much larger than the fraction of families who submit a tax

[2017-10-17 17:17] MattHJensen commented on #116
@andersonfrailey and @martinholmer, thanks for your feedback on this issue. My conclusion is that we don't currently have a data source suitable for analyzing expansions to the CDCTC. Closing.

[2017-10-17 17:18] MattHJensen commented on #117
cc @andersonfrailey

[2017-10-17 18:55] andersonfrailey commented on #117
The "array subscript out of range" error typically occurs when there wasn't enough space allocated in an array. In lines 2033 to 2039 we initiate the array variables used to hold record information:

[code]
@evtedeschi3, can you try changing 350 in the TREC array to 400? That should solve the issue.

[2017-10-18 14:59] martinholmer commented on #116
@MattHJensen said in closed taxdata issue #116:

Given this conclusion, should we add warnings to Tax-Calculator when users try to increase the child/dependent care credit amount?

[2017-10-20 12:05] MattHJensen commented on #116
@martinholmer said:

Yes. I will do that now.

[2017-10-20 12:05] #116 closed

[2017-10-23 19:10] evtedeschi3 commented on #117
Sorry for the delay in getting to this. I am getting the same error message and the same warning about only 4 observations. `The data set EXTRACT.CPSRETS2013 has 4 observations and 352 variables.`

[2017-10-23 19:43] andersonfrailey commented on #117
@evtedeschi3, thanks for the update. I'll dig a little more and see if I can come up with a solution.

[2017-10-24 19:54] codykallen opened #119 "Missing variables in CPS file"
To allow people outside the OSPC to use B-Tax (beyond the limited capabilities of the webapp), they would need to be able to use the CPS instead. It is simple to modify B-Tax to call `Records.cps_constructor` instead of `Records()`, but the CPS is missing several critical variables for B-Tax.

B-Tax requires marginal tax rates on 10 different variables from Tax-Calculator, but the CPS file is miss

[2017-10-26 17:15] MattHJensen commented on #119
I believe this is an important issue for making the CPS file available on PolicyBrain, and it appears important for its own sake as well. '

My understanding was that we have imputations for these variables from John O'Hare, but it appears that may be incorrect (@andersonfrailey, could you chime in?)

If so, we may need to impute these variables onto the CPS file from the PUF. My view is that a si

[2017-10-26 17:47] andersonfrailey commented on #119
We won't be able to impute the variables @codykallen mentioned using just the PUF data. We impute a few other variables in the PUF off of the CPS so we could expand that process to include the missing variables we need for B-Tax.

[2017-10-26 18:09] MattHJensen commented on #119
@andersonfrailey said:

We may need to do the opposite: impute _to_ the CPS _off of_ the PUF rather than off of the CPS to the PUF.

[2017-10-26 18:27] andersonfrailey commented on #119
@MattHJensen said:

You're right. My comment was poorly worded. We could use the same routine that we use for the of the deductions that are imputed onto the CPS: use the PUF to get beta coefficients that are used in the imputation on the CPS.

[2017-11-08 12:37] MattHJensen opened #125 "Obtain or create code for generating CPS weights file"
In #108, @andersonfrailey said:

Given that we need to be able to generate the weights file ourselves, shouldn't we be asking John for the code to create the weights file or guidance on how to rewrite that rather than a new weights file?

I am putting this in its own issue to reflect its high priority and intrinsic importance. This seems exceptionally important to me since it is blocking several o

[2017-11-08 14:20] andersonfrailey commented on #125
I agree with @MattHJensen. When I get in touch with John I will also ask him for the code he's using.

[2017-11-08 15:08] Amy-Xu commented on #125
I agree we definitely need to ask John for the code. Given the average turnaround time potentially involved with that route, would it be possible to use 2026 weight for 2027 as a short-term transitional solution? I assume most extrapolations are done through a linear blow-up with minimum adjustment on weights and therefore adjacent years far out in the future would carry quite similar weights. Cer

[2017-11-10 03:11] MattHJensen commented on #103
Closing.

[2017-11-10 03:11] #103 closed

[2017-11-13 14:29] MattHJensen commented on #119
This paper looks like it could be helpful https://www.irs.gov/pub/irs-soi/06ohara.pdf

[2017-11-15 20:37] MattHJensen commented on #119
A Tax-Calculator and TaxData user asked:

- Is it true that rather than missing e02000, e02000 is lumped together with e00900?
- Does anyone have a suggestion for a 'quick fix' that either TaxData contributors or the user could implement in the next 24-48 hours?

cc @andersonfrailey @codykallen @Amy-Xu @martinholmer @evtedeschi3

[2017-11-15 20:44] codykallen commented on #119
@MattHJensen, I was under the impression that the CPS file was simply missing `e02000` and `e26270`. If `e02000` and `e26270` have been misclassified as `e00900`, then this does have serious implications in the House bill, as the bill would make 30% of active business income (`e00900 + e26270`) eligible for the 25% top rate but it would make 100% of passive business income (`e02000 - e26270`) elig

[2017-11-15 21:15] andersonfrailey commented on #119
Looking through the code, `e00900` in the CPS is the sum of the `semp_val` (Own business self-employment earnings, total value) variable in the CPS files. Unfortunately the CPS documentation doesn't specify if that means both active and passive income.

What we've done in the past for variables in the CPS that were the sum of multiple variables from the PUF is used the ratio of the two to split th

[2017-11-15 21:23] codykallen commented on #119
@andersonfrailey, be careful when splitting `e00900` into `e00900` and `e02000`. If you increase `e02000` but not `e26270`, then you classify all of that as passive business income, whereas technically `e02000` also includes some active business income (from partnerships and S corporations), `e26270`.

[2017-11-15 21:40] andersonfrailey commented on #119
Good point @codykallen. So would it be better if we split `e00900` into `e00900` and `e02000` and then used the new `e02000` variable to get at `e26270`?

[2017-11-15 21:51] codykallen commented on #119
@andersonfrailey, I would recommend splitting `e00900` into `e00900` (sole proprietorship income or loss), `e26270` (partnership and S corporation income or loss), and `e02000 - e26270` (passive business income or loss). IRS table 1.4 from from Individual Complete Report has a useful breakdown between: "Business or Profession" (technically sole proprietorship income, `e00900`); partnership and S c

[2017-11-15 22:27] MattHJensen commented on #119
+1

[2017-11-16 14:18] andersonfrailey commented on #119
Thanks for the breakdown, @codykallen. I'm working on a TaxData PR now.

[2017-11-16 15:58] MattHJensen opened #128 "Add PULINENO for head and spouse"
Add PULINENO for head and spouse to cps records on puf.csv and cps.csv

(Recording in issue form a request from @evtedeschi3)

[2017-11-16 19:55] martinholmer opened #129 "Need to change n1821 to n1820 in cps.csv and puf.csv files"
The poor naming and documentation of this variable is confusing our users.
See, for example, [Tax-Calculator issue 1669](https://github.com/open-source-economics/Tax-Calculator/issues/1669).

[2017-11-16 23:06] andersonfrailey commented on #119
As seen in PR #127, splitting up `e00900` isn't an effective method for getting `e02000` and `e26270`. I'm instead going to try and impute them.

Here's a rough outline of a method I'm considering and would like some feedback on.

First step is to split the IRS PUF into bins based on income and filing type. Then determine the probability of a return having a non-zero value for the variable within

[2017-11-16 23:33] MattHJensen commented on #119
@andersonfrailey, could you explain how this deals with negative / positive values?

[2017-11-17 15:23] andersonfrailey commented on #119
Sure. The issue with using the same methods used when we impute the various deductions is that method uses the log of all deductions. That doesn't work with `e02000` and `e26270` because they could be negative.

Thinking about this with a more clear head than I was yesterday, I suppose I could just tweak our current method by not using the log of `e02000` and `e26270`. This would essentially consi

[2017-11-21 05:39] wetfeet2000 opened #130 "Where to find 5x8 file?"
Hi everyone, I'm a complete newbie to this taxdata repo and was hoping to just build an instance of puf.csv for the taxcalc library to try and reproduce the basic tutorial. I got the taxdata repo lodaed up, but when running `taxdata/puf_data/StatMatch/Matching/runmatch.py` I got a missing file error for `asec2014_pubuse_tax_fix_5x8.dat` . After some time on Google I found the following URL, https:

[2017-11-21 21:52] MattHJensen commented on #130
@wetfeet2000, welcome!

The `puf.csv` file relies on a copy of the IRS SOI public use file, which costs >$8k from IRS. Alternatively, there is a publicly-distributable file, `cps.csv`, that comes packaged with taxcalc. If you don't have access to the IRS PUF, then I recommend working with the `cps.csv` file instead, and there is no need to build it from scratch because it is already in taxcalc.

[2017-11-24 19:51] wetfeet2000 commented on #130
Thanks for your response @MattHJensen ! After some more playing around I got Tax-Calculator to build from scratch using Anaconda Python 3.6, unzipped the cps.csv.gz, and was able to go through the tutorial using the TC CLI using cps.csv no problem. Interestingly, when I use cps.csv in the "10_Minutes_to_Tax-Calculator.ipynb" file, I get this error:
[code]

This seems more an issue for the Tax-Calc

[2017-11-24 20:12] martinholmer commented on #125
@andersonfrailey,  When you get to the place where you can generate a `cps_weights.csv` file, be sure to correct this bug:
[code]
Notice the bogus variable name for the first column in the `cps_weights.csv` file.
It should be `WT2014` not `SEQUENCE`.

This bug prevents the re-weighting logic of the Records class from working correctly in 2014.

I'm not sure how any of the 2014 `cps.csv` tax result

[2017-11-24 20:26] wetfeet2000 commented on #130
OK, I "tried harder" and got it. For anyone else out there having the same issue, here is the syntax needed to get the 10_Minutes_to_Tax-Calculator.ipynb tutorial working with cps.csv:
[code]

[2017-11-24 20:26] #130 closed

[2017-11-27 23:42] MattHJensen opened #131 "why is n24 capped at 3 on cps.csv?"
Why are there no values of n24 over 3 in the cps.csv file? SOI censors the PUF at 3, but why is the CPS-based file capped?

cc @andersonfrailey @martinholmer @evtedeschi3

[2017-11-28 03:25] evtedeschi3 commented on #131
Looks like it's [explicitly capped](https://github.com/open-source-economics/taxdata/blob/master/cps_data/finalprep.py) in the `finalprep.py` file to match what would be seen in the `puf.csv`. See lines 144-153:

[code]

This is interesting because here is an area where the CPS has more reliable data than the PUF. Why is the CPS being censored here? Since the PUF is matched with the CPS, couldn't/

[2017-11-28 18:57] andersonfrailey commented on #131
It was capped to match the PUF file. I can update the final prep scripts to change this when I get back in the office.

[2017-11-29 15:31] MattHJensen commented on #128
@andersonfrailey, is this something that would be easy to do for the cps.csv file? Would be a big help to some of our users if we could get it out quickly.

[2017-11-29 16:05] martinholmer commented on #128
@andersonfrailey, In the rush to update the CPS data files, don't forget to fix the bug in the`cps_weights.csv` file, which is described in [this comment](https://github.com/open-source-economics/taxdata/issues/125#issuecomment-346891030) in issue #125.

[2017-11-29 19:01] hdoupe commented on #125
@martinholmer @andersonfrailey Just to clarify, we have weights for the CPS until 2027, but there is an extra variable, `SEQUENCE`.  Is this correct?

[2017-11-29 19:07] martinholmer commented on #125
@hdoupe said:

No, that is not correct.  What I said was this:

The 2014 weights are in the `s006` variable in the `cps.csv` file.
They need to be copied to the renamed first column of the `cps_weights.csv` file.

[2017-11-29 19:14] hdoupe commented on #125
@martinholmer Ok, this makes sense.  So `SEQUENCE` needs to be replaced by the `s006` variable and we do indeed have the weights for 2027.

[2017-12-01 16:18] andersonfrailey commented on #125
Thanks for pointing this bug out, @martinholmer. I'll modify the weights final prep script to drop `SEQUENCE`.

[2017-12-01 17:12] martinholmer commented on #125
@andersonfrailey said:

Yes, but that's only part of the needed repair.  The `cps_weights.csv.gz` file need to have a column labeled `WT2014` that contains the `s006` values from the `cps.csv.gz` file.  Otherwise the sampling logic will not work for 2014.

[2017-12-01 19:03] andersonfrailey commented on #125
@martinholmer said:

Got it. I'll fix it this afternoon and open up a PR.

[2017-12-01 20:14] andersonfrailey commented on #125
Quick update. There likely won't be a PR fixing this today. While working on it, I realized that the s006 variable in the CPS is the same as the `WT2015` column in the weights file. After originally speaking to John, I was under the impression that, because the CPS file is representative of tax year 2014, the `s006` variable in the CPS was equivalent to a column like `WT2014`, but this seems to no

[2017-12-06 21:09] JeffreyBenjaminBrown opened #134 ""FileNotFoundError: File b'cps-matched-puf.csv' does not exist""
I cloned the [Tax Calculator repo](https://github.com/open-source-economics/Tax-Calculator) and created the taxcalc-dev conda environment as described [here](http://taxcalc.readthedocs.io/en/latest/contributor_guide.html). I activated that conda environment and running all the tests, validation and otherwise (they all succeeded after a little tweaking). Then, still in the conda environment, I trie

[2017-12-08 20:35] Amy-Xu commented on #134
Hmmmmm that cps-matched-puf is actually a file based on the public use file from IRS. It's a proprietary file. By any chance you have gained access to that file from IRS? Alternatively you can try the cps tax unit database in the Tax-Calculator.

[2017-12-11 16:35] martinholmer commented on #125
@andersonfrailey said ten days ago:

@andersonfrailey, Have you head anything from John about this?

[2017-12-11 18:14] andersonfrailey commented on #125
@martinholmer I have not. I'll email him again.

[2017-12-12 21:42] andersonfrailey opened #137 "Versioning TaxData"
Spinning off of conversations I've had with @MattHJensen and @hdoupe, we should consider some kind of versioning system for TaxData. There are a couple of reasons this would be helpful:

1. Different users may have different versions of the PUF. As we move to the 2011 PUF, there may be users who have the 2009 PUF and do not want to purchase the 2011 PUF. Similarly, I've been talking to a set of us

[2017-12-13 14:42] Amy-Xu commented on #137
Versioning taxdata sounds like a great idea!

My intuition is that this dilemma will happen when a user requires a particular combo of `cps.csv` and PUF. But how often does that happen? I assume people who have puf would lean toward the matched puf, and people who don't would have to use CPS. So we could just use whichever file used more frequently to number the versions.

[2017-12-13 14:54] hdoupe commented on #137
@andersonfrailey thanks for opening up this issue.  I think that versioning taxdata is an excellent idea.  However, I'm having trouble coming up with a good way to do this.  It seems like relevant information that each version would need to convey is

1. Which data set it is used for (i.e. cps or puf)
2. Which year the respective data set was produced
3. Regular versioning for changes after the in

[2017-12-13 15:02] martinholmer commented on #137
@andersonfrailey said:

How does this idea relate to the fact that we already have a private repo (which is versioned) to distribute the `puf.csv` file?  And the `cps.csv` file is part of the Tax-Calculator repo which is versioned.  Why exactly do we need more versioning in the taxdata repo?

[2017-12-13 15:21] hdoupe commented on #137
I see the taxpuf package and Tax-Calcualtor packages as downstream users of taxdata just like they are downstream users of numpy and numba.  In that respect, I don't think that we need to invent some new way of thinking about versioning in order to version the taxdata repo.

On several occasions, @andersonfrailey and I have taken a deep dive into the pull request and issue history of taxdata to fi

[2017-12-13 15:41] GoFroggyRun commented on #137
Versioning, or better versioning, taxdata sounds like a good idea in the way that it could help users to provide better citations for their calculations and results.

In [#1734](https://github.com/open-source-economics/Tax-Calculator/pull/1734), we now suggest users to put "author's calculations" while citing tax-calculator. In fact, a key component is missing: data. If users were using PUF/CPS da

[2017-12-13 15:42] andersonfrailey commented on #137
@martinholmer asked:

I see two benefits for adding versioning for at least the PUF file.

1. When, for example, we move to the 2011 PUF, users who purchased the 2009 PUF and don't want to upgrade to keep up with us will have an easy way to view and modify the code used in their PUF creation.
2. Along with Tax-Calculator citations, the TaxData version can also be cited. As we've seen each time we

[2017-12-19 17:52] MattHJensen opened #138 "Adding state identification to the PUF"
One of the most frequent requests that I have heard from users, especially during the TCJA debate, has been for the capability to analyze the impact of federal tax reform by state.

Don Boyd (@donboyd5) and I have been conversing about how to do this, and he has given me permission to move our conversation onto GitHub. I will reproduce the conversation to date in the next comment.

[2017-12-19 18:01] MattHJensen commented on #138
From @donboyd5

From me:

From Don:

From me:

From Don:

From me:

From Don:

Whew!

[2017-12-19 18:22] MattHJensen commented on #138
Adding a help-wanted label. It would be great for someone to implement this or a similar approach using a 2009 or later public use file. OSPC staff will likely have bandwidth to participate in the implementation the early new year, but not immediately.

[2017-12-19 18:51] donboyd5 commented on #138
Great. For whomever might be able to help, let me add a few broad comments
worth thinking about.

*1. In my experience, scaling up these kinds of problems almost always
presents unanticipated obstacles and teaches us important lessons.*
For example, moving from a problem with 1,000 variables and 100 constraints
to a problem with 3 million variables and 70 thousand constraints will
present obstacle

[2017-12-19 19:10] evtedeschi3 commented on #138
Thanks Don. Just my two cents here:

1. Since the point of statistical matching is to be unbiased rather than precise (which is impossible here), Urban's general approach of ignoring state-coded records is fine **provided the underlying methodology is sound.**

2. I agree that it's advisable to allow PUF records to map across multiple states. I also agree that zero-weighted records make no sense b

[2017-12-19 19:57] MaxGhenis commented on #138
In addition to parsimony, is another rationale for nixing small weights a concern of overfitting? If so, LASSO regression comes to mind, which reduces risk of overfitting by including an optimization penalty involving the number of nonzero coefficients. Could there be an analog here?

For example, prediction errors on each state's objective function could be calculated via cross-validation, and th

[2017-12-19 21:58] donboyd5 commented on #138
Thanks, Ernie.

1. I think we probably won't get to explore the pros and cons of using
state-codes on existing records vs. not using them. Matt tells me that the
PUFs available now do not have the state codes (I have used older PUFs that
have them), so as a practical matter we must use uncoded records. (I hate
to throw away information so if we had codes, I'd want to try hard to use
them. But we d

[2017-12-21 11:58] donboyd5 commented on #138
I am sorry to say I don't know enough about LASSO regression to have an
intelligent thought on this but am interested in seeing others' responses.
Happy to learn more.

Don

On Tue, Dec 19, 2017 at 2:57 PM, Max Ghenis <notifications@github.com>
wrote:

[2017-12-21 14:56] donboyd5 commented on #138
Not at all an ignorant question. Please don't take what I describe below as
THE way to do it. It is A way to do it that makes sense to me, subject to
criticism, discussion, etc.

Let's take the simple case we are dealing with now (I believe), where we
want to take the (let's call it) 150k PUF returns and give them weights
that make them represent a specific state - let's say, California.

(We're n

[2017-12-21 19:29] martinholmer opened #139 "What's the purpose of including cps_data/ cps_raw.csv.gz in repo?"
When I recently synchronized my taxdata repo with the central GitHub taxdata repo, I got these results:
[code]
So, is `cps_data/cps_raw.csc.gz` the file from John O'Hare?
Or is it some intermediate results in the data preparation process?
At nearly 79 MB, it is quite a bit bigger than what GitHub recommends as a maximum file size.

[2017-12-21 19:44] evtedeschi3 commented on #138
Ah OK, the strategy I was missing was iterating over each state one by one and opening up the whole PUF sample for each. That makes sense, thanks for the clear explanation.

[2017-12-22 22:34] feenberg commented on #138
It is possible to assign a single state to each record in an unbiased manner. The way I have done this is to calculate a probability of a record being in each of the 50 states, and assign it to one of those state in proportion to those probabilities. That is, if a record has high state income tax the procedure will show high probabilities for New York, California, etc and low probabilities (but no

[2017-12-22 22:42] evtedeschi3 commented on #138
Thanks Daniel. Do you have code for this procedure you’ve used that you’d be willing to share with us?

[2017-12-22 23:09] feenberg commented on #138
I only have Stata code. The variables below (cumulativ, onstate, etc) are
vectors with an element for each record. p1 through p51 are the estimated
probability of a record being in each state. r is a random value uniform
on 0-1.

   gen cumulative = 0
   gen byte onestate   = 1
   quietly {
     forvalues state = 1/51 {
       replace cumulative = cumulative + p`state'
       replace cum`state' =

[2017-12-29 04:43] MaxGhenis opened #141 ""Buffer dtype mismatch" when calling difference_table()"
The below error arises when calling `difference_table`, but the code still seems to run. Could be related to the `pandas` update.

For example, this happens in cell 7 of this [recipe01 notebook](https://github.com/MaxGhenis/taxcalc-notebooks/blob/master/recipe01.ipynb):

    diff_table = calc1.difference_table(calc2, tax_to_diff='iitax')

[2017-12-29 04:49] MaxGhenis commented on #141
Sorry, wrong repo. Moved to https://github.com/open-source-economics/Tax-Calculator/issues/1799

[2017-12-29 04:49] #141 closed

[2018-01-02 22:48] reubenfb opened #142 "odd distribution of charitable deductions in CPS data"
Originally opened in `Tax-Calculator`, re-opening here.

Looking at the `cps.csv` data, there are very few taxpayers with an income (`e00200`) over $10k that took a charitable deduction (`e19800` + `e20100`) of more than zero dollars but less than $4,000 or so.

![34310075-687523d8-e723-11e7-8362-684ed6f0e9c8](https://user-images.githubusercontent.com/6992836/34503156-f2007872-efe4-11e7-9b2a-86773

[2018-01-04 16:58] martinholmer opened #143 "Why is expanded income negative for the bottom decile?"
A Tax-Calculator user recently discovered that in the expanded-income-decile distribution table the bottom decile has negative aggregate expanded income, and that this is true for both the IRS `puf.csv` and the `cps.csv` input data.  The user pointed out how this plays havoc with the expanded-income-decile difference table and graph.  See the full discussion in [Tax-Calculator issue 1806](https://

[2018-01-04 17:57] codykallen commented on #143
@martinholmer, this is actually a quite common problem. One of the biggest problems with distributional analysis is income mismeasurement at the lowest income levels, in which substantial positive income is offset by comparable losses being written off.

One approach used in the literature is to simply drop the bottom 5% of the income distribution, and then do the distributional analysis. Personal

[2018-01-07 23:19] martinholmer commented on #143
@codykallen,  Thanks for your helpful comment in taxdata issue #143.
But your tabulations answer only some of the questions we need answers to in order know how best to resolve [Tax-Calculator issue 1806](https://github.com/open-source-economics/Tax-Calculator/issues/1806).

[2018-01-11 16:49] Amy-Xu commented on #115
Closing this issue as PR #135 addressed the concerns here.

[2018-01-11 16:49] #115 closed

[2018-01-11 17:59] Amy-Xu opened #144 "CPS Tax-Unit File: Potential Wage distribution discrepancy between SAS and Python Scripts"
I'm inspecting the [updated UBI results](http://nbviewer.jupyter.org/github/andersonfrailey/Notebook-Uploads/blob/master/CPS%20UBI.ipynb) that Anderson created from CPS tax unit file, in order to update the [working paper](https://github.com/open-source-economics/UBI-examples/blob/master/ex1/UBI-working-paper.pdf). In the working paper, we used tax liabilities from PUF and combined it with CPS ben

[2018-01-11 19:38] martinholmer commented on #125
@andersonfrailey,
What does the Fortran code in pull request #145 imply about the bug discussed in taxdata issue #125?

[2018-01-11 20:25] andersonfrailey commented on #125
@martinholmer, John did say that he mislabeled the weights. He was a little vague in what exactly that implies about the bug discussed in this issue though. I've emailed him again for clarification and am going to try and schedule a phone call with him next week.

[2018-01-11 20:34] martinholmer commented on #125
@andersonfrailey said:

Good!  Slow progress is better than no progress.

[2018-01-12 16:24] andersonfrailey commented on #139
Sorry I missed this question, @martinholmer. `cps_raw.csv.gz` was the file we got from John. It's the output of all the SAS scripts. We originally included it because we got the file before we got the SAS scripts and wanted to at least include the file the final prep scripts processed available.

I believe we should leave it for the time being because SAS requires a license to use, so only those w

[2018-01-12 17:01] martinholmer commented on #139
Sounds sensible. Thanks for the explanation.

[2018-01-12 20:44] andersonfrailey commented on #139
No problem. Closing.

[2018-01-12 20:44] #139 closed

[2018-01-12 20:50] andersonfrailey commented on #142
@reubenfb, I can't think of anything in the methodology that would result in the gap you've pointed out. I'll do some research to see if I can find a possible explanation and post any results I have here.

[2018-01-15 22:07] MaxGhenis commented on #143
I pulled some numbers based on 2014 CPS data in [this notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/negative_expanded_income.ipynb). CPS lacks `c23650` (capital gains/losses) and `e02000` (Schedule E) so I couldn't replicate @codykallen's full analysis, but here are some takeaways with respect to @martinholmer's questions.

3.78% of all tax units,

[2018-01-29 15:15] Amy-Xu commented on #144
A quick update on this issue. I checked two earlier versions of CPS that produced by John (SAS) -- both files are based on 2015 CPS and yield similar number of units (33 - 35 million) for the 0-to-10k-wage-under-65 bin. I also checked a later version of three-year CPS, also produced by John (SAS), and the result is also the same as the other two.

I think this is a good news -- it means there's li

[2018-02-01 16:05] derrickchoe opened #147 "Itemizers Taking the Medical Expense Deduction-- Discrepancy with IRS SOI Table"
Hello all,

I'm currently working on a project involving the medical expense deduction, and I'm having trouble matching the number of itemizers taking this deduction as published by the IRS.

As an example, the IRS SOI table below estimates that ~9 million tax filers took this deduction in 2013.
[13in21id.xlsx](https://github.com/open-source-economics/taxdata/files/1686146/13in21id.xlsx)

When I r

[2018-02-02 16:42] andersonfrailey commented on #147
Are you using a version of Tax-Calculator that uses the TCJA policies as a baseline or 2017 policy? The difference of ~2 million could be due to the new standard deduction levels making it better for those tax units to take the standard deduction rather than itemize now. They're medical deductions are still being calculated when we determine how much they would receive from itemizing, so while `c0

[2018-02-02 18:33] derrickchoe commented on #147
Hi @andersonfrailey,

I'm using current law policy, but I assumed that extrapolating the data to year 2013 would avoid any issues with differences between 2017 law and the TCJA. I know that the IRS data only includes people who end up itemizing in year 2013, so that's why I included the `calc.array('c04470') > 0` condition.

@MattHJensen also made a good point-- he wanted to confirm that the IRS d

[2018-02-05 15:31] andersonfrailey commented on #147
This isn't necessarily the case. The PUF file we're using is from 2009 so reported itemized deductions are only included for those who itemized in 2009. It's possible that when Tax-Calculator runs the number for 2013 some no longer itemize.

[2018-02-05 16:00] derrickchoe commented on #147
@andersonfrailey

In response to

Sorry, that last statement was ambiguous. I should have clarified-- by IRS data in this case I mean the SOI table that I'm trying to match. So the IRS SOI table only reports the number of people who have enough qualified medical expenses to take the deduction, and end up itemizing their deductions.

Am I correct in only counting those who meet the conditions c0447

[2018-02-06 16:26] donboyd5 commented on #138
Sent by an androidl

[2018-02-07 21:29] andersonfrailey opened #148 "Cash and In-Kind Programs in `other_ben`"
Our new intern, @KPinkelman, did some research into which of the programs in `cps_data/benefitprograms.csv` offered cash benefits and which offered in-kind benefits. Here is a table of his results:

Program | Table | Row | 2014_cost | In-Kind or Cash
-- | -- | -- | -- | --
Unemployment Assistance | 11.3 | 16 | 43504 |  
Children's health insurance | 11.3 | 20 | 9317 | In-Kind
Indian health | 11.3

[2018-02-12 16:11] martinholmer commented on #148
@Kpinkelman,  you can tabulate a high and low fraction of in-kind benefits in other benefits by doing this:

1. **High fraction** is computed interpreting `Both` as `In-Kind`, and

2. **Low fraction** is computed interpreting `Both` as `Cash.

In both cases be sure to omit unemployment benefits.

Can you post the results of those tabulations in this issue?  Thanks.

[2018-02-12 17:14] martinholmer opened #149 "What is relationship between XTOT and (nu18+n1820+n21)?"
Shouldn't the value of XTOT be equal to the value of (nu18+n1820+n21) for every filing unit in both the CPS data and in the PUF data?

[2018-02-12 17:23] martinholmer commented on #149
When I add a test of my expectations, I get this puzzling result:
[code]

Are my expectations unreasonable?

Did I make a mistake in developing the new test?

I don't understand what's going on here.

@MattHJensen @Amy-Xu @andersonfrailey

[2018-02-12 17:46] Kpinkelman commented on #148
@martinholmer , I’m a bit confused as to what you mean by this – My understanding of what you’re asking:

-	Calculate two values (High fraction and Low fraction) for “other” programs currently left blank (“Other” and “Other public assistance”)

In researching which of these programs offered cash vs in-kind benefits, I looked into how they listed their benefits online. Archives containing informati

[2018-02-12 17:54] martinholmer commented on #148
@martinholmer said:

Sorry if this wasn't clear.  All I need to know is the range of value of the in-kind fraction for `other_benefits`.
If you had classified each one as either `In-Kind` or `Cash` it would be simple to add up the dollars amounts of all the benefits (other than unemployment compensation) that are labeled `In-Kind` and divide it by the total of all benefits (again omitting unemploy

[2018-02-12 17:56] martinholmer commented on #148
@Kpinkelman ,  Is [this explanation](https://github.com/open-source-economics/taxdata/issues/148#issuecomment-365005709) more clear?

[2018-02-12 18:02] martinholmer commented on #148
@Kpinkelman asked:

From the table shown in the [first comment in this issue](https://github.com/open-source-economics/taxdata/issues/148#issue-295299441).  Didn't you create that table?

[2018-02-12 19:14] Kpinkelman commented on #148
@martinholmer, That makes more sense to me. Results below:

| Type        | Estimate   |
| ------------- |:-------------:|
| Low Fraction (In-Kind/Total) | .52163293 |
| High Fraction (In-Kind/Total)    | .76352877    |

[2018-02-12 19:28] martinholmer commented on #148
@Kpinkelman,  Thanks so much for the range tabulation [here](https://github.com/open-source-economics/taxdata/issues/148#issuecomment-365030750).

I your research can narrow the range that would be great.

@andersonfrailey

[2018-02-12 19:34] andersonfrailey commented on #149
@martinholmer, my initial reaction is that test should work.

For households with multiple tax units, we check to see if any of the units should be combined. It's possible that there's an issue when they're combined that causes the discrepancy you've pointed out. I'll need to look into more before I can give you a definitive answer.

[2018-02-12 19:45] martinholmer commented on #149
@andersonfrailey,  Thanks for the quick feedback on issue #149.

[2018-02-12 23:38] martinholmer commented on #148
@Kpinkelman answered my question.  Thanks!

[2018-02-13 21:27] martinholmer commented on #129
Issue #129 has been resolved by the merge of pull request #146 (for CPS data) and #150 (for PUF data).

[2018-02-13 21:27] #129 closed

[2018-02-13 21:29] martinholmer commented on #149
@andersonfrailey,  It would seem to me that resolving issue #149 should have a high priority because the accuracy of reforms that repeal benefits and add a UBI are open to question.

[2018-02-14 14:32] andersonfrailey commented on #149
@martinholmer I agree. I'll post updates to this issue as I pin down the exact issue.

[2018-02-14 15:27] andersonfrailey commented on #149
Briefly going back to your initial question in this issue, @martinholmer.

This might not be the case with PUF data. `nu18`, `n1820`, and `n21` are pulled from the CPS generated tax units that are matched to PUF units, while `XTOT` is from the IRS-PUF and capped at 5. Thus, there could be some variation between `XTOT` and the sum of the UBI variables in the PUF.

That being said, the test you post

[2018-02-14 18:18] martinholmer commented on #149
@andersonfrailey said in taxdata issue #149:

Thanks for pointing this out about `XTOT` in the PUF.  But it seems even more complicated than you suggest.
Here are two parts of the 2011 PUF documentation:

![screen shot 2018-02-14 at 1 00 11 pm](https://user-images.githubusercontent.com/12170745/36220139-92343040-1187-11e8-97e1-4e7423792c9a.png)

and

![screen shot 2018-02-14 at 1 01 02 pm](https:/

[2018-02-14 18:40] martinholmer commented on #149
@andersonfrailey,  I've revised the PUF data test comparing the values of `XTOT` and `(nu18+n1820+n21)` for each filing unit in the new `puf.csv` file.  The revisions try to account for the fact that the `XTOT` value may be capped in the PUF data.   But I'm still getting 13442 (out of 249087) filing units with an `XTOT` value **greater** than its `(nu18+n1820+n21)` value.

Does it look as if I hav

[2018-02-14 21:24] andersonfrailey commented on #149
That looks better. We control for number of dependents and filing type during our matching process so except in the cases where the unit is more than five people, everything should line up accordingly.

[2018-02-14 22:13] martinholmer commented on #149
@andersonfrailey said:

OK.  So, the 13,442 filing units in the new `puf.csv` file with `XTOT > (nu18+n1820+n21)` are still under investigation, right?

[2018-02-14 23:31] andersonfrailey commented on #149
@martinholmer asked:

Right. I've spent the day looking through the problems with the CPS file to see what type of filer has the most errors and how large they are.

About 96% of the units that fail the test fail because the UBI variables are smaller than XTOT. About 95% of the units with errors have one fewer UBI recipient than XTOT implies.

Here's the distribution:
![faildist](https://user-imag

[2018-02-16 02:40] martinholmer commented on #143
@MaxGhenis, thanks for your CPS tabulations of negative expanded income in taxdata issue #143.
Your results underline the role of large business losses in causing the bottom decile's aggregate expanded income to be negative.

The new CPS data file introduced in Tax-Calculator release 0.16.0 adds the consumption value of benefits provided by several benefit programs into expanded income.  As a resu

[2018-02-16 02:41] #143 closed

[2018-02-16 20:17] MaxGhenis commented on #143
@martinholmer thanks for the quintile graph function! I updated the [notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/negative_expanded_income.ipynb) to use taxcalc 0.16.0 with benefits (which I'm extremely excited about!!) and look into the bottom quintile. Here's how the results shifted (I didn't calculate quintiles in the original analysis):

| Me

[2018-02-16 20:44] codykallen commented on #143
@MaxGhenis mentioned:

Tax Policy Center omits those with negative income from distributional analyses but includes them in totals. From the footnotes to their distributional tables:

JCT excludes such taxpayers as well. From the footnotes to their distributional tables:

Tax Foundation's approach is not so clear in their publications, but a footnote from a 2009 TF working paper says,

CBO does th

[2018-02-16 21:19] andersonfrailey commented on #128
This has been taken care of in PR #152. Closing.

[2018-02-16 21:19] #128 closed

[2018-02-16 23:57] MaxGhenis commented on #148
@Kpinkelman a couple questions:

1. Do you have the source(s) for this table handy?

2. Is *Family support payments to States and TANF* (currently classified as cash) only the cash component of TANF? As of 2014, TANF was ~25% cash, plus another ~10% tax credits ([per 538](https://fivethirtyeight.com/features/most-welfare-dollars-dont-go-directly-to-poor-people-anymore/)), the rest being in-kind.

[2018-02-17 00:46] MaxGhenis opened #153 "Do imputed benefits include administrative costs?"
Not sure if this belongs in the C-TAM repo or here, as I'm curious about the implementation of benefits in the CPS data.

The [C-TAM README](https://github.com/open-source-economics/C-TAM/blob/master/README.md) says that a 2017 goal is to "Add administrative costs for all welfare programs." The [C-TAM documentation](https://docs.google.com/document/d/1CIfp8KwECJa4bIF9U3hHTf3P7Y19ya2NI5QhEDOyG98/ed

[2018-02-17 01:24] martinholmer commented on #153
@MaxGhenis said:

For some reason, the most recent C-TAM documentation (from Sep 2017) has been pending merger since then.
Look at the pull requests for the most up-to-date documentation.  And, yes, this discussion should be in the C-TAM repository.

[2018-02-17 14:37] martinholmer commented on #143
**Please continue this discussion in [Tax-Calculator issue 1888](https://github.com/open-source-economics/Tax-Calculator/issues/1888), where @MaxGhenis's and @codykallen's 2/16/18 comments are reproduced.**

[2018-02-17 15:16] MaxGhenis commented on #153
OK asked in https://github.com/open-source-economics/C-TAM/issues/60.

[2018-02-17 15:16] #153 closed

[2018-02-20 15:23] Kpinkelman commented on #148
@MaxGhenis sorry for the delayed response:

1. The numbers in the table had already been filled out when I received it, but are from budget docs released by the Obama administration (namely, 3.2 and 11.3 on https://obamawhitehouse.archives.gov/omb/budget/Historicals). Unfortunately they don't contain information about how the benefits are administered (in-kind or cash), so that information was mos

[2018-02-20 21:06] Kpinkelman commented on #148
Updated Table:

Program | Table | Row | 2014_cost | In-Kind or Cash
-- | -- | -- | -- | --
Unemployment Assistance | 11.3 | 16 | 43504 |  
Children's health insurance | 11.3 | 20 | 9317 | In-Kind
Indian health | 11.3 | 22 | 4510 | In-Kind
Health resources and services | 11.3 | 24 | 7604 | In-Kind
Substance abuse and mental health   services | 11.3 | 25 | 3193 | In-Kind
Center for Medicare and Medi

[2018-02-23 16:23] martinholmer opened #154 "gzip compression of puf_weights.csv file?"
@andersonfrailey, we have the CPS weights in a compressed file called `cps_weights.csv.gz`, but the PUF weights are in the uncompressed `puf_weights.csv` file, which is almost 25 million bytes in size.

What do you think about also putting the PUF weights in a compressed file named `puf_weights.csv.gz`?

If you don't see any problem with this change, I'll make the necessary Tax-Calculator changes

[2018-02-23 20:08] andersonfrailey commented on #154
@martinholmer I'm good with this change. I can get a PR that will swap the current weights file with a compressed version and adds a few lines of code to the stage 2 scripts that will compress each time the script is run soon.

[2018-02-23 20:11] martinholmer commented on #154
The Tax-Calculator changes are in [pull request 1895](https://github.com/open-source-economics/Tax-Calculator/pull/1895).

[2018-02-23 20:12] #154 closed

[2018-02-24 02:48] martinholmer opened #156 "Why are total pension benefits less than taxable pension benefits in PUF data?"
Consider this tabulation of output from `tc puf.csv 2014 --sqldb` and `tc cps.csv 2014 --sqldb`.
[code]
Tabulating CPS output with this SQL script generates these results:
[code]
Which is what one would expect given the definitions of `e01500` and `e01700`.

But the tabulation of the PUF output doesn't look right:
[code]
@andersonfrailey, why do we have over one thousand PUF filing units for whom

[2018-02-26 15:06] andersonfrailey commented on #156
Thanks for pointing this out @martinholmer. I dug a little deeper and all of the filing units where this is an issue are non-filers, which means they come from the CPS, not the PUF.

When we add non-filers to `puf.csv`, we set income variables that weren't found when creating the CPS tax units to zero. In this case, `e01500` is set to zero while `e01700` is set to the value of pensions found in th

[2018-02-27 16:17] martinholmer commented on #156
@andersonfrailey , Thanks for the analysis in #156
What’s the timing on the new puf.csv file?
We need one to fix Tax-Calculator’s expanded income statistic.

[2018-02-27 18:07] andersonfrailey commented on #156
@martinholmer I'll try and get you something today.

[2018-02-27 18:32] martinholmer commented on #156
@andersonfrailey , Thanks but no rush.
I won’t be back in the office until Thursday.

[2018-03-01 00:39] MaxGhenis commented on #131
Just checking in on this, as I'm working on a CTC analysis.

[2018-03-01 01:28] MaxGhenis opened #157 "Why would n24 exceed nu18?"
My understanding of the Child Tax Credit's [definition of child](https://www.thebalance.com/child-tax-credit-3193009) is that it should be a subset of children under age 18. One criterion is being under age 17, and others limit further within that.

2014 CPS data shows that `n24` and `nu18` have almost identical totals: 78.7M and 78.8M, respectively. Yet `n24` exceeds `nu18` for 9M tax units, 19%

[2018-03-01 13:56] andersonfrailey commented on #131
Thanks for bringing this back up @MaxGhenis. I'm working on an update to the CPS file that should be ready in the next day or two. I'll address this in that update as well.

[2018-03-01 15:07] martinholmer commented on #156
@andersonfrailey,  Where's the pull request that made the new `puf.csv` you sent to me?
When using that new file, I get changes in AGI, which is not what I would expect if the new file simply fixed the `e01500` values (which are not in AGI).

[2018-03-01 16:37] andersonfrailey commented on #156
@martinholmer I also changed `e01700`. Based on what we've done in the CPS file and my reading of CPS documentation, the pensions variable we use to set `e01700` currently should actually be `e01500` and `e01700` should be a subset of that. So the changes in AGI can be attributed to that change. PR #158 shows the changes I've made.

[2018-03-01 19:03] martinholmer opened #159 "Targets for CPS imputation of taxable pension income, e01700"
The following code appears in the `cps_data/finalprep.py` file:
[code]
I don't see how the above code can be correct.  In the 2011 IRS-SOI PUF, taxable pension income (`e01700`) as a fraction of total pension income (`e01500`) is far higher than 16 percent.  Here is what the aggregate totals look like in the IRS-SOI documentation:

![screen shot 2018-03-01 at 1 52 29 pm](https://user-images.github

[2018-03-01 20:45] andersonfrailey commented on #159
I took a look in the raw CPS file at the relationship between E01500 and E01700 and got a couple of results that could be helpful.

Among tax units with a positive value for E01500, roughly 48% have fully taxable pension (E01500 == E01700), about 18% have no taxable pension (E01700 == 0) and the remainder are somewhere in between. So it doesn't appear that there is one rule we could follow to fix

[2018-03-01 21:03] andersonfrailey commented on #157
@MaxGhenis, I don't have a specific answer for you right now, but I do know we can do a better job calculating n24 in general. I'm wrapping up a few other things right now, but when I finish I'll work on a fix for how we count n24.

[2018-03-01 21:25] martinholmer commented on #159
@andersonfrailey said:

Thanks for the helpful tabulation.

Are the 48% and 18% raw counts or are you using the filing unit's weight, `s006`?

Are the 48% higher income units?

What about this single (compound) rule for those with positive `e01500`?

1. assign `e1700` to be equal to `e01500` with probability Prob1

2. if not `e01700==e01500`, then assign `e01700` to be equal to `0` with probabilit

[2018-03-02 14:52] andersonfrailey commented on #159
These were raw counts.

I plotted out `E01700 / E01500` by AGI:
<img width="717" alt="screen shot 2018-03-02 at 9 38 10 am" src="https://user-images.githubusercontent.com/20684675/36904026-7421b596-1dfd-11e8-9ed8-f355eb5be5c0.png">

There doesn't seem to be much of a relationship between AGI and what portion of a unit's pensions are taxable.

1. assign e1700 to be equal to e01500 with probability

[2018-03-02 15:31] MaxGhenis opened #160 "Does the CPS data have any college enrollment information?"
Searching the [tc user documentation](http://open-source-economics.github.io/Tax-Calculator/) for education-related keywords, the only inputs I see are `e87521` (AmOppCredit) and `e87530` (lifetime learning), both only in the PUF, and `e03210` (student loan interest) which is in the CPS but I'm guessing don't usually overlap with current enrollment.  [benefitprograms.csv](https://github.com/open-s

[2018-03-02 15:37] martinholmer commented on #159
@andersonfrailey asked:

Yes.  Set the random number seed and then draw a uniformly distributed random number for each funit.
Then use Prob1 and Prob2 to assign each funit to one of the three categories (probably using numpy where statements.  Does that make sense?

[2018-03-02 16:42] andersonfrailey commented on #160
We don't include any college enrollment in the CPS file. We've included a few identifying variables in the CPS file that can be used to match tax units back to individuals in the CPS file which includes some information on college enrollment.

[2018-03-02 19:18] andersonfrailey commented on #159
Makes sense to me. I'll start working on getting this implemented.

[2018-03-02 23:36] martinholmer opened #162 "Is the next version of cps.csv.gz going to resolve Tax-Calculator issue 1658?"
@andersonfrailey said in [this comment](https://github.com/open-source-economics/Tax-Calculator/issues/1658#issuecomment-350816124) that the CPS data needed more work.

[2018-03-03 01:57] MaxGhenis opened #164 "Various age fields include end points when names and documentation indicate otherwise"
Documentation and variable name structure for various age fields indicate they should not include the end point. I see four contradictions in the code on this front:

* **`nu05`** includes 5-year-olds based on the [finalprep.py code](https://github.com/open-source-economics/taxdata/blob/801164146006ab9c9b7f8872474b9a6cdec9ada4/cps_data/finalprep.py#L135).
* **`nu13`** includes 13-year-olds based o

[2018-03-03 02:02] MaxGhenis commented on #164
A process tweak that could help avoid this is to use exclusively either `<`/`>` or `<=`/`>=` in code. finalprep.py includes endpoints for these variables, but just below them it doesn't with the `f2441` and `EIC` variables.

[2018-03-03 16:04] andersonfrailey commented on #162
No, I haven't been able to put a significant time into considering how to change our top coding procedures yet. Given that the deadline on the UBI project, I think the next version of the CPS should be available after #161 is merged so that Tax-Calculator and then TaxBrain can be updated accordingly.

After that, in no particular order, here are the major changes I have in mind for the CPS file:
*

[2018-03-03 17:28] martinholmer commented on #162
@andersonfrailey said:

But where is the pension income fix we discussed?  I thought we decided it should be included in the next version of `cps.csv.gz` to be included in Tax-Calculator.

[2018-03-03 19:09] andersonfrailey commented on #162
Ah, you're right, @martinholmer. PR coming up.

[2018-03-06 17:26] martinholmer commented on #38
The new `puf.csv` file that incorporates 2011 IRS-SOI PUF data has been available for some time.

[2018-03-06 17:26] #38 closed

[2018-03-06 17:29] martinholmer commented on #45
@codykallen,  Is taxdata issue #45, which you raised in Nov 2016, still unresolved from your point of view?

[2018-03-06 17:32] martinholmer commented on #117
@andersonfrailey and @evtedeschi3,  What's the status of taxdata issue #117.
There's been no discussion of this issue since October 23, 2017.

[2018-03-06 17:34] evtedeschi3 commented on #117
Since (correct me if I'm wrong) the CPS generation script has been migrated over to Python, this issue is moot.

[2018-03-06 17:34] martinholmer commented on #119
@codykallen, @andersonfrailey, @MattHJensen,  What's the status of taxdata issue #119?
There's been no discussion of that issue since November 17, 2017.

[2018-03-06 17:39] martinholmer commented on #125
@andersonfrailey
What's the status of taxdata issue #125?
We have evidence that the 2014 weights in the `cps.csv.gz` file are bad.
What, if anything, are we going to do about that?

@MattHJensen, do you want to leave the 2014 CPS data unusable?
If so, you should put a notice somewhere about the 2014 weight problem.

[2018-03-06 17:40] #134 closed

[2018-03-06 17:43] martinholmer commented on #117
@evtedeschi3, thanks for the update.  I'll go ahead and close taxdata issue #117.

[2018-03-06 17:43] #117 closed

[2018-03-06 17:47] codykallen commented on #45
@martinholmer, I believe this can be considered complete. Closing now.

[2018-03-06 17:47] #45 closed

[2018-03-06 18:12] martinholmer commented on #45
Thanks @codykallen

[2018-03-06 18:16] andersonfrailey commented on #125
On my end, I haven't been able to get in touch with John to confirm anything about the weights file. But my thought is that it's not the 2014 weighted in `cps.csv.gz` that are bad - those come directly  from the CPS files - it is the 2015 weights in `cps_weights.csv.gz` that have an issue.

[2018-03-06 18:19] andersonfrailey commented on #119
This is something I want to work on after this UBI project is finished. I'd like to leave this issue open so that it's easy to find and won't fall off my radar.

[2018-03-06 18:27] martinholmer commented on #125
@andersonfrailey said:

All I know is that the 2014 weights are such that the sub-sampling test fails for 2014 when it passes for each of the nine years beginning with 2015.  See `test_agg` in the `tax-calculator/taxcalc/tests/test_cpscsv.py` file (search for the phrase TODO to find the place where test fails).

[2018-03-06 18:31] martinholmer commented on #125
@andersonfrailey said:

But my recollection is that you told me John said there was some confusion because of the fact that **three** CPS samples, each for a different year, are combined in the `cps.csv.gz` file.  How are the weights for the other two years adjusted to be compatible with the 2014 weights?

[2018-03-06 21:22] martinholmer commented on #159
@andersonfrailey,  Here are the three pension targets for the imputation of `e01700` in the `cps.csv.gz` file.
First the SQL tabulation program and then (as a comment in that program) the tabulation results:
[code]

[2018-03-06 22:26] martinholmer opened #166 "Targets for CPS imputation of qualified dividends, e00650"
@andersonfrailey,  Here are the CPS imputation targets for qualified dividend, `e00650`.
Targets are to the right of the `==>` symbol below.
First  the SQL tabulation program and then the tabulation results (as a comment in the program):
[code]

[2018-03-07 00:22] andersonfrailey commented on #166
Thanks @martinholmer. I'll get started on this.

[2018-03-07 15:46] martinholmer opened #167 "Targets for CPS imputation of taxable interest, e00300"
CPS contains only total interest, which is in the PUF equal to `e00300` plus `e00400` (non-taxable interest).

Tabulation of PUF data show that the probability of all interest being taxable is very high when total interest is low and declines steadily as total interest rises. (See below for details.)  This is consistent with the notion that non-taxable interest is more valuable to filing units in

[2018-03-08 11:53] martinholmer commented on #167
@andersonfrailey, can you remind us why the `puf_ratios.csv` values adjust taxable interest but not non-taxable interest?  Here is is code in the Tax-Calculator `records.py` file:
[code]

[2018-03-08 14:56] andersonfrailey commented on #167
I can't remember the exact reason, but I know we decided against adjusting any other variables to avoid being overzealous with the adjustments.

[2018-03-08 15:23] martinholmer commented on #167
@andersonfrailey said:

But what was the reason for adjusting taxable interest, but not nontaxable interest.
Was the distribution of taxable interest in need of adjustment, but the distribution of nontaxable interest not in need of adjustment?

[2018-03-08 15:37] andersonfrailey commented on #167
The distribution of taxable interest was in need of adjustment, I don't believe that we looked at the distribution of nontaxable interest at that time to see if it needed an adjustment or not.

[2018-03-08 16:03] andersonfrailey commented on #131
This issue has been resolved in PR #161. Closing.

[2018-03-08 16:03] #131 closed

[2018-03-08 19:48] derrickchoe opened #168 "SOI wage targets: potential inflation adjustment issue"
Hi,

Thank you @MattHJensen, @andersonfrailey, and @hdoupe for your help introducing me to this repository. I'm in the final stages of adjusting the weights for the medical deduction project I brought up weeks ago.

While working with taxdata, I noticed that we set 12 targets for total wages by AGI bracket.

Past 2014, these targets grow with our CBO wage projections:
[code]
When matching the 2011

[2018-03-08 23:52] martinholmer commented on #167
This comment posts new, better CPS imputation targets for taxable interest income.  They are derived from raw `puf.csv` data in order to avoid any possible distortion caused by Tax-Calculator adjustments of the distribution of taxable (but not nontaxable) interest income using the data in the `puf_ratios.csv` file.

Here are the results that show the probability of having fully taxable interest in

[2018-03-13 16:15] martinholmer opened #169 "Can this project upgrade to Python 3.6?"
The Pandas developers seem to be planning to quit supporting Python 2.7 at the end of 2018 as described [here](https://github.com/pandas-dev/pandas/issues/18894).  In the coming months the Tax-Calculator developers would like to transition Tax-Calculator to be a Python 3.6+ project.

**Will this project find it acceptable to have access to only Python 3.6 taxcalc packages?**

[2018-03-13 17:02] andersonfrailey commented on #169
@martinholmer asked:

Yes. I'm also going to work on updating this project to work with Python 3.6 in the coming months. The only major obstacle is the linear programming model used in stage 2 extrapolation for the PUF. The `CyLP` package we currently use is only compatible with Python 2.7 and it is unlikely that will change anytime soon. My search for a replacement model has taken a backseat to m

[2018-03-13 17:05] martinholmer commented on #169
@andersonfrailey said:

Thanks for the quick response!

[2018-03-13 17:05] #169 closed

[2018-03-16 19:13] MaxGhenis commented on #157
Now that https://github.com/open-source-economics/taxdata/issues/131 is resolved, `n24` is no longer capped at 3, and we see CPS data with it as high as 5. This changes some of the metrics I listed in my first comment, using 2014 CPS data ([updated notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/ctc/nu18_vs_n24.ipynb)):
* `n24` totals 81.6M while `nu18` totals

[2018-03-16 19:33] MaxGhenis opened #170 "Total value of Child Tax Credit differs between CPS, PUF, and other sources"
This issue summarizes discrepancies between total values of the Child Tax Credit between the CPS, PUF, and other sources. In https://github.com/open-source-economics/taxdata/issues/157, @andersonfrailey said he has ideas on improving `n24` in the CPS which should help, so this just provides some context using tax year 2018:
* Using CPS data and Tax-Calculator ([notebook](http://nbviewer.jupyter.or

[2018-03-19 05:41] MaxGhenis opened #171 "CPS nu18 exceeds ACS by 7% in 2014 (78.8M vs 73.6M)"
See [this notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/nu18_n24_acs.ipynb) and [this ACS trend tool](https://census.missouri.edu/acs/trends/report.php?p=29|27|24|21|18|14|11|8|5|3|1&g=01000US&s=Demographic) (I checked it matches the normal ACS data, and CPS trends like [this](https://www.childstats.gov/americaschildren/tables/pop1.asp)). Could th

[2018-03-19 14:57] andersonfrailey commented on #171
This is probably a multipart issue. First the population growth rates used in stage one probably need updating. Second, we don't target nu18, n24, or any other age related variable during our extrapolation. So while the weights are adjusted to hit primarily income targets, they could be throwing off what you're interested in. A solution would be to add a target for say n24 to the stage two process

[2018-03-19 15:23] MaxGhenis commented on #170
I think I mistakenly filed this in the wrong repo because I was thinking about `n24` including 17yos. Closing in lieu of https://github.com/open-source-economics/Tax-Calculator/issues/1929.

[2018-03-19 15:23] #170 closed

[2018-03-19 16:14] martinholmer commented on #171
**@MaxGhenis (in Tax-Calculator closed issue 1927) said:**

Tax-Calculator's projections for `nu18` (and `n24`, CTC-eligible children) are significantly faster than historical growth and Census projections for children under 18. See [this notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/nu18_n24_acs.ipynb) using CPS data.

For example, tc's 2018 `nu1

[2018-03-19 16:36] martinholmer commented on #164
@andersonfrailey,
Where do we stand on correcting these bugs in the age variables in the `cps.csv` file?
Are the same kind of errors also present in the `puf.csv` file?

@MattHJensen @MaxGhenis

[2018-03-19 16:43] martinholmer commented on #159
The results reported in this issue have been incorporated in pull request #165.

[2018-03-19 16:43] #159 closed

[2018-03-19 16:44] martinholmer commented on #166
The results reported in this issue have been incorporated in pull request #165.

[2018-03-19 16:44] #166 closed

[2018-03-19 16:44] martinholmer commented on #167
The results reported in this issue have been incorporated in pull request #165.

[2018-03-19 16:44] #167 closed

[2018-03-19 17:24] andersonfrailey commented on #164
I'll put together a PR to address these issues today. In the PUF `nu13` and `nu05` include dependents age 13 and 5, so that will need to be updated.

[2018-03-19 18:04] MaxGhenis commented on #164
From https://github.com/open-source-economics/taxdata/blob/master/cps_data/cps_file_doc.md

[2018-03-20 17:40] martinholmer commented on #156
Issue #156 has been resolved by pull request #158.

[2018-03-20 17:40] #156 closed

[2018-03-20 19:01] martinholmer opened #174 "Fix top-coding logic in CPS data preparation"
**In a [comment in Tax-Calculator issue 1658 made on 11/16/2017](https://github.com/open-source-economics/Tax-Calculator/issues/1658#issuecomment-344975203) @andersonfrailey said:**

@martinholmer asked:

This occurs in the `TopCodingV1.sas` script. This is after tax units have been created and adjustments are being made to the final file.

And

I talked with John about this a few months ago. His

[2018-03-20 19:03] martinholmer commented on #174
@andersonfrailey,  I'm going to close [Tax-Calculator issue 1658](https://github.com/open-source-economics/Tax-Calculator/issues/1658) in favor taxdata issue #174.

[2018-03-20 19:08] martinholmer commented on #174
@andersonfrailey,  Where do we stand on taxdata issue #174, which seems to me like a bug.

[2018-03-20 19:17] martinholmer commented on #174
**Around 3/1/2018 @andersonfrailey said in issue #162:**

No, I haven't been able to put a significant time into considering how to change our top coding procedures yet. Given that the deadline on the UBI project, I think the next version of the CPS should be available after #161 is merged so that Tax-Calculator and then TaxBrain can be updated accordingly.

After that, in no particular order, her

[2018-03-20 19:18] martinholmer commented on #162
@andersonfrailey,  I moved your post-4/1/2018 to-do list to issue #174, so that we can close this issue #162.

[2018-03-20 19:19] #162 closed

[2018-03-20 19:50] martinholmer commented on #171
**@MaxGhenis said this on 3/20/2018:**

To confirm then, the high growth rates also result from weights, and not the aging process? tc also projects significantly higher total population growth than the Census does:

![download 10](https://user-images.githubusercontent.com/6076111/37676076-254a9d1c-2c34-11e8-88ed-5f4f6dbc8df2.png)

That's from [this notebook](http://nbviewer.jupyter.org/github/Max

[2018-03-20 20:28] martinholmer commented on #171
@MaxGhenis said in taxdata issue #171:

The values of dollar variables (like earnings) are "aged" from one year to the next using the annual growth factors in the `taxcalc/growfactors.csv` file.

The values of demographic variables (like `XTOT` and `n24`) are **not** changed from year to year, but the weights do change from year to year.  It is the changing weights that makes the total population

[2018-03-20 22:29] MaxGhenis commented on #171
Thanks for the context @martinholmer. I'll direct population aging questions to taxdata and dollar variable aging questions to Tax-Calculator.

I'm guessing changing this would be a large endeavor right? I wonder if it will make it hard to address issues like these, also given the fairly significant [decline in household size over time](https://www.statista.com/statistics/183648/average-size-of-ho

[2018-03-20 22:47] martinholmer commented on #171
@MaxGhenis said:

No.  Tax-Calculator has nothing to do with either "population aging" and "dollar variable aging".  It just **uses** the growfactors and weights supplied by the taxdata repo.  So, if you have question about either, please raise those questions in the taxdata repository.

[2018-03-30 15:49] martinholmer opened #176 "The cps_weights.csv and puf_weights.csv files have different formats"
The non-standard format of `cps_weights.csv` is causing substantial problems in Tax-Calculator.
What's the timeline for making the `cps_weights.csv` file have the same format as the `puf_weights.csv` file?

Here is the format difference:
[code]
The `cps_weights.csv` file is missing `WT2014` and has instead a mysterious `SEQUENCE` variable.

For an earlier discussion of this issue, see issue #125.

[2018-03-30 17:25] andersonfrailey commented on #176
@martinholmer, I can get a PR open to drop the sequence variable now. As for the 2014 weights column, I can copy over the weights from the CPS file, but that seems somewhat redundant. I still haven't received a definitive answer from John about the duplicate weights issue I brought up in issue #125.

[2018-03-30 17:52] martinholmer commented on #176
@andersonfrailey said:

I don't believe the `s006` values in the `cps.csv.gz` file.  So, don't do anything now.

Instead, focus on figuring out what the 2014 weights **should** be and then update the weights file.

[2018-03-30 18:00] andersonfrailey commented on #176
@martinholmer got it. I'll go ahead and remove the sequence variable and keep working on the 2014 weights issue.

[2018-04-05 14:57] jdebacker opened #179 "Question about capital gains"
Are capital gains included in the CPS file?  If not, is there an expectation that imputations will be made for this variable?

Thanks!

[2018-04-08 00:56] MaxGhenis commented on #160
Are any examples available of matching back to the CPS file? Is it matching `h_seq` in cps.csv with `XHID` in cps_raw.csv, as mapped in [finalprep.py](https://github.com/open-source-economics/taxdata/blob/master/cps_data/finalprep.py#L61), or are others needed too?

cc @evtedeschi3 as Matt mentioned you've done this.

[2018-04-09 13:57] martinholmer commented on #164
@MaxGhenis,  Thanks for pointing out these bugs in the generation of the CPS age variables.
These problems have been fixed in pull request #172.

[2018-04-09 13:57] #164 closed

[2018-04-10 13:49] andersonfrailey commented on #179
@jdebacker, capital gain distributions are in the CPS file as `e01100`, but it is missing net short term and net long term capital gains/losses (`p22250` and `p23250`).

I'm going to look into imputing those variables, but I can't give you a reliable time estimate for the imputations to be ready at this time.

[2018-04-10 14:05] jdebacker commented on #179
@andersonfrailey Thanks for this answer.  In the short run, I might provide an arbitrary split in B-Tax, but I look forward to a better imputation.

[2018-04-14 20:08] martinholmer commented on #176
@andersonfrailey said in issue #176 conversation:

Actually, on second thought, this would be a big help to Tax-Calculator.
You can do this even though #145 is still unresolved, right?

[2018-04-16 13:26] andersonfrailey commented on #176
@martinholmer asked:

You can do this even though #145 is still unresolved, right?

Yes. I can open up a PR that does this today.

[2018-04-22 15:27] MaxGhenis commented on #157
Updating the [notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/ctc/misc/nu18_vs_n24.ipynb) for taxcalc 0.19.0, where `n24` no longer includes 17-year-olds, shows:

* `n24` totals 76.3M while `nu18` totals 78.6M.
* `n24` exceeds `nu18` for 8.2M tax units, 18.7% of all tax units where `n24>0` (tiny change).
* These 8.2M tax units represent 14.0M total `n24` and 1.

[2018-04-22 15:45] MaxGhenis commented on #171
Here's an update ([notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/pop_proj_tc_vs_census.ipynb)) using taxcalc 0.19.0, which removes 17-year-olds from `n24`, 13-year-olds from `nu13`, and 5-year-olds from `nu05` per https://github.com/open-source-economics/taxdata/pull/172 (I made corresponding adjustments to Census projections):

![download 6](http

[2018-04-23 14:49] andersonfrailey opened #181 "Question about stage 2 targeting"
Here is an example of how we create a target in stage 2 of the PUF extrapolation:
[code]

@Amy-Xu, could you explain what the purpose of multiplying the stage 2 target by `APOPN / AWAGE * 1000`? I haven't been able to wrap my head around it.

[2018-04-23 14:52] martinholmer commented on #157
@MaxGhenis said in taxdata issue #157:

@andersonfrailey,  Why would the CPS values for n24 and nu18 be inconsistent?
Can you see a way to fix this?  What would be the time schedule for the fix?

[2018-04-23 15:44] martinholmer opened #182 "Fixes for next version of Tax-Calculator"
@andersonfrailey,  I'm hoping we can incorporate three data bug fixes in the next version of Tax-Calculator.
Here is my wish list:

- fix problem with PUF nu18,n1820,n21 values vs XTOT values reported in #149
- fix problem with CPS n24 values vs nu18 values reported in #157
- fix problem of missing 2014 CPS weights reported in #176

Does it seem reasonable to expect that these issues can be fixed

[2018-04-23 18:59] Amy-Xu commented on #181
This is a simplification after some algebra. See the attached for more details.
<img width="657" alt="screen shot 2018-04-23 at 2 50 11 pm" src="https://user-images.githubusercontent.com/10549597/39146744-a3ba5a66-4705-11e8-8e4b-6cb8e6f83527.png">

r, s, z are exactly what John defined in his documentation. `x_it` is unit-level amount and `X_t` is aggregate amount in year t. The derivation starts

[2018-04-23 23:26] martinholmer commented on #182
@andersonfrailey said:

Sorry I didn't make this clear, but I'm only asking for what you said you'd do last week.  In issue #176, we had this exchange about a week ago:
@martinholmer asked:

To which @andersonfrailey replied:

[2018-04-23 23:33] martinholmer commented on #182
@andersonfrailey said:

I don't understand why this is "low on [your] priority list" now that we have the CPS benefits data working.
This bug was reported over two months ago on February 12, 2018.  We agreed then to put off working on it until after April 1st, but I don't view it as low priority now that the April 1st deadline has passed.  The PUF data are still the premier input data source for T

[2018-04-24 15:14] andersonfrailey commented on #182
Ah right, sorry. Slipped my mind. See PR #184.

I have this lower on my priority list because I believe creating the CPS weights file is a larger milestone for this repo than fixing this discrepancy. Once we can create the CPS weights on our own we can then move the CPS file creation from SAS to Python, making all of our work fully replicable.

Additionally, `nu18`, `n1821`, and `n21` are all used

[2018-04-25 15:10] andersonfrailey commented on #157
Yes, I'm working on moving everything from SAS to Python ASAP. That is the next big milestone for this repo.

[2018-04-25 15:12] andersonfrailey commented on #181
Makes sense. Thanks, @Amy-Xu!

[2018-04-25 15:12] #181 closed

[2018-04-26 13:30] martinholmer commented on #176
Issue #176 has been resolved by pull request #184.

[2018-04-26 13:30] #176 closed

[2018-04-26 13:31] martinholmer commented on #149
Issue #149 has been resolved by pull request #183.

[2018-04-26 13:38] martinholmer commented on #157
Issue #157 has been resolved by pull request #183.

[2018-04-26 13:38] #157 closed

[2018-04-27 17:15] martinholmer opened #186 "Why does the new cps.csv.gz file contain many large negative values for the other_ben variable?"
[code]
More than one in five have negative `other_ben` values, with the one with the largest absolute value being minus thirty-six thousand dollars.

None of the other benefits had any negative values (in tabulations not shown here).

Do I have the wrong file?  @andersonfrailey, can you replicate these results?

[2018-04-27 18:27] andersonfrailey commented on #186
@martinholmer I was able to replicate your results. I'm speculating, but I think this was caused by my multiplying the weights in the CPS file by 100 at the beginning of the final prep scripts. This would cause the values of the `tanf` and `wic` variables we subtract from the `other_ben` initial sum in the `benefits` function of `finalprep.py` to be exceptionally large.

I should be able to fix it

[2018-05-01 19:56] andersonfrailey commented on #149
I've spent the past couple of days digging into this issue and wanted to give an update on what I've been able to find.

The root of the issue is in our matching process. During the match we break up both files into groups and match within groups. Our data is split by the number of dependents and filing status (along with a few other variables), but not by an actual count of the number of people i

[2018-05-01 20:58] martinholmer commented on #149
@andersonfrailey,  Thanks for looking into taxdata issue #149.
Your plan for resolving this issue sounds sensible.

[2018-05-07 19:30] menukaban commented on #104
Hello all,

I see that the last post made in this thread is August 2017. I wanted to check in if there has been any progress made in finding alternative LP solver since then.

[2018-05-07 20:04] andersonfrailey commented on #104
Hi @menukaban, there has been some progress, but nothing conclusive. I've been working with the [PuLP](https://pythonhosted.org/PuLP/index.html) and Scipy packages as well as a few LP solver implementations in Julia to try and find a solution, but haven't settled on anything yet. I opened PR #113 a few months back to show my work with PuLP if you'd like to check that out.

If you have any feedback

[2018-05-08 18:11] andersonfrailey commented on #186
This was resolved in PR #187. Closing.

[2018-05-08 18:11] #186 closed

[2018-05-19 18:55] martinholmer opened #195 "Problem in merged pull request #189"
After merging pull request #189, the `cps_data/finalprep.py` file contains the following code:
[code]
@andersonfrailey's description of #189 is as follows:

It is certainly an improvement to set negative charitable giving amounts to zero, but the other thing that was done here doesn't make any sense to me.  There is no need to cap charitable giving at 50% of AGI because Tax-Calculator has the a po

[2018-05-21 18:28] andersonfrailey commented on #195
@martinholmer, yes I can open a PR to remove the cap on charitable deductions.

[2018-05-21 18:52] martinholmer commented on #195
@andersonfrailey said:

That would be great.  Thanks.
I've tried to improve the documentation wording for the itemizable expense variables that are capped in the PUF data in PR #2005.

[2018-05-23 14:14] #195 closed

[2018-05-23 20:04] #182 closed

[2018-05-23 20:05] martinholmer commented on #149
Fixed for CPS data in PR #151 and for PUF data in PR #188.

[2018-05-28 17:45] martinholmer opened #206 "Why are notebooks in the taxdata repository?"
One of the prime benefits of using a version control system (such as `git`) is that it provides a history of changes in a project's source code.  But putting source code in notebooks makes it difficult to see the history of changes in source code, undercutting one of the major benefits of using version control.

On Friday, May 18, 2018, @MattHJensen discussed the issues related to including notebo

[2018-05-29 14:04] andersonfrailey commented on #206
@martinholmer,

I believe the notebooks were originally used to develop the python scripts associated with whichever directory they're in. I'd say the stage 1 notebook is no longer needed, but the stage 2 notebook is still useful.

The CyLP model used for PUF stage 2 and the PuLP model I used for the CPS stage 2 will do a "pre-solve" to see if the LP problem they're solving is feasible with the gi

[2018-05-29 14:32] derrickchoe opened #209 "New puf file issues"
@andersonfrailey @MattHJensen @martinholmer @hdoupe
Hi all,

I hope you're doing well and enjoyed the long weekend. I just downloaded the new puf data file and ran it on one of my notebooks. I noticed that my estimates were off by magnitudes of up to 100%. A quick check with a generic calculator also is giving me unexpected results: taxcalc now predicts that around 67 million tax filers itemized t

[2018-05-29 14:37] martinholmer commented on #206
@andersonfrailey said in #206:

OK.  I'll prepare a PR that removes it.

Thanks for the explanation.  I see the problem, but I think there is a better solution to this problem.
What exactly does the "infeasibility notice" look like?
Do the solvers print the notice to stdout or stderr?

I'll post a comment here that describes a solution that does not require an error-prone duplication of code (in t

[2018-05-29 14:53] andersonfrailey commented on #209
@derrickchoe, are you using the python package downloaded from Conda or the the master branch of the Tax-Calculator repo?

[2018-05-29 14:56] derrickchoe commented on #209
@andersonfrailey
I'm using the version of taxcalc from github. I don't believe I have the conda version downloaded on this machine.

[2018-05-29 15:10] andersonfrailey commented on #206
@martinholmer it prints to stdout. Here is the message you see in terminal (on a mac) when using CyLP:
<img width="613" alt="screen shot 2018-05-29 at 10 57 54 am" src="https://user-images.githubusercontent.com/20684675/40667707-c79b21a8-6330-11e8-85a2-5d4bbddbad5c.png">
You get a similar message with PuLP.

[2018-05-29 15:32] #209 closed

[2018-06-07 15:20] Abraham-Leventhal opened #221 "Analyzing business income & capital gains variables in PUF2011 for imputation to CPS"
As mentioned in taxdata issue [#119](https://github.com/open-source-economics/taxdata/issues/119), CPS is missing the following variables -

e02000: Total Sch E income or loss (income or loss from rental real estate, royalties, partnerships, S corporations, estates, trusts, and residual interests in REMICs)
e26270: Income or loss from a combined partnership or S corporation
p22250: Short-term capi

[2018-06-07 15:33] codykallen commented on #221
@Abraham-Leventhal, thanks for working on this. As you noted, the models did not work well. I believe your diagnosis of the effect of many zeros is likely correct. I would recommend using something besides OLS for the model. A tobit model would presumably be better at dealing with the many zeros as a corner solution. However, I would personally recommend experimenting with a two-stage approach:

1

[2018-06-07 15:54] Abraham-Leventhal commented on #221
@codykallen

Yes that does make sense! Considering that my models were based on observations which had non-zero values in PUF2011 it makes more sense to apply their predictions only to those observations in CPS which we have reason to believe would also have non-zero values.

In #2 you mention experimenting with the functional form of the dependent variable. Is that to mean testing models that imp

[2018-06-07 16:03] codykallen commented on #221
@Abraham-Leventhal asked:

The simplest approach would regress the income types on the independent variables. However, I recommend producing a histogram to see the distribution of the income. If it is very skewed (which is probably the case, as such distributions often have a long right tail), then you may want to regress the log of the income type on the control variables. Of course, this doesn't

[2018-06-07 17:27] MaxGhenis commented on #221
I might suggest keeping a holdout set to evaluate the model (30% is common), especially if you're trying many models. Then you can calculate something like mean squared error on the holdout set to evaluate each model. In-sample R-squared is likely to overfit.

You could also consider something like random forests to avoid the multiple steps involved in separating out the zero or negative cases. De

[2018-06-07 17:28] martinholmer commented on #221
Cody has the right ideas.
First plot the pug data to see the distribution you are trying to impute.

The plots will probably suggest starting by estimating a trinomial logit model with the categories being positive income, negative income, and (the omitted category) zero income.

Then for those with positive income estimate an OLS regression. There are likely to be extreme values, so a regression

[2018-06-07 17:49] Abraham-Leventhal commented on #221
Thank you everyone for your clear explanations of your ideas. I will get to work on implementing them.

[2018-06-07 18:43] martinholmer commented on #221
@MaxGhenis, how would you use a “fitted” random forest to do the stochastic imputation?

[2018-06-07 19:35] MaxGhenis commented on #221
You'd want to save the random forest model object after fitting it from the PUF, then call its `predict` function on the CPS data. Cell 9 [here](https://github.com/donnemartin/data-science-ipython-notebooks/blob/master/scikit-learn/scikit-learn-random-forest.ipynb) shows the methods for sklearn. You can save sklearn models using [`pickle`](http://scikit-learn.org/stable/modules/model_persistence.h

[2018-06-07 23:22] martinholmer commented on #221
@MaxGhenis said:

This is not the kind of statistical model I'm suggesting because almost all the method of this class are for **ordered** categories, which is not what @Abraham-Leventhal wants to be using.  There is one method that is relevant:
[code]
But there is zero documentation.

I'd be wary of using something that is undocumented.  The advantage of R is that it is the premier open-source st

[2018-06-07 23:27] MaxGhenis commented on #221
Actually sklearn has a multinomial logit: http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

[2018-06-07 23:35] martinholmer commented on #221
@MaxGhenis said:

But this doesn't answer my question.  @Abraham-Leventhal needs to do **stochastic** imputation with his fitted statistical model.  That means not only calculating the fitted  value using the model's estimated parameters (b), but also realizing the error term, e,  in the regression (Y=Xb+e).  How do you that second part with a fitted randomForests model?  Cell 9 in the notebook lo

[2018-06-07 23:53] MaxGhenis commented on #221
Here are a couple materials on prediction intervals for random forests in Python:
* https://blog.datadive.net/prediction-intervals-for-random-forests/
* http://contrib.scikit-learn.org/forest-confidence-interval/

Out of curiosity, how will the interval be used? I thought existing imputations were only point estimates.

[2018-06-07 23:53] martinholmer commented on #221
@MaxGhenis said:

But when I look at the documentation for that I don't see any mathematical specification of the probabilities and I don't see anything about maximum likelihood estimation of the model's parameters (which makes me suspicious).  And I see lots of language about what they're doing that would make me nervous about using that package.

Let me try to be clear about what I (and any well

[2018-06-07 23:57] MaxGhenis commented on #221
Rather, I thought they were point estimates for regressions. I recall some random number generation to allocate zeros in multi-stage imputation, is that what would happen here? That is, based on a record's probability of being zero, assign it zero with some probability, otherwise take the estimate from the OLS regression (and something similar for negatives)? Or is it also randomly chosen within t

[2018-06-08 00:14] MaxGhenis commented on #221
Agreed, but I think sklearn--one of Python's most-used libraries--has this covered: its [full documentation](http://scikit-learn.org/stable/modules/linear_model.html#logistic-regression) says

Where [5] points to

[That textbook](http://users.isr.ist.utl.pt/~wurmd/Livros/school/Bishop%20-%20Pattern%20Recognition%20And%20Machine%20Learning%20-%20Springer%20%202006.pdf)'s Chapter 4.3.4 goes through

[2018-06-08 13:02] martinholmer commented on #221
@MaxGhenis said:

The R `nnet` package would never be used for what @Abraham-Leventhal wants to do because, as its documentation clearly states, it is: "Software for feed-forward neural networks with a single hidden layer".

<img width="629" alt="screen shot 2018-06-08 at 8 55 26 am" src="https://user-images.githubusercontent.com/12170745/41159373-55f40c3c-6afa-11e8-98eb-0cd128b78221.png">

[2018-06-08 13:13] martinholmer commented on #221
@MaxGhenis said:

@MaxGhenis, thanks for the link to the 758 page Bishop book on "Pattern Recognition and Machine Learning."
But the task facing @Abraham-Leventhal is not a pattern-recognition or a machine-learning task.  He wants to estimate a well known statistical/econometric model using maximum likelihood.  He does not want to rely on software that uses solvers that must "learn" the correct fu

[2018-06-08 13:20] martinholmer commented on #221
@MaxGhenis said:

I would not use the term "randomly chosen", but any sensible imputation process will add a random realization of the regression's estimated error term to the fitted value of the Xb part of the regression, Y = Xb + e.

For imputation tasks like that facing @Abraham-Leventhal there is little danger of overfitting; getting the distribution of imputed values to look like the distribu

[2018-06-08 13:43] martinholmer commented on #206
Closing issue #206 following decision to not include any notebooks in the taxdata repository.

[2018-06-08 13:43] #206 closed

[2018-06-08 13:47] martinholmer commented on #179
The question in issue #179 has been answered and issue #221 discusses an effort to add imputed short-term and long-term capital gains to the CPS data file.

[2018-06-08 13:47] #179 closed

[2018-06-08 13:49] martinholmer commented on #125
Issue #125 has been resolved by pull request #200.

[2018-06-08 13:49] #125 closed

[2018-06-08 13:51] martinholmer commented on #104
@andersonfrailey, is there any value in keeping taxdata issue #104 open given your use of PuLP in pull request #200?

[2018-06-08 13:53] martinholmer commented on #91
@MattHJensen, is there any value in keeping taxdata issue #91 open?
Hasn't the deadline for giving CBO suggestions long passed?

[2018-06-08 13:56] martinholmer commented on #33
@MattHJensen, is there any value in keeping taxdata issue #33 open?
The last comment in #33 was a year ago.

[2018-06-08 14:00] martinholmer opened #223 "Review of pull requests 218, 220, and 222"
If there are no concerns/questions, I plan to merge #218, #220, and #222 at the end of the day (Friday, 6/8).

@andersonfrailey @hdoupe @MattHJensen

[2018-06-08 15:01] andersonfrailey commented on #104
No. Closing.

[2018-06-08 15:01] #104 closed

[2018-06-08 15:29] MattHJensen commented on #91
Agree that this issue should be closed, but please feel free to email me for an introduction if you have other suggestions to pass on to CBO. CBO is approaching their project as a series of incremental improvements that will be made over time, so they are still very welcome to suggestions.

[2018-06-08 15:46] MaxGhenis commented on #221
Machine learning relies on classical statistics, and this book has plenty of it. Here's the relevant section, which estimates the multinomial logit using the standard MLE approach. Do the formulas differ from your understanding of the model?

![screenshot 2018-06-08 at 08 09 56](https://user-images.githubusercontent.com/6076111/41165829-80c96d0a-6af3-11e8-8cd0-55eb8e49a7a9.png)

Most tutorials I f

[2018-06-08 16:41] martinholmer commented on #221
@MaxGhenis said:

Actually, it looks like the R `mlogit` package estimates what is called a `conditional logit model`, which is what gave McFadden his Nobel prize in economics.  The `conditional logit model` is a model of individual choice, which is not really what @Abraham-Leventhal wants for this task.   A clear explanation of the differences in the two types of models (both of which are often c

[2018-06-08 23:43] #223 closed

[2018-06-10 18:20] MattHJensen commented on #33
@martinholmer, I believe these enhancements would still be valuable, although please let me know if I am missing something that has happened since Aug 2016 that undermines their value. Given my current belief in their ongoing value, I advocate for leaving the issue open. I added a help wanted label.

[2018-06-10 20:16] martinholmer commented on #33
@MattHJensen said about taxdata issue #33 in June 2018:

And @MattHJensen said in his when opening issue #33 in August 2016:

@MattHJensen what "data work" needs to be done?  Are you referring to the data work in taxdata issue #32? If so, what's the status of that work?  If not, who is going to do the "data work" being referred to here in issue #33?

[2018-06-11 12:47] MattHJensen commented on #33
Please see referenced papers. They provide a good outline of at least one possible approach to being able to simulate these reforms.

No. This is a separate issue.

I don't know, hence the help wanted label.

[2018-06-11 17:46] evtedeschi3 opened #225 "Spousal age in the CPS file"
I'm matching raw CPS microdata from 2013-15 to the `tc` cps.csv file using the `h_seq`, `ffpos`, and `a_lineno` variables. I do a second round of matching off of the `a_spouse` variable in the CPS microdata to bring the same variables of interest into the `tc` cps.csv spousal records.

As a validation cross-check, I compared the age of each record in the CPS microdata to that in the `tc` cps.csv

[2018-06-11 19:35] andersonfrailey commented on #225
Thanks for pointing this out, @evtedeschi3. The deviations are not intentional. My intuition says this is probably caused by the scripts misidentifying the spouse when creating the record and assigning the wrong age. I'll look into this more and see if I can find the problem.

[2018-06-11 20:12] martinholmer opened #226 "Question about a CPS filing unit"
In responding to questions posed by @MaxGhenis in [Tax-Calculator issue 1938](https://github.com/open-source-economics/Tax-Calculator/issues/1938), I was puzzled by this filing unit in the current Tax-Calculator version of the `cps.csv.gz` file:
[code]
I don't understand why a 23-year old person who files as a SINGLE filing unit has an `XTOT` value of 2.
The value of `n21` is 2, so the extra perso

[2018-06-12 20:01] MaxGhenis commented on #221
I don't follow why overfitting isn't a concern. If the CPS records represent different households than the PUF records, it sounds like a classic out-of-sample prediction problem. Optimizing for in-sample R-squared will overfit predictions, and also produce confidence intervals that are too narrow (so the realizations won't be as dispersed as they should be). For example, if one PUF record happens

[2018-06-13 01:47] MaxGhenis commented on #221
Here's a [random forests prediction](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/random_forests_imputation.ipynb) of CPS Schedule C on the CPS (`e00900`). Training a 100-tree model on 75% of records--using all features except `e00900p` and `e00900s`--and testing on the remaining 25% shows these results:
* MAE of $5,300 on the full model.
* MAE and MSE inc

[2018-06-13 03:13] MaxGhenis commented on #221
Actually for stochastic imputation, log-loss is a better metric than accuracy of the majority-predicted class. Here random forest outperforms the multinomial regression 0.17 to 0.35.

[2018-06-13 13:01] martinholmer commented on #226
In order to try to answer my own question, I tabulated the `puf.csv` file to see if any MARS=1 filing units had XTOT values greater than one.  A number of them do have XTOT values of 2 or 3.  So, having a dependent does not automatically make you a head-of-household filing unit.  Here are the details of what I did:
[code]

[2018-06-13 13:01] #226 closed

[2018-06-13 16:10] Abraham-Leventhal commented on #221
I tried out the trinomial logistic model using R's `nnet`, [here is my code.](http://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/Imputation%20project%20-%20Trinomial%20model%20%282%29.ipynb) I used nearly all of the variables that are shared between cps and puf2011 as features, 31 features in total. The model predicts -1, 0 or

[2018-06-13 19:08] MaxGhenis commented on #221
@Abraham-Leventhal If this is to be used for stochastic imputation, you'll want to look at the predicted probability of each class (+/0/-) for each record. You should be able to do this by adding `type="probs"` to your `predict` function. At that point you can use metrics like log-loss or Brier score to evaluate the fit.

[2018-06-13 21:20] MaxGhenis opened #227 "Does the CPS data include refundable state credits, e.g. state EITC?"
A couple questions on refundable state EITCs and CTCs in CPS data:
1. Do any income measures (raw or calculated) in the CPS data include refundable state tax credits?
2. If so, are they specifically identified?

Nothing popped out, and it seems like (2) would require going to the raw CPS, though it's not clear it's there either. A few things I looked at:
* `other_ben`
* `e00700` ("Taxable refunds

[2018-06-13 23:36] martinholmer commented on #221
@Abraham-Leventhal, could you provide more information about the estimation results?
Can you show us the estimated parameters (and their standard errors) for the trinomial logit model?

Also, as @MaxGhenis suggests, what you're doing with the estimated model is not how it will be used.  You want to use the fitted model to estimate the three probabilities for each filing unit and then stochasticall

[2018-06-14 13:04] codykallen commented on #33
@MattHJensen, do you think it would be worthwhile to get help from AEI's housing center? They have a _lot_ of microdata on mortgages. Even if they can't share the actual data, they may be able to provide sufficient information to allow us to do some imputations.

[2018-06-14 14:06] Abraham-Leventhal commented on #221
@martinholmer Thanks, I will get to work on that.

[2018-06-14 15:00] Abraham-Leventhal commented on #221
Trinomial logit model estimated parameters & std errors:
[display link](https://docs.google.com/viewer?url=https://github.com/Abraham-Leventhal/taxdata/raw/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/Trinomial%20model%20coeff%2C%20SE.pdf)
[github link](https://github.com/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/Trinomial%20model%20coeff%2C%

[2018-06-14 15:38] martinholmer commented on #221
@Abraham-Leventhal provided:

Avi, there's a lot of information here, which is good, but makes it difficult to focus on methodological issues.
My view is that once we have the trinomial logit with positive/negative regressions approach working, we should compare those imputation results with imputation results generated by the random forests methodology.

So, while the comprehensiveness of your wo

[2018-06-14 18:22] Abraham-Leventhal commented on #221
OK, in that case I would focus on P22250 (short-term capital gains)!

0 = zero, 1 = positive.

[Dataframe containing coefficients, std error, t-stats for P22250 model
](https://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/P22250%20Logit%20Summary%20nb.ipynb)