[2018-06-14 19:15] andersonfrailey commented on #227
@MaxGhenis there's currently no measure in the CPS data that includes state tax credits.

[2018-06-15 14:27] martinholmer commented on #221
@Abraham-Leventhal said in taxdata issue #221:

Thanks so much, this is much more readable.
Does the package you're using output the value of the model's log-likelihood function?
We will need that later (to do likelihood ratio tests) if we settle on the trinomial logit approach rather than the random forests approach.

I think your next step should be to develop one or more measures of how well th

[2018-06-15 15:45] MaxGhenis opened #228 "Expanded datasets with multiple imputations per record"
taxdata datasets currently assign a single realization of imputation models per record. This keeps the datasets small, but discard information held in the stochastic imputation models.

In addition to the base datasets, analysts could expect more robust analysis if using data that produces multiple imputations per record. For example, a dataset with 10 imputations per record would then have 10 rec

[2018-06-15 17:46] andersonfrailey commented on #227
@MaxGhenis, I don't know of any, but I can keep an eye out for some and will let you know if I find anything.

[2018-06-15 17:48] MaxGhenis commented on #227
OK thanks!

[2018-06-15 17:48] #227 closed

[2018-06-15 18:31] Abraham-Leventhal commented on #221
@martinholmer

Do you mean the predicted likelihoods for each possible outcome (-1, 0, 1) for each observation? If so then `predict(model, data, type = 'prob')` does the job.

This would also allow me to implement your suggested method of stochastic imputation - using  a uniform random number in [0,1] and the model's CDF for each observation. I will go ahead and do this and wait on your response r

[2018-06-16 14:45] MaxGhenis commented on #221
Accuracy over the stochastically-imputed labels can hide favoritism of the majority class; for example, if it's zero 90% of the time, a model that assigns 100% probability to the zero class will be 90% accurate. This model will look OK on paper, but fail to produce the appropriate distribution of other classes.

Log-loss--[defined as](http://scikit-learn.org/stable/modules/generated/sklearn.metric

[2018-06-18 16:30] Abraham-Leventhal commented on #221
@martinholmer
The residual deviance for my initial P22250_model that's trained on 80% of the data is 150597.1

Intuitively I expect running the model without parameters would mean inputting 'y ~ 1' as the regression equation, and some research supports this. Here is how I made the model and retrieved the probabilities for each outcome. (P22250_dum = column containing the sign -1/0/1 for each obser

[2018-06-18 18:44] Abraham-Leventhal commented on #221
I used this method to stochastically impute predicted values into the validation subset of puf. I performed the imputation 8 times using different seed values each time to create different sets of random uniform numbers.

I ran these imputations only on rows with non-zero P22250 values. I found the prediction accuracy was stable, ranging from 26.45% to 27.71%, with an average of 27.2%

The model's

[2018-06-19 11:42] martinholmer commented on #221
@Abraham-Leventhal said:

Showing the notebook would be a good idea.  Otherwise, we don't know exactly what you've done.

[2018-06-19 11:46] martinholmer commented on #221
@Abraham-Leventhal said:

Why did you do that?

What do you mean by "more stable"?

Again, people would be better able to help you if you would show your work.

[2018-06-19 14:53] martinholmer commented on #221
@Abraham-Leventhal,  Here is a worked example of doing what we've been talking about.  First the Python script and then the results from `python mnlogit.py`:

The script:
[code]

The results:
[code]

[2018-06-19 15:53] Abraham-Leventhal commented on #221
@martinholmer

I ran these imputations only on rows with non-zero P22250 values.

I varied the seed values based on your suggestion from a few days ago.

Regarding testing the model on non-zero rows, I did that in addition to testing the model on the full validation dataset because I was curious if the "majority favoritism" that @MaxGhenis mentioned might exaggerate the model's predictive power. I

[2018-06-19 22:48] MaxGhenis commented on #221
You can calculate stable predicted accuracy without a random seed as `1 - MeanAbsoluteDeviation`, e.g.:

prob(1) | outcome | absolute deviation
-- | -- | --
0.6 | 1 | 0.4
0.3 | 0 | 0.3
0.5 | 1 | 0.5

This would have mean absolute deviation of 0.4, and therefore predicted accuracy of 0.6. But this is [not a proper scoring rule](https://stats.stackexchange.com/a/20614/19676) because of the majority-

[2018-06-22 16:15] martinholmer opened #231 "How can cps_stage4/extrapolation.py work?"
The benefit `extrapolation.py` script contains this line:
[code]
However, there is no such file in the taxdata repository.
Is this just a typo?  Should the `_raw` be removed?

@hdoupe @andersonfrailey

[2018-06-22 16:51] martinholmer opened #232 "Benefits extrapolation script does not work"
On the tip of the master branch, I ran the `rename_columns.py` script successfully.
Then I changed the `extrapolation.py` script to read the CPS weights in the `cps_stage2/cps_weights.csv.gz` file and when I execute `python extrapolation.py` this is what I get:
[code]
What's going on?

[2018-06-22 16:52] martinholmer commented on #232
@hdoupe and @andersonfrailey,  When was the last time somebody executed the `extrapolation.py` script?

[2018-06-22 20:03] andersonfrailey commented on #231
@martinholmer `cps_weight_raw.csv.gz` was removed in PR #200 and I forgot to update that path. I'll take care of it.

[2018-06-22 20:37] hdoupe commented on #231
@andersonfrailey what should the path be?

[2018-06-22 20:38] andersonfrailey commented on #231
@hdoupe it should just be `'../cps_stage2/cps_weights.csv.gz'`

[2018-06-22 20:39] hdoupe commented on #231
Ok, thanks.

[2018-06-23 12:22] martinholmer commented on #231
@andersonfrailey said in issue #231:

This change has been made in PR #233.

[2018-06-23 12:22] #231 closed

[2018-06-23 21:16] martinholmer commented on #232
Also, in addition to the bug in the benefit `extrapolation.py` script reported [here](https://github.com/open-source-economics/taxdata/issues/232#issue-334948640), this script generates many PEP8-style errors that would make it impossible to check-in this file to a repository that was enforcing this coding style (as, for example, the Tax-Calculator repository is):
[code]

It also generates the fol

[2018-06-26 14:09] Abraham-Leventhal commented on #221
Update:

Here is a [cleaner nnet imputation notebook](https://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/Imputation%20Project%20-%20nnet%20model%202.ipynb). It contains a summary of both the full and intercept-only nnet models of P22250's sign, and 1 imputation followed by an accuracy calculation.

nnet accuracy = 68.5%

Here

[2018-06-26 14:38] codykallen commented on #221
@Abraham-Leventhal asked:

Tax units' composition of dividends is probably not a meaningful signal. Qualified dividends (`e00650`) are those paid by a publicly traded corporation and received by a person who has owned the stock for at least 60 days over a 121 day period. Nonqualified dividends (`e00600 - e00650`) are those paid to someone who has not met the hold period requirement or are paid by

[2018-06-26 15:34] Abraham-Leventhal commented on #221
@codykallen
How does including both `e00650` and `e00600 - e00650` sound to you?

Below is Max's code to create confusion matrices, applied to both nnet and random forests' (with 100 estimators) predictions:
(count is a column of 1's)
[code]
nnet:

![screen shot 2018-06-26 at 11 12 10 am](https://user-images.githubusercontent.com/39494755/41921877-dee5a178-7931-11e8-86b7-b71155311c3c.png)

random

[2018-06-26 15:36] codykallen commented on #221
@Abraham-Leventhal asked:

That seems fine to me.

[2018-06-26 15:39] MaxGhenis commented on #221
@codykallen suggested

Predictive models are indifferent between features and linear combinations of features. For example, if the current coefficients for `e00600` and `e00650` are 2 and 1.5, respectively, then replacing `e00650` with a new feature defined as `e00600 - e00650` will produce coefficients of 0.5 for the new feature, and keep 1.5 for `e00650`. The predictions will be identical. Nonpa

[2018-06-26 15:44] MaxGhenis commented on #221
@Abraham-Leventhal asked

Including `e00600`, `e00650`, and `e00600 - e00650` will cause the model to break due to perfect collinearity. I'd recommend sticking with the raw `e00600` and `e00650` predictors to make the model clean, but if you'd like you can verify that predictions are identical (or virtually identical because of random number generation) when replacing `e00600` with `e00600 - e0065

[2018-06-26 15:50] Abraham-Leventhal commented on #221
@codykallen @MaxGhenis
I added a `e00600 - e00650` column, results were identical for nnet, and virtually identical for random forest (accuracy: increased from 73.4% to 73.7% , log-loss: decreased from 0.607 to 0.606)

[2018-06-26 19:35] Abraham-Leventhal commented on #221
I ran the random forests notebook with 1000 estimators and, oddly, the model performed poorly compared to 100. [Link](https://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/Imputation%20Project%20-%20Random%20forests%201000%20estimators.ipynb)

Accuracy = 73.1%
Log loss = 0.656
Confusion matrix:
![screen shot 2018-06-26 at 3 34 06

[2018-06-26 20:34] martinholmer commented on #221
@Abraham-Leventhal showed these "confusion tables":
[code]
![screen shot 2018-06-26 at 11 12 10 am](https://user-images.githubusercontent.com/39494755/41921877-dee5a178-7931-11e8-86b7-b71155311c3c.png)
[code]
![screen shot 2018-06-26 at 11 12 27 am](https://user-images.githubusercontent.com/39494755/41921889-e5387744-7931-11e8-99c0-1bc7f515614b.png)

@Abraham-Leventhal, can you explain the small c

[2018-06-26 21:11] martinholmer opened #235 "What data work needs to be done for next (0.20.2) release of Tax-Calculator?"
I'm raising this issue in order to facilitate a discussion about what should be on our short-term to-do list.

@andersonfrailey and I are in agreement that we will stage recent and pending data enhancements, so that 0.20.2 incorporates all the enhancements **except** the switch to the new CBO projection, which is pending in PR #180.  Then the new CBO projections will be incorporated in Tax-Calcula

[2018-06-27 18:03] Abraham-Leventhal commented on #221
@martinholmer

Correct, this is the subgroup used for testing the models, not estimating them. The random selection is done in the [nnet notebook](https://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/Imputation%20Project%20-%20nnet%20model%203.ipynb) in cell 60 under "Data." I use set.seed() before the sample() function so the s

[2018-06-27 19:54] andersonfrailey commented on #235
@martinholmer, I think you've listed everything that should be done before  the taxcalc 0.20.2 release.

The IRS recently released 2015 SOI data (we currently use 2014 data in our targeting), but that update can wait until we also implement the CBO updates.

I can look into the PUF weight with zero weight.

@hdoupe can you take a look at the benefit extrapolation scripts?

@martinholmer with regar

[2018-06-28 01:09] martinholmer commented on #235
@andersonfrailey asked:

PR #233 did not change the precision of the target amounts.  Point 2 would add something like this format statement to the `to_csv` calls that write the two target CSV files:
[code]
Does it make sense to round the target amounts to whole numbers (without any fractions)?

@hdoupe @MattHJensen

[2018-06-28 13:49] hdoupe commented on #232
I bumped the tolerance up from 1% to 5% and everything runs just fine. Could it be possible that the data has changed since this script was last run and this is what's breaking the script?

[2018-06-28 14:11] martinholmer commented on #232
What do you mean by “the data”?
If 5% tolerance is OK now, why was 1% tolerance used originality?  Can you explain why there is a need for any positive tolerance?  Why would there ever be a shortage of participants to hit a target?

[2018-06-28 14:47] Amy-Xu commented on #232
My intuition that we need a positive tolerance because, if I remember correctly, many individual weights in the low income range are quite large. So it's hard to hit the targets exactly.

In terms of the tolerance, I personally feel either 1% or 5% is fine with our purpose, but it might worth a bit time to figure out why exactly we have to increase the tolerance from 1% to 5%. The 5% tolerance doe

[2018-06-28 14:49] Amy-Xu commented on #144
Not relevant anymore. Closing.

[2018-06-28 14:49] #144 closed

[2018-06-29 14:52] martinholmer commented on #221
@Abraham-Leventhal,  Thanks for all the work in taxdata issue #221 that compares two methods of estimating short-term capital gains categories (loss, zero, gain) in the PUF data.  The idea of all this preliminary work was to see which method (random forests or trinomial logit) was the more promising for your imputation project.

Is there anything else you are planning on doing to compare the two m

[2018-06-30 13:54] martinholmer commented on #232
@Amy-Xu said:

@Amy-Xu, thanks for your response, but I'm still confused.  If "it's hard to hit the targets exactly," why is there only one call to `np.allclose` in the `extrapolation.py` script?  Right now the script only determines whether or not we are close to the participant-count targets.  Don't we want to know by how much we miss the dollar-amount targets?

@hdoupe @andersonfrailey @MattHJe

[2018-07-01 19:50] MattHJensen commented on #232
I’d also be interested to know what tolerance is required for the participation numbers if they (participation numbers) are not explicitly targeted. I remember that the explicit participation targetting added some complexity and size to tax-calculator, and so while we are examining tolerances, it might be a useful exercise to compare the tolerance w explicit targeting to that w/o.

[2018-07-02 15:13] Abraham-Leventhal commented on #221
@martinholmer
I am for using the trinomial logit method, but given my relative inexperience with modeling and statistics compared to yourself and the other contributors, I was waiting on further input.

Assuming the team is for using nnet's trinomial logit model for classifying the income as negative/zero/positive, I am ready to continue this project based on your advised workflow from a previous

[2018-07-02 15:39] Abraham-Leventhal commented on #221
Also, I take it that the actual imputation will use a model trained on all of the puf data, not just the 80% sample?

[2018-07-02 16:23] martinholmer commented on #221
@Abraham-Leventhal said in taxdata issue #221:

Yes.  That's exactly correct.

[2018-07-02 16:52] martinholmer commented on #221
@Abraham-Leventhal said in taxdata issue #221:

OK, I'll try to provide "further input" in this comment.

First of all, I don't think using the `nnet` R package is the best choice for actually doing the imputation work.
Using `nnet` was essential for doing the methodology comparison work (because it could estimate random forests), but it is not the best choice for the actual imputation work.  You

[2018-07-02 18:06] Abraham-Leventhal commented on #221
@martinholmer

That makes sense

I will get to work on this, I am most comfortable with Python so this is preferable.

Understood, thank you for your input.

@MaxGhenis

Why bother with a second imputation stage for observations that are predicted in the first stage to be zero-valued? Is it reasonable to only do a two-stage imputation for observations predicted to have non-zero values (with models

[2018-07-02 18:11] MaxGhenis commented on #221
Yes, you only need to do the OLS for nonzero records. My comment was to say that if we only cared about minimizing MSE we might not even be interested in two-stage methods; doing so *might* reduce MSE, but we mostly do it because we specifically care about correct prediction of zeroes and a correct prediction interval.

Also just FYI, natural log is recommended and most common but your choice of l

[2018-07-03 14:07] andersonfrailey opened #239 "PUF record with zero weight"
@martinholmer noticed when writing tests for the weights that there is one record with a zero weight. I did some data exploration and believe I found the reason.

The record in question, located at index 35680, has a weight of zero from 2011 to 2015 and a weight of one for all years after that. Looking at the `cps-matched-puf.csv` file, I found that before rounding that record has a weight of 0.00

[2018-07-03 14:10] hdoupe commented on #232
@martinholmer said:

Right now, the participant levels are the only targets that are hit. I'm unsure why the dollar amounts were not targeted. @Amy-Xu do you know why the dollar amounts were not targeted?

Right now, the difference between the actual and expected participant levels is the "distance" measure that we are minimizing:

We have a vector of participants `p` (p_i in {0, 1}, 0 if not part

[2018-07-03 14:30] martinholmer commented on #239
@andersonfrailey,  Thanks for your detailed explanation in #239 of why there is one PUF record with zero weight (in the rounded `puf_weights.csv.gz` file) in every year.

Your investigation shows that the weight-creation process is working as designed.
I see no reason to do anything about this situation because everything is correct.
We are not going to reduce file sizes much by trying to eliminat

[2018-07-03 14:51] martinholmer commented on #232
@hdoupe, Thanks for your [detailed description](https://github.com/open-source-economics/taxdata/issues/232#issuecomment-402170864) of the current logic in the benefit `extrapolation.py` script.  By the way, your "background knowledge on this problem" is far more extensive than mine, and I think your suggestions about how to implement multiple-targeting sound promising.

However, this discussion h

[2018-07-03 15:41] andersonfrailey commented on #239
@martinholmer I agree that we shouldn't make any changes right now. Closing.

[2018-07-03 15:41] #239 closed

[2018-07-03 18:12] andersonfrailey commented on #232
@MattHJensen can you explain what you mean by using explicit targeting and not using explicit targeting?

[2018-07-03 18:38] martinholmer commented on #232
@andersonfrailey asked @MattHJensen what he meant in issue #232 when he asked what the "participation numbers [would be] if they (participation numbers) are not explicitly targeted."  @MattHJensen will be able to give the definitive answer to your question, but my understanding is that he's asking how far off the participation numbers would be from their targets if we used the same benefit extrapo

[2018-07-03 19:46] Amy-Xu commented on #232
@MattHJensen asked

@andersonfrailey If I understand right, I think Matt refers to an alternative Martin proposed last year that we can do this extrapolation in a similar way as other tax variables. Specifically, we could just collect growth factors and apply them directly to the benefits without creating explicit targets. Both pros and cons were discussed in detail in issue #106.

It could be wor

[2018-07-03 20:11] Abraham-Leventhal commented on #221
@martinholmer , @MaxGhenis

I've run into an issue with MNLogit in the task of predicting the sign of P22250.

[MNLogit notebook](https://github.com/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/P22250%20-%20full%20imputation%20(summary%20bug%201).ipynb): This illustrates the errors I encounter, and the NaN-only parameters that MNLogit is producing. Cell 2

[2018-07-05 15:24] hdoupe commented on #232
Thanks for the info @Amy-Xu. Does this approach sound sensible:
- do the benefits extrapolation with the growth factors method
- compare the benefit distribution and average benefit for each program
- judge based off of these results whether the growth factors method or discrete choice (current) method is better/more efficient

[2018-07-05 17:00] martinholmer opened #241 "Questions about extrapolated benefits"
Given the fact that (1) the `cps_stage4/extrapolation.py` script on the taxdata master branch does not work, and (2) the `taxcalc/cps_benefits.csv.gz` file on the Tax-Calculator master branch was apparently generated with unknown weights, and (3) the `test_extrapolation.py` tests were never finished, I decided it would be prudent to compare the actual benefit dollar amounts and benefit recipient c

[2018-07-05 17:04] martinholmer commented on #241
**benactual.py**
[code]

**bentarget.py**
[code]

[2018-07-05 17:07] MaxGhenis commented on #241
Re: TANF, could https://github.com/open-source-economics/C-TAM/issues/65 be relevant? Maybe some change didn't propagate?

[2018-07-05 17:11] martinholmer commented on #241
@MaxGhenis said regarding TANF differences reported in taxdata issue #241:

@Amy-Xu, what is the answer to @MaxGhenis' question?

[2018-07-05 19:49] martinholmer commented on #221
@Abraham-Leventhal said in issue #221:

I can't help you until you switch out of using notebooks and start developing using Python scripts.
I can't help you because I need a script to run on my computer to see exactly what's going wrong.
All I can say (until you show me your `impute-p22250.py` script that is causing problems) is that last month while in Toronto I used the statsmodels package to es

[2018-07-05 19:49] #221 closed

[2018-07-05 19:57] MaxGhenis commented on #221
Is this issue only about classification methodology? It seems like it's about the full imputation methodology. The actual imputations haven't yet been computed or evaluated. Given the many strands here, would a Google doc be easier to work through than this long issue?

If statsmodels is creating problems, you could also try sklearn with the `c` parameter set high (e.g. 1e10), which should mirror

[2018-07-05 20:45] MaxGhenis commented on #221
Yes, the only change from your past sklearn logistic model you'll need is setting the `c` parameter high.

I've found the notebooks very helpful for following along with your work. Hope it'd be OK to continue showing results from your exploratory analysis there while also putting for-production code in `.py` files.

[2018-07-07 01:56] MaxGhenis opened #243 "Add n65 field for number of people age 65 or older"
Low-priority, but I've found myself needing to use the number of people age 65+ in tax units a few times. This is straightforward to calculate when using a dataframe, e.g. I've used this function:

[code]

But this might not be obvious to all users, so having it in the data might be helpful. Alternatively, this `n65` function could be made available in `taxcalc`.

[2018-07-09 13:06] andersonfrailey commented on #243
@MaxGhenis I think adding an n65 variable would be pretty straightforward. We have a potential new contributor looking for an easy entry project so I'll probably pass this on to her, unless someone can think of a reason against adding n65.

cc @martinholmer @hdoupe

[2018-07-09 19:15] Abraham-Leventhal opened #244 "Statsmodels' MNLogit encountering issues predicting sign of P22250"
@martinholmer @MaxGhenis @andersonfrailey

Below is my code which is intended to predict P22250's sign using statsmodels' MNLogit:

[code]

Below are the errors this produces for me. Model.summary() outputs a summary where all of parameter values are NaN.

[code]

Considering the possibility that perfectly colinear predictors were my problem, I removed E00650 (contained in E00600) as well as F2441

[2018-07-09 19:47] MaxGhenis commented on #244
Has `mnlogit` ever run successfully, or have you only been using sklearn for Python multinomial modeling?

A couple things you could try:
1. Just use one predictor, e.g. `sign ~ E00200`.
2. Use the non-formula version, i.e. `sm.MNlogit(puf.sign, puf[predictors])`. Personally I prefer this anyway, since you can avoid the formula hackery.

`mnlogit` and `MNlogit` worked for me in a very basic exampl

[2018-07-09 19:57] Abraham-Leventhal commented on #244
@MaxGhenis
Yeah mnlogit runs successfully in other cases, just not in this one when using all of the predictors that I'd like.

1. Using just 1 predictor, and random small batches of them, MNLogit seems to be working fine.
2. The non-formula version does not work either, its encountering the same errors when I use all of the predictors.

I will do some trial and error and see which predictors are

[2018-07-09 20:43] Abraham-Leventhal commented on #244
@MaxGhenis
After trial and error I have found that removing E00650 and E01100 allows smf.mnlogit to run:
[code]
While E00650 is perfectly colinear with E00600, I don't know what's special about E01100. It's described as "Capital gain distributions not reported on Sch D." A full description of each of the predictors that I am using can be found below - I do not see why E01100 is such a problem.
<de

[2018-07-09 22:59] MaxGhenis commented on #244
I dug into the CPS data [here](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/taxdata_collinearity.ipynb) and confirmed that `e00650` is pretty collinear with `e00600`, with a correlation coefficient exceeding 0.999, including when limiting to the ~quarter of records with nonzero values of either.

I don't think `e01100` should be problematic though; its max

[2018-07-09 23:20] MaxGhenis commented on #244
Ah looks like CPS only has a single total for charitable contributions, which is split for all using the ratio in the PUF: https://github.com/open-source-economics/taxdata/blob/4f86528bc264f11fe70583cbf35a2a4a5b8b7983/cps_data/finalprep.py#L149

Given this I'd recommend adding `e19800` and `e20100` into a new feature, and using that for imputation across the two datasets.

It seems like this might

[2018-07-10 11:39] martinholmer commented on #243
@andersonfrailey said:

I see the benefit of starting out a new contributor with an easy project, but I'm not sure this is the most efficient way to accomplish the task.  Adding a `n65` variable means taxdata work on both CPS and PUF files, slightly larger data files, extra taxdata testing, and more Tax-Calculator input data documentation.

The other approach would be to simply provide @MaxGhenis'

[2018-07-10 12:53] martinholmer commented on #244
@Abraham-Leventhal said he was executing this Python script:
[code]
There are several things about this script that I don't understand.

1. Why are you doing this:
[code]
when there apprears to be no such file in the taxdata repository?
What taxdata subdirectory is your script in?

2. Why are you doing this:
[code]
This sets `sign` to -1 when gains are negative.  Are you sure that a variable with

[2018-07-10 13:08] andersonfrailey commented on #243
Good points, @martinholmer. I think it's easy enough to assign to the new contributor. Do you think it would be best to add the function as a method of the calculator class or put it in `utils.py`?

[2018-07-10 13:48] martinholmer commented on #243
@MaxGhenis said in Tax-Calculator issue #243:

 This is straightforward to calculate when using a dataframe.  I've used this function:

@MaxGhenis,  Thanks for the suggestion/request, but it seems a little more complicated than I first thought.
Here is the documentation entry for the `elderly_dependent` input variable:
[code]
So, this variable indicates the presence of one (or more) elderly depend

[2018-07-10 15:22] MaxGhenis commented on #243
`elderly_dependent` appears to be misdocumented, at least with CPS data, where the field's maximum value is 3:

[code]

[2018-07-10 15:44] andersonfrailey commented on #243
@MaxGhenis, the bug was on the TaxData side. In PR #194 I updated the `elderly_dependent` variable to be a 0 or 1 in the CPS.

@martinholmer, it wouldn't be too much effort to construct an `n65` variable. Before PR #194 `elderly_dependent` effectively functioned as `n65` so I can base any changes off that.

[2018-07-10 15:49] MaxGhenis commented on #244
Like R, `statsmodels` creates k-1 dummies for you if the predictor is a string ([example](http://www.statsmodels.org/dev/example_formulas.html)). So you can transform these to strings to avoid the need for dummies.

NB: sklearn requires dummies, which you can generate with the pandas [`get_dummies`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) function.
NB2: Nonl

[2018-07-10 15:51] martinholmer commented on #243
Here is what I get for the values of `elderly_dependent` in both the PUF and CPS data sets:
[code]
So, @MaxGhenis, you're right about the CPS data having more detail (that is, the exact count of elderly dependents in the filing unit).  But it appears as if the PUF data do not have that kind of detail.  So, adding @MaxGhenis' `n65()` function to Tax-Calculator would still be not be exactly correct

[2018-07-10 15:54] MaxGhenis commented on #243
Would it be OK to implement `n65` as a CPS-only feature in this case? It'd be awesome if this could get in before switching `elderly_dependent` to 0/1, since that will make my current function incorrect.

[2018-07-10 16:02] martinholmer commented on #243
@andersonfrailey said:

@andersonfrailey, Are you saying you can construct an accurate `n65` variable for the PUF data?

If not, then I don't think we should create any `n65` variables.

If so, then why not change the name of `elderly_dependent` to `elderly_dependents` making it a count variable in both the CPS and the PUF data?

@MaxGhenis

[2018-07-10 16:03] martinholmer commented on #243
@MaxGhenis said:

No, we are not going to get in the business of including things in Tax-Calculator that work only with one or another of the input data sets.

[2018-07-10 16:12] Abraham-Leventhal commented on #244
@martinholmer
1. > What taxdata subdirectory is your script in?

My script's subdirectory is outside of my local copy of the repo for these preliminary scripts. This will be changed for any final PR.

2. > Are you sure that a variable with values -1, 0, 1 will have the omitted category be -1? Remember we want to estimate logit coefficients for the zero and positive categories. Maybe what you're do

[2018-07-10 17:21] andersonfrailey commented on #243
@martinholmer I can create an `n65` variable in the PUF that would be created exactly like the other age variables in the PUF (`nu18`, `n1820`, etc.) and rename `elderly_dependent` to `n65` in the CPS. Neither would take much effort.

[2018-07-10 17:29] MaxGhenis commented on #243
`n65` would need to be defined as per [my initial comment](https://github.com/open-source-economics/taxdata/issues/243#issue-339108378), not renamed. For example, RECID 3 has `age_head=80` yet `elderly_dependent=0`.

[2018-07-10 17:45] martinholmer commented on #243
@andersonfrailey and @MaxGhenis,  Thanks for all the input on this issue.

Seems, like we should backtrack on #194 and make a new `elderly_dependents` (note the trailing `s`) variable in the CPS like `elderly_dependent` was before #194 and make the new PUF `elderly_dependents` variable be a count variable (just like the new CPS `elderly_dependents` variable).  Then we can drop the old `elderly_dep

[2018-07-10 19:58] MaxGhenis opened #245 "CPS records from the same household have the same characteristics"
I stumbled on something fishy, wanted to check whether it's WAI. If you look at CPS records with `h_seq=581`, there are 17, which all have `ffpos=1`. 15 of these 17 (`RECID` 986-1000) have many identical characteristics:
* `age_head=47`
* `age_spouse=39`
* `s006=13`
* `e00200=0`
* `XTOT=6`

etc., though they differ on some like `e00900p` and `agi_bin`. I didn't check if this is broadly common acro

[2018-07-10 20:32] MaxGhenis commented on #244
@martinholmer what's the value of dropping variables based on those rules of thumb if including them produces more accurate predictions? As a user I'm only interested in accurate data, not parsimony or inferentially useful coefficients.

[2018-07-10 21:01] Abraham-Leventhal commented on #244
@MaxGhenis

Thanks for the heads up, this is much simpler than making dummies.

I made a [puf version of your collinearity notebook](http://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/puf_collinearity.ipynb). I'm getting markedly different minimum eigenvectors, all around 0.15, much larger than yours which are ~ 5e-8. puf2011's

[2018-07-10 21:11] MaxGhenis commented on #244
Thanks @Abraham-Leventhal for re-running that notebook, which also shows that `e00650` and `e00600` are considerably less correlated in PUF vs. CPS. I see this makes sense as the CPS `e00650` is [often set](https://github.com/open-source-economics/taxdata/blob/4f86528bc264f11fe70583cbf35a2a4a5b8b7983/cps_data/finalprep.py#L94) as a constant fraction of `e00600`. I'd suggest using `e00600` only.

T

[2018-07-10 21:23] MaxGhenis commented on #244
I re-ran the [collinearity notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/taxdata_collinearity.ipynb) after replacing `e19800` and `e20100` with their sum, `e19800_e20100`. This shows that the next-most-collinear pair is `EIC` and `n24`, with a correlation of 0.97. Could you check the correlation of these in PUF? Since adding `n24` improved the mod

[2018-07-11 04:34] MaxGhenis commented on #243
Sounds good. Based on [this line](https://github.com/open-source-economics/Tax-Calculator/blob/e94ed40d1cd00c4167492a6048972e4a10dab1c9/taxcalc/functions.py#L170) it seems like the dependent care above-the-line deduction may have been miscomputed using CPS data so far, is that right? Will the `elderly_dependent` -> `elderly_dependents` change also change that line to use something like `elderly_de

[2018-07-11 09:37] martinholmer commented on #243
@MaxGhenis said in taxdata issue #243:

@codykallen,  my guess is that you added the elderly-dependent-care deduction logic to Tax-Calculator because it was part of the early Trump tax reform proposals.  In those proposals, was the maximum deduction amount (`_ALD_Dependents_Elder_c`) expressed as "per elderly dependent"?  Or, was the maximum credit the same amount no matter how many elderly depend

[2018-07-11 12:14] codykallen commented on #243
@martinholmer, although you have correctly identified which proposal prompted the addition of the `_ALD_Dependents_*` parameters (specifically, the Trump 2016 campaign proposal), I was not actually the one to model it. It was prepared by @MattHJensen for the first of the campaign tax reform JSONs, `Trump2016.json`.

As with many campaign reforms, there is substantial uncertainty regarding the prec

[2018-07-11 12:40] martinholmer commented on #243
@codykallen,  Sorry about misidentifying you as the author of `Trump2016.json`.
Thanks so much for the very helpful discussion of what we know about that reform.

[2018-07-11 15:40] Abraham-Leventhal commented on #244
@MaxGhenis
Ah, I understand now. CPS only has one charitable contribution variable as we split it into e19800/e20100 using the ratio of E19800/E20100 in PUF. Only using their sum as a predictor makes sense.

From your comment to Martin:

As I understand it, our primary goal is an accurate imputation. If including nearly-irrelevant or mostly-collinear predictors in our model allows it to predict CP

[2018-07-11 17:21] MaxGhenis commented on #244
Variable selection can also be useful if you're concerned about overfitting, but given we're comparing against an out-of-sample set, predictors that improve that log-loss are likely to improve the end model.

[2018-07-11 18:34] Abraham-Leventhal commented on #244
@MaxGhenis

I looked into the highest correlations between all of our predictors. Here is the [puf collinearity notebook with the analysis](http://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/puf_collinearity_1.ipynb) included at the bottom under "Check general correlations."

As you can see, `EIC` and `N24` are not well-correla

[2018-07-11 19:09] Abraham-Leventhal commented on #244
@martinholmer said in [this comment](https://github.com/open-source-economics/taxdata/issues/244#issuecomment-403811208):

EIC does not appear to be categorical, it records the number of children qualifying for the EIC (between 0 and 3) according to the TaxData documentation. Here's a screenshot of the PUF documentation.

![screen shot 2018-07-11 at 3 04 11 pm](https://user-images.githubuserconten

[2018-07-12 13:41] martinholmer commented on #241
Closing this issue about the extrapolated benefits because the `extrapolation.py` script has been revised in pull request #242 and a test of the extrapolated benefits has been added in the `test_benefits.py` file.

There are still substantive issues with the extrapolated benefits, but these issues will be discussed in one or more new GitHub issues.

[2018-07-12 13:41] #241 closed

[2018-07-12 14:28] andersonfrailey commented on #245
@MaxGhenis, this is probably due to our approach to adjusting for top coding. When we have a record that has been top coded for whatever reason, we create copies of that record each with slightly different values for just the top coded variable.

It doesn't look like this specific record has a wage top code, but it might have one for interest, dividends, etc.

[2018-07-12 17:39] MaxGhenis commented on #245
Ah OK, thanks!

[2018-07-12 17:39] #245 closed

[2018-07-13 19:24] lucassz opened #253 "Remove special handling of CPS top-coding"
The current method employed by TaxData to handle CPS top-coding is to augment the topcode by a randomly chosen value, with this process repeated a number of times while keeping the weight of the individual tax entry constant. [CPS 2015](http://www.nber.org/cps/cpsmar2015.pdf) uses a different method of swapping values between different but similar households ("rank proximity swapping"), supposedly

[2018-07-16 20:12] Abraham-Leventhal commented on #244
@MaxGhenis

Here is the puf collinearity notebook that addresses the correlation between EIC and N24 in puf, as well as an analysis of the highest correlations between all of the predictors of interest in puf. It's all at the bottom under "Check general correlations." [Link](http://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/pu

[2018-07-16 21:16] Abraham-Leventhal commented on #244
@MaxGhenis @martinholmer

The goal of this issue is to understand what's going wrong with my MNLogit code in the task of predicting the sign of P22250.

Based on your input I have changed the `MARS` column to a string to ensure it is interpreted as a categorical variable. I also performed a correlation analysis of the predictors to check if collinearity was causing the problem. You can look at tha

[2018-07-16 21:19] martinholmer commented on #244
@Abraham-Leventhal said:

Let me stop you right there.  I never suggested any such thing.  In fact I suggested a totally different approach.

[2018-07-17 04:44] MaxGhenis commented on #244
@martinholmer see from https://github.com/open-source-economics/taxdata/issues/244#issuecomment-403872275:

Here's the example shown, where `Region` also has a value of `C` which is set as the baseline:

![image](https://user-images.githubusercontent.com/6076111/42796707-792e8cea-8940-11e8-8ab7-d2603b3520ed.png)

@Abraham-Leventhal Given the `E01100` mystery, my 2c would be to try `sklearn` with a

[2018-07-17 05:22] MaxGhenis commented on #244
One option would be to proceed with the best model that runs (i.e. without `E01100` for now), since you still need to do the linear regression conditional on sign. It's still possible that a random forest (or some other model if you wanted to explore one) outperforms the trinomial+lm approach on final outcome metric, which would make this error moot.

[2018-07-17 15:16] andersonfrailey commented on #244
Catching up on the discussion in this issue. I agree with @Abraham-Leventhal and @MaxGhenis that for this specific project the we're going for accurate data more than anything else and if including additional variables in the model achieves that we should use them. @martinholmer I understand your point about statistical models not performing well when a ton of variables are thrown at them indiscri

[2018-07-17 15:20] MaxGhenis commented on #244
@andersonfrailey that's right, with one clarification:

`Region` in this case also has a value of `C`, which is used as the baseline to avoid collinearity (you always want k-1 dummies). It picks the first alphabetically as baseline, so for `MARS` the baseline value would be `1` and it would create dummies for 2/3/4/5.

[2018-07-18 16:21] martinholmer commented on #244
@Abraham-Leventhal said:

Yes, it seems to me that that's one of the steps in the imputation process.

[2018-07-21 10:53] martinholmer commented on #235
With the merge of #258, the data preparation for the Tax-Calculator 0.20.2 release has been completed.

[2018-07-21 10:53] #235 closed

[2018-07-21 10:54] martinholmer commented on #243
The `elderly_dependent` dummy variable has been changed to the `elderly_dependents` count variable in both the CPS and PUF data.

[2018-07-21 10:54] #243 closed

[2018-07-21 10:58] martinholmer commented on #253
@lucassz,  Is the topic in your issue #253 different than the topic raised in issue #174?

[2018-07-21 11:03] martinholmer commented on #148
@andersonfrailey,  Is there still something to be discussed in issue #148?
This issue was opened on February 7, 2018, and there has been no discussion in it or reference made to it since March 3, 2018.  If the issue is resolved, you might want to closed it.

[2018-07-21 11:04] martinholmer commented on #160
No discussion of issue #160 since April 8, 2018, so it would appear this issue is resolved.

[2018-07-21 11:04] #160 closed

[2018-07-22 13:35] martinholmer opened #259 "No DSI=1 filing units in new puf.csv file"
@andersonfrailey,
The following results look fishy.  Is there a bug in the preparation of the `puf.csv` file?
[code]

How is it that there are no `DSI` filing units in the newer version of the `puf.csv` file?

And what accounts for the decline in the total number of filing units in the `puf.csv` file?

[2018-07-23 13:12] andersonfrailey commented on #253
@martinholmer it's in line with the discussion in #174. I asked @lucassz to look into how we should revise our top coding logic and he found that there no longer seems to be a need for any top coding adjustments.

[2018-07-23 13:15] andersonfrailey commented on #259
@martinholmer I'll need to go back through the changes we've made between this version of the PUF and the previous one to see if/where a bug could have been introduced. I'll post what I find here.

[2018-07-23 13:16] andersonfrailey commented on #148
I believe we can close this issue now. If anyone involved has further questions they're free to reopen it.

[2018-07-23 13:16] #148 closed

[2018-07-23 15:36] andersonfrailey commented on #259
Tracked this bug back to PR #188, when we started including the number of people in a tax unit in the partition phase of the Statistical Matching.

During phase one of the match, the `people` variable is set to `np.nan` for all dependent filers. This results in all of those filers being thrown out when we start grouping them together. Setting `people` to `np.nan` for dependent filers follows what

[2018-07-24 15:16] Abraham-Leventhal commented on #244
@martinholmer @MaxGhenis @andersonfrailey
It turns out that in puf, `E01100` is a column of 0. While I am not well versed in multinomial logit models I am guessing this is why `E01100` breaks mnlogit. So that question has perhaps been answered.

[2018-07-24 18:19] martinholmer commented on #244
@Abraham-Leventhal said:

Maybe, but it doesn't look that way to me.  Here is what I get:
[code]
So among the 163,790 filing units in the raw PUF file, I see a minimum value for E01100 of zero and a maximum value of over one-quarter of a million dollars.

Did I do something wrong?

[2018-07-26 15:21] Abraham-Leventhal opened #267 "Imputation of E02000, E26270, P23250, P22250 from puf to cps"
Hi, I am creating this as a general-purpose issue for this imputation task. As a preliminary step, here is my understanding of our proposed methodology for this task (using P22250 as a test case).

1. Create a model to predict the sign of P22250 in cps (this has been done)
2. For observations in cps predicted to have a zero, impute a zero.
3. For observations in cps predicted to have negative or p

[2018-07-26 16:05] Abraham-Leventhal commented on #267
@MaxGhenis
OK thanks, I will implement that. I am going to post an initial question regarding my OLS model soon as well.

[2018-07-26 16:35] Abraham-Leventhal commented on #267
My first issue i've run into using an OLS model that regresses on log(P22250) is that the model has so far been producing absurd predictions (in the billions) for P22250, and I wanted to ask for input on my code regarding that issue.

You can see my code at the bottom of this comment (under "Click to expand"). The predictors I use in that code are those that I thought would be good predictors and

[2018-07-26 18:56] Abraham-Leventhal commented on #267
Based on further reading it seems that to justify log-transforming our predictors I should be looking at how that transformation changes the model's residuals - either making them symmetrical or not changed systematically by the value of the response variable. I will follow with this residual analysis of the above model, and the log-transformed-predictor model soon.

In the mean time I have two me

[2018-07-27 15:09] Abraham-Leventhal commented on #267
Looking at the residuals it doesn't appear that log-transforming the predictors is having much of a beneficial effect, despite the predictions being somewhat more realistic.

#### Regressing on log(P22250) without log-transforming predictors

Largest predictions are so outrageous that most of residual plot is incomprehensible

![1](https://user-images.githubusercontent.com/39494755/43328142-3cd7b0

[2018-07-27 15:45] hdoupe commented on #267
@Abraham-Leventhal asked:

By "average performance across multple", do you mean Cross-Validation?

If so, I think this is plenty of data to do that. One way to do CV is:
1. Chose how many folds you want. It is common to use `K=10`, but this is [somewhat arbitrary](https://stats.stackexchange.com/questions/27730/choice-of-k-in-k-fold-cross-validation)
2. For each of fold `K=k`, train your model on

[2018-07-27 16:20] Abraham-Leventhal commented on #267
@hdoupe

This method requires that you run K training/testing iterations for each model you are evaluating, such that for each model, every observation is used once and only once in a testing dataset across the iterations. Maybe we should do that, but I was leaving open the possibility of doing multiple training/testing iterations without satisfying the strict requirements of a K-fold cross valida

[2018-07-27 17:53] hdoupe commented on #267
I don't think the requirements are too strict. Also, I'm not so sure about choosing an ad hoc method over it. The steps seem straightforward:
1. shuffle data
2. divide data set into `K` partitions (0 through N/k, N/k +1 through 2\*N/k, 2\*N/k + 1 through 3\*N/k, ...)
3. train on all but the `k`-th data partition. Evaluate on the `k`-th partition
4. average the results
5. select model with best ave

[2018-07-27 18:44] Abraham-Leventhal commented on #267
@hdoupe

Sure, the method makes sense and if you think K-fold cross validation would be best I would go along with that.

Ah this makes a lot of sense.

This is probably true as well. Of course, I'd have to get past these issues with OLS before getting to that point.

Given the distribution of the non-zero P22250 data (and this is true for the other imputation variables as well), I was thinking th

[2018-07-28 18:57] MaxGhenis commented on #267
CV is helpful for variable selection and other tuning parameters; for example, random forests do something like CV as part of the algorithm, and there are prebuilt CV methods for hyperparameter tuning in models like the Lasso (see [`LassoCV` in `sklearn`](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoCV.html#sklearn.linear_model.LassoCV)). In general, `sklearn` is much

[2018-07-30 16:45] Abraham-Leventhal commented on #267
Assuming that we'd go with the latter option (training both models only on the training dataset), I tried out both random forests and LassoCV in this notebook and it appears LassoCV outperforms random forests (especially for the negative data) though the error is quite large for both: [rf / LassoCV notebook](http://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-

[2018-07-30 16:57] MaxGhenis commented on #267
You're comparing two models:
1. Random forests (just a single model)
2. Trinomial logit + two linear models for positive and negative logit predictions

In each case you're evaluating on the test set, like this:
![image](https://user-images.githubusercontent.com/6076111/43411098-0d79d952-93de-11e8-81b2-b7a2327946eb.png)

If you want to segment your evaluation into positive/negative/zero, I'd recom

[2018-07-30 18:17] Abraham-Leventhal commented on #267
OK, I had thought that since mnlogit produced better categorical predictions for P22250 than random forests (using log loss as our metric) we'd only consider mnlogit as a sign-prediction model (unless we testing more categorical prediction models). Thus, if random forest were to be used at all, it would be only for the second stage of the task - predicting P22250's continuous value for those obser

[2018-08-02 14:15] Abraham-Leventhal commented on #267
@MaxGhenis

This makes sense.

Here is an idea! If we are to try logit + RF, instead of training two RF's on the pos/neg data, train just one RF. Then run the logit model and impute 0 for all observations predicted to be 0. Then, for the logit's negative predictions, impute the mean of the negative RF estimators for that observation (or a random RF estimator). For the positive predictions, impute

[2018-08-02 15:47] MaxGhenis commented on #267
You should select a random tree's prediction from the random forest, not the average prediction. This makes the "stochastic" part of stochastic imputation built-in.

For a fair comparison, you should compare that against a random draw from the prediction interval of the linear models. This simulates how the real data would be imputed.

I'd hold off on adding complexity to the RF model until there'

[2018-08-02 16:32] Abraham-Leventhal commented on #267
I am still a bit unclear on the motivation behind inserting randomness, which underlies some of my incorrect assumptions going in to this process (directly imputing predicted categories in stage 1, doing the same for continuous values in stage 2, rather than using a stochastic process).

Martin mentioned in the prior issue that it would make the distribution of data more realistic, which makes sen

[2018-08-02 17:04] MaxGhenis commented on #267
Stage 1 also has randomness: rather than selecting the class with the highest probability, you've been selecting a random number and selecting based on how that number falls with respect to the probabilities of each predicted class. Selecting from the CDF in stage 2 is the same idea, just from the continuous angle.

The advantage of randomness is getting the appropriate spread of predictions. With

[2018-08-02 17:13] MaxGhenis commented on #267
Here's an [example](https://github.com/shahejokarian/regression-prediction-interval/blob/master/linear%20regression%20with%20prediction%20interval.ipynb) using `sklearn` for prediction intervals. It's not clear whether it works for regularized models like Lasso.

[2018-08-03 16:19] Abraham-Leventhal commented on #267
Right, I was at least aware that I was inserting randomness into the stage 1 using a runif + CDF to impute P22250's sign, but I've only now realized that this is to apply to both stages and why! It's about getting a realistic distribution

Yes so far my non-stochastic imputations of P22250's continuous value using OLS and LassoCV (regressing on P22250, or log(P22250), or log(P22250) + log(continuo

[2018-08-03 22:32] martinholmer commented on #267
@Abraham-Leventhal,  I see that you're having problems in your regression with log(gain) for the `p22250` variable.  Most of the commentary here in issue #267 is impossible to follow because the comments rarely show what you're actually doing.  But in [this comment](https://github.com/open-source-economics/taxdata/issues/267#issuecomment-408158138) you do provide a link to a notebook where you're

[2018-08-03 23:06] MaxGhenis commented on #267
See @Abraham-Leventhal's https://github.com/open-source-economics/taxdata/issues/244#issuecomment-404278599 on EIC being continuous.

[2018-08-03 23:10] Abraham-Leventhal commented on #267
@martinholmer
My mistake re: the constant term, thanks for catching that! I will get to that when I am back on my work laptop on Monday and post my results and my code.

 In the two comments where I discuss scripts directly ([OLS comment - see raw code at bottom of comment](https://github.com/open-source-economics/taxdata/issues/267#issuecomment-408158138), which you linked, and [this one](https:/

[2018-08-07 01:27] MaxGhenis commented on #243
Or am I misunderstanding the change, and `elderly_dependents` does not include filer and spouse? In which case a small `n65()` utility could still be useful?

[2018-08-07 01:29] MaxGhenis commented on #243
Sorry, I was only looking at one of the PRs here. I'll delete these comments.

[2018-08-07 14:27] Abraham-Leventhal commented on #244
As I have found that removing E01100 allows mnlogit to perform perfectly I am closing this issue.

[2018-08-07 14:27] #244 closed

[2018-08-07 14:40] martinholmer commented on #244
@Abraham-Leventhal said:

Given that the definition (in the user documentation) of `e01100` is as below, why was it every considered as an explanatory variable in the CPS imputation equations (since it doesn't exist in any meaningful way in the CPS data)?

<img width="988" alt="screen shot 2018-08-07 at 10 36 36 am" src="https://user-images.githubusercontent.com/12170745/43782754-08f8ce8c-9a2e-11e

[2018-08-07 14:45] Abraham-Leventhal commented on #244
@martinholmer
I considered any variable that was in puf and was noted in the documentation as available in taxdata_cps as a potential predictor.

[2018-08-07 15:06] Abraham-Leventhal commented on #267
[Here is a notebook comparing random forests to OLS models using RMSE.](http://nbviewer.jupyter.org/github/Abraham-Leventhal/taxdata/blob/Abraham-Leventhal-patch-1/cps_data/Imputation%20Project/P22250%20OLS%20vs%20RF.ipynb) My code is also included at the bottom of this comment. I test out OLS models regressing on log(P22250) both without transforming the predictors and with log-transforming the c

[2018-08-07 15:52] MaxGhenis commented on #267
Thanks Avi, does this chart represent the results correctly?

Method | RMSE on full test data | RMSE on positive test data | RMSE on negative test data
-- | -- | -- | --
RF random tree (not point estimate) | 886,796 | 1,227,639 | 999,927
OLS log outcome, nonlog predictors | 19,746,052,052 | 890,112 | 23,007,880,474,031
OLS log outcome, log predictors | Not produced | Not produced | 602,248

Can yo

[2018-08-07 17:41] Abraham-Leventhal commented on #267
Good idea to make a chart. I made some corrections and added cell references:

Method | RMSE on full test data | RMSE on positive test data | RMSE on negative test data
-- | -- | -- | --
RF random tree (not point estimate) | 886,796 (cell 9) | 1,227,639 (cell 10) | 999,927 (cell 11)
OLS log outcome, nonlog predictors | Not produced | 19,746,052,052 (cell 13) | 23,007,880,474,031 (cell 17)
OLS log

[2018-08-07 20:08] MaxGhenis commented on #267
Yes, though since this will be challenging with the two-stage linear method, better to check that the MSEs
are comparable first.

Your steps LGTM. I'd think about it as creating a new sort of `predict` function (you could call it something like `predict_2stage`), which takes a record and produces a prediction from the two-stage model. This will first assign -/0/+ based on a random number and the C

[2018-08-08 14:50] Abraham-Leventhal commented on #267
If I understand you correctly, when I am testing a full 2-stage model using a stochastic sign prediction, the final prediction will be stochastic even if I use the point estimate from the OLS models rather than the `get_prediction` function?

OK, I will implement this and share the results.

[2018-08-08 15:20] Abraham-Leventhal commented on #267
Also, with regards to log-transforming our predictors, I understand that one indication that log transformation might be useful is if it makes your predictors normally distributed.

Here is a notebook where I compare the distributions of our continuous predictors before and after log-transforming them using `log(x + sign(min(x))*min(x) + 1)`. I multiply `min(x)` by `sign(min(x))` to ensure all the

[2018-08-08 17:14] MaxGhenis commented on #267
That's what I was thinking, but there are two other options:
1. Split up each observation into 3 observations: -/0/+, weighted by the probability of that class.
2. Take the expected value of the observation using the above splitting: `E(x | x < 0) * P(x < 0) + E(x | x > 0) * P(x > 0)`.

I wouldn't expect wildly different MSEs between the approaches, so unless others have a preference, I'd go with

[2018-08-10 20:27] Abraham-Leventhal commented on #267
@MaxGhenis

As I am ending this internship next week Aug 14, I will be summarizing my work over the summer in a markdown file that contains things we've learned about the data and the various models (mainly RF / mnlogit+OLS) that I've tested, as well as some recommendations going forward. That file will include your recommendations to look at: quantile loss, deep quantile regression, LassoCV, and

[2018-08-13 12:56] martinholmer commented on #267
Avi @Abraham-Leventhal,  I want to thank you for all your work on taxdata issues #221 and #261.
All the descriptive statistics and comparison of different estimation methods will be extremely valuable for whomever continues this imputation work.  Best wishes for the next school year.

[2018-08-13 13:27] martinholmer commented on #225
@andersonfrailey,  I've checked the CPS `spouse_age` problems that @evtedeschi3 first identified in #225 using the newest CPS data.  There are still problems.  First I show my tabulations (by `MARS`) of the unzipped `cps.csv.gz` file from Tax-Calculator release 0.20.2, and then I offer some observations.
[code]
So, we can see that `spouse_age` is zero in all the filing units that are not `MARS`==2

[2018-08-13 20:48] MaxGhenis commented on #267
I second @martinholmer's comment: you made significant strides in the taxdata imputation space, and your work will be valuable beyond these specific ones into any imputations in the project. I'm glad we got to collaborate, and hope you have a great upcoming school year. You can always continue some of this outside AEI!

Reviewing your notebook, one thing I wasn't sure of is how the zero-prediction

[2018-08-14 14:09] andersonfrailey commented on #225
@martinholmer the next biggest step in taxdata development from my perspective is replacing the SAS code to make the CPS file with Python. I put that on hold the last couple of weeks to work on PUF development, but I've reached a point where I have almost everything written and have moved on to squishing bugs that result in major differences between the current CPS and what I get from the Python s

[2018-08-14 15:28] Abraham-Leventhal commented on #267
@martinholmer
Thanks, I appreciate it. And thank you very much for your help throughout this project!

@MaxGhenis

My logic wasn't clearly written out here. `ols_predictions` does not include the rows which were predicted by `mnlogit` to be zero, so it is shorter than `test`, but its row labels are consistent with `test`. Thus, when I assign `ols_predictions` to a new column in `test` as I do belo

[2018-08-14 15:47] evtedeschi3 commented on #225
I assume the priority here is to get the code in Python first before worrying about integrating the 2016 and 2017 ASEC releases?

I've been correcting the spousal errors by just importing the age recorded in the CPS ASECs for those records using the household and family identifiers. That seems to work fine for the moment.

[2018-08-14 16:40] martinholmer commented on #225
@andersonfrailey said:

No.  And @evtedeschi3 seems to agree, which is far more important.  So, let's wait for the Python CPS-creation code to be active and then solve the `spouse_age` problem identified in issue #225.

[2018-08-23 13:14] martinholmer opened #276 "Automate calibration of additive factors in puf_data/impute_itmexp.py"
[This discussion](https://github.com/open-source-economics/taxdata/pull/275#issuecomment-415102033) in the review of pull request #275 and some recent investigation of the `scipy` package, suggests the possibility of a major enhancement to the `puf_data/impute_itmexp.py` logic.  Instead of hand calibration of the additive factor `af` variable values, it seems as if the root finding can be automate

[2018-08-24 19:16] martinholmer commented on #32
Pull request #275 resolves taxdata issue #32.

[2018-08-24 19:16] #32 closed

[2018-08-24 21:21] MaxGhenis opened #277 "Remove vet_ben from calculation of other_ben"
Per https://github.com/open-source-economics/C-TAM/issues/68#issuecomment-413300566:

@andersonfrailey and @MattHJensen agreed.

This involves removing the `vet_ben` part of https://github.com/open-source-economics/taxdata/blob/master/cps_data/finalprep.py#L367.

[2018-08-30 13:55] martinholmer commented on #277
The merge of pull request #278 by @andersonfrailey resolves issue #277.

[2018-08-30 13:55] #277 closed

[2018-08-30 19:26] martinholmer commented on #35
Over two years ago on 2016-Aug-09 in taxdata issue #35 (having to do with including more items in `expanded_income`, @MattHJensen said:

Missing from this list (at least for PUF data) was:
- [] Impute employee elective deferrals to defined-contribution (DC) pension plans

However, pull request #279 does this PUF imputation of pension contributions, and therefore, a coming Tax-Calculator pull reque

[2018-08-30 19:46] MattHJensen commented on #35
Thanks a lot @martinholmer

[2018-08-30 19:47] martinholmer opened #280 "Near-term CPS data enhancement plan"
This issue suggests a sequence of enhancements to the CPS data and an indication of the person in charge of each enhancement.  It is being offered here to assist in the coordination taxdata tasks.  Please add a comment if you want to suggest a revision to the schedule.

**CPS TASKS**

1. Replace SAS code with Python code to create raw CPS data file [**AF**]

2. Resolve issue #225 (with respect to

[2018-09-03 22:57] martinholmer opened #281 "Questions about extremely large C-TAM imputed benefits in the CPS data"
@andersonfrailey and @Amy-Xu,  Now that taxdata pull requests #178 (fix TANF values), #185 (use Medicare and Medicaid actuarial values) and #278 (ignore veterans benefits in the distribution of other benefits to filing units) have been merged over the past month or so, I've spent some time looking at filing units that have what seem to me to be extremely large benefits.

I've found CPS records to

[2018-09-04 02:15] feenberg commented on #281
On Mon, 3 Sep 2018, Martin Holmer wrote:

I agree that veterans benefits are deferred comp and not something that
could be eliminated by UBI.

Dan

[2018-09-04 13:54] andersonfrailey commented on #281
@martinholmer, the duplicate records relate back to how we currently handle top coding. If a record is flagged for top coding then fifteen copies are made each with the same information except in the top coded values. [See here](https://github.com/open-source-economics/taxdata/blob/master/cps_data/State%20Database%20-%202015/Production%20File/TopCoding/TopCodingV1.sas).

These imputations are all

[2018-09-04 14:28] andersonfrailey commented on #168
Just to make sure I understand, basically what you're saying, @derrickchoe, is that because we don't either blow up AGI before finding the weighted total in each bracket, or increase the AGI brackets to account for inflation, we're overestimating the total wages in lower AGI bins (and thus underestimating in higher brackets I'd imagine). And we should thus increase the AGI bins to account for this

[2018-09-04 14:52] derrickchoe commented on #168
@martinholmer @andersonfrailey

Hi all,

Thanks for taking the time to look into this! @andersonfrailey, I believe that my original concern is addressed in your explanation:

I had missed the fact that e00100 isn't inflated throughout the matching process. So each wage bin can be expected to remain the same size throughout each tax year. Knowing this, I don't believe there are any fixes necessary.

[2018-09-04 14:52] #168 closed

[2018-09-04 16:41] martinholmer commented on #281
@feenberg said:

Dan, thanks for you thoughts on taxdata issue #281.

[2018-09-04 16:48] martinholmer commented on #281
@andersonfrailey said in taxdata issue #281:

Thanks for the link to the SAS code that splits CPS records with top-coded values into fifteen near-replicate records.  I'll look over that code soon, although I have no SAS programming experience.

Am I correct in understanding that we now think splitting these records is unnecessary, and that this splitting will be eliminated sometime after you trans

[2018-09-04 16:51] martinholmer commented on #281
@andersonfrailey said in taxdata issue #281:

OK, thanks for the information.  I'll try looking at the C-TAM code to see if these high-benefit values are taken straight off the raw CPS files or if they are somehow imputed in the C-TAM code.

[2018-09-04 17:10] MaxGhenis opened #282 "Is Social Security Disability Insurance (SSDI) in taxdata?"
The [taxdata documentation](http://open-source-economics.github.io/Tax-Calculator/) only refers to the OASDI component of Social Security, and Schedule R regarding disability. Is SSDI part of any other taxdata input?

Some info on SSDI:
* It totaled [$143B in 2017 covering 8.6M people.](https://www.cbpp.org/research/social-security/chart-book-social-security-disability-insurance)
* Searching for [

[2018-09-04 17:26] martinholmer commented on #282
@MaxGhenis asked in taxdata issue #282:

Yes.  `OASDI` is the standard acronym for "Old-Age, Survivors, and Disability Insurance", which is the official name of the government program that people call "Social Security".

[2018-09-04 17:32] martinholmer commented on #282
@MaxGhenis said:

That's not true.  If you look at the Table 1 in the document you pointed to, the headings are "Social Security (retirement benefits)" and "Social Security (disability benefits)".  As far as I could see, there was no use of the acronym OASDI in that SIPP document.

[2018-09-04 17:43] MaxGhenis commented on #282
My mistake! I thought OASDI was old-age only. Closing.

Would it be within scope of taxdata or C-TAM to use SIPP to impute the disability vs. retirement split of OASDI? For example I've heard more tolerance/appetite for replacing SSDI with UBI compared to retirement benefits.

[2018-09-04 17:43] #282 closed

[2018-09-04 17:49] MaxGhenis commented on #282
Looks like [SSA uses](https://www.ssa.gov/oact/STATS/index.html) the acronym OASI for "Old-Age and Survivors Insurance" and DI for "Disability Insurance."

[2018-09-04 19:17] martinholmer commented on #282
@MaxGhenis said in taxdata issue #282:

Yes, they split the three programs up that way because there is an OASI Trust Fund and a separate DI Trust Fund with separate payroll tax rates for the two trust funds.  The two trust funds exist because OASI was established in the original 1935 social security act, while DI was added later in 1956.

[2018-09-04 19:35] martinholmer commented on #282
@MaxGhenis said in taxdata issue #282:

I'm not surprised that you've heard that.  But before you start analyzing UBI reforms that repeal just DI benefits (which you could do if you created a taxdata fork that somehow separated OASI benefits from DI benefits and created a Tax-Calculator fork that computed OASI payroll taxes separately from DI payroll taxes), you should spend some time looking at t

[2018-09-05 12:39] martinholmer commented on #171
@MaxGhenis said in a March 2018 comment in taxdata issue #171:

There are two sets of problems with this graph.  First, the CPS input data and weights have changed since March, so now for 2027 the weighted `XTOT` sum is about 363.3 million, which is significantly different from the value shown in the graph (which seems to be about 377 or 378 million).  And second, the Census Bureau projections use

[2018-09-05 12:39] #171 closed

[2018-09-05 16:14] MaxGhenis commented on #171
The Census took down their 2017 projections due to a calculation error, so I'll check back for them in a few weeks and update the notebook. https://www.census.gov/library/visualizations/2018/comm/century-of-change.html

[2018-09-08 03:14] Amy-Xu commented on #281
@martinholmer `paw_val`  is described as public assistance or welfare in the CPS codebook. Even though this variable includes many programs, there is a related question (`paw_typ`) asking survey participants to distinguish TANF participation from the rest. Please see more details down below, copied from the general documentation.
<img width="751" alt="screen shot 2018-09-07 at 9 40 25 pm" src="htt

[2018-09-13 22:06] codykallen opened #285 "Asset imputation"
I've been thinking that it may be useful to attempt to impute asset information for PUF and/or CPS records., using the Survey of Consumer Finances. They have a public use file, but I'm not particularly familiar with it or its quality. However, if the SCF public use file is not usable, results could perhaps be imputed using estimates from their published results, which can be [downloaded here](http

[2018-09-14 00:13] MaxGhenis commented on #267
[This notebook](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/quantile_regression_comparison_cps.ipynb) applies various methods to predicting quantiles of `e00900` in the CPS, as an example that could be ported to PUF for CPS imputation. It uses the same features @Abraham-Leventhal used for the most recent analysis, and predicts against a 20% holdout at the 10th, 30th,

[2018-09-14 11:40] martinholmer commented on #267
@MaxGhenis,  I have (at least) two questions about the results you present in [this comment](https://github.com/open-source-economics/taxdata/issues/267#issuecomment-421190815).

1. Why does random forests work better than standard econometric methods (logit+OLS) when you do the comparison, but the result was the other way around when @Abraham-Leventhal did the comparison?

2. What is the fitted r

[2018-09-14 11:57] martinholmer commented on #285
@codykallen,  Thanks for the SCF information in taxdata issue #285.  One quick question: are the published tabulations for each unit type (like income class and head age range) individually or are there tabulations by (for example, income class **and** head age range)?  In other words, can we see asset holdings for older heads with high income in comparison to asset holdings for older heads with l

[2018-09-14 14:28] MaxGhenis commented on #267
Avi found that
a) the logit slightly outperforms the random forests on classifying into negative/zero/positive
b) the logit+OLS slightly outperforms RF on MSE

Neither of these capture the aim of the procedure, which is an appropriate CDF. Avi's finding that predicting a constant zero for all cases outperforms both RF and logit+OLS on MSE is good evidence of this; clearly this would not be a usefu

[2018-09-14 15:03] martinholmer commented on #267
@MaxGhenis said in response to my question:

So, you seem to be saying the random forests models are what we might call "black boxes", is that right?
Personally, I don't think using opaque models is consistent with the transparency we're striving for in an open-source project.

@MattHJensen @andersonfrailey

[2018-09-14 15:05] MaxGhenis commented on #267
The model object is fully reproducible and can be stored on GitHub. Many machine learning projects are open-source.

[2018-09-14 15:18] martinholmer commented on #267
@MaxGhenis said in issue #267:

We are also able to store encrypted zip files on GitHub, which does not mean they are transparent.
And being "fully reproducible" is not the same thing as being transparent, especially when the estimation (or "training") data are not publicly available.  People looking at our project want to understand what we've done without having to fully reproduce what we've don

[2018-09-14 17:17] MaxGhenis commented on #267
There are tools to look inside models like random forests, such as feature importance, which quantifies the model improvement from including the feature in the model. I find these more helpful for understanding models than coefficients and standard errors from OLS models, since you don't have to standardize them back to an interpretable scale, rely on p-values vs. effect size, or worry as much abo

[2018-09-15 17:12] codykallen commented on #285
@martinholmer asked:

Unfortunately, the published tabulations do not include cross-tabulations. However, we should be able to use their public use dataset, either to produce our own cross-tabulations or to build a predictive model that can be applied to the PUF.

The full SCF page is available [here](https://www.federalreserve.gov/econres/scfindex.htm). If also recommend looking at their Net wort

[2018-09-16 14:29] martinholmer commented on #285
@codykallen said in taxdata issue #285:

@codykallen, thanks for the links and the idea.  I agree: if we could impute some wealth holdings and unrealized capital gains variables onto the `puf.csv` file, it would (as you say) make it much easier to integrate the corporate income tax incidence logic into Tax-Calculator.  My schedule is such that I will not be able to look into the feasibility of doi

[2018-09-17 15:35] andersonfrailey opened #286 "Python CPS Repo"
I forgot that I had set up a repository where I could work on the Python scripts to create the CPS file. That repository can be found [here](https://github.com/andersonfrailey/cpstaxunits) if you would like to follow along. Right now, everything runs, but I haven't been able to completely replicate what is produced by the SAS files, which in theory I should be able to do at least to the top coding

[2018-10-02 18:09] MattHJensen commented on #267
I don't like the idea of rejecting all nonparametric models on transparency grounds. I support open source and transparency because I think they will lead to better policy predictions and better policies.

If a modeling decision ever were to come down to transparency or predictive accuracy, I would choose predictive accuracy. That's why, when using Tax-Calculator, I am ok using the IRS public use

[2018-10-02 18:42] martinholmer commented on #267
@MattHJensen said, among other things, in taxdata issue #267:

Yes, I don't believe @MaxGhenis made correct or sensible comparisons of "predictive accuracy" in #267.

I agree that "ease of maintenance" should be considered along with "predictive accuracy".

[2018-10-02 18:45] rickecon commented on #267
These are two different questions. The question of transparency is being confounded with the question of model choice. Let me propose that all models that we would use in this case are transparent in that textbooks and peer-reviewd papers have been written about their derivation, and use, and open source software packages have been produced to implement them. The question of model selection depend

[2018-10-02 19:12] MattHJensen commented on #267
I asked:

@martinholmer said:

Will you have an opportunity to expand on this? A discussion of how to measure predictive accuracy ought to be very interesting/engaging, and also _potentially_ relevant to work @donboyd5 is doing to create a synthetic file.

[2018-10-02 19:27] MaxGhenis commented on #267
Here's a [notebook](https://colab.research.google.com/drive/1SU62NoYzoLMAQk0syj9dyzA1thFuchsq) that fits a random forests model to the CPS data, saves the model to disk, loads it, and makes stochastic imputations using the loaded file. This seems simpler to me than the current approach of doing extensive preprocessing, running multiple models, and predicting based on hard-coded coefficients.

@mar

[2018-10-03 19:44] martinholmer commented on #267
@MattHJensen asked:

And @martinholmer answered:

Then @MattHJensen asked:

There has been an ongoing discussion of how best to assess the "predictive accuracy" of statistically imputed values since @Abraham-Leventhal started in June working on the project described in taxdata issue #267.  That discussion has focused on several methods of assessing "predictive accuracy" but little if any justifica

[2018-10-03 22:42] MaxGhenis commented on #267
The KS test only assesses the similarity of two CDFs, not the accuracy of individual predictions. It would be a bit like using a t-test to assess a model's accuracy at predicting means, rather than the standard MSE. The overall distribution might be fine, but individual predictions might be completely scrambled, and that would worsen tax analysis.

It's also not clear to me how the "stochastic" pa

[2018-10-12 17:29] MattHJensen commented on #267
There is some disagreement over the best way to measure the accuracy of the imputation discussed in this issue. There is even some disagreement over what "accuracy" means in this context: Do we care about closeness of the two distributions, the closeness of individual predictions, or maybe we should take a step back and pay attention to how the imputation affects the accuracy of Tax-Calculator's r

[2018-10-12 17:41] MaxGhenis commented on #267
I've started a doc to summarize and can share here Monday.

On Fri, Oct 12, 2018, 10:29 AM Matt Jensen <notifications@github.com> wrote:

[2018-10-13 15:09] martinholmer commented on #280
@martinholmer included as the last item in a list of near-term CPS data enhancements in issue #280:

But given the discussion in the first online developers meeting about the perceived problems with the CPS data file and all the efforts that are going into developing a better alternative publicly-available data file, I wonder whether or not step 3 makes any sense from a benefit-cost perspective.

[2018-10-13 18:12] martinholmer commented on #285
Assigned working on taxdata issue #285 to @codykallen because he said during the online developers meeting that he was working on this.

[2018-10-15 14:48] donboyd5 commented on #267
Just a quick note to say that I am reading the thread and will do my best to offer constructive comments. Am sending this alert because (1) I was called out (properly) in our phone call as a laggard in getting with the github program, and (2) although I am getting with the program, will take a short bit before I actually have something to say.

[2018-10-15 15:07] martinholmer commented on #267
@donboyd5 said in taxdata issue #267:

Thanks, Don.  We're looking forward to your views on this important issue.

[2018-10-16 10:17] donboyd5 commented on #267
Hi All,

I am traveling today/tomorrow but wanted to offer initial thoughts as a sign of good faith. Haven't yet had a chance to absorb this full thread - have scanned it, and looked at some of the python code.

Here are my initial thoughts:

**1) Accuracy measures**
I can't weigh in yet with comments on specific measures you're discussing, but I do have thoughts on principles.

I think how you me

[2018-10-16 14:54] MaxGhenis commented on #267
Thanks @donboyd5, I agree with this:

One simple approach would be starting with the AGI buckets you listed, determine the variable's distribution within that, and then impute each record a random value from that distribution depending on its AGI bucket. This would capture both the very low (negative) and very high values, and assign values of zero according to the prevalence of zero in the traini

[2018-10-18 14:50] donboyd5 commented on #267
I had a chance to read the thread more carefully on the train, and have some further thoughts. I have more things I want to understand and look at, but I only have a little bit of time each day, so not today.

I know that @MattHJensen asked the question(s), "There is some disagreement over the best way to measure the accuracy of the imputation discussed in this issue. There is even some disagreeme

[2018-10-25 05:35] MaxGhenis commented on #267
Sorry for the delayed response here. Martin has been occupied so [here's the doc](https://docs.google.com/document/d/1UxiN-W72yjEOxAznUn6I3KLwdNBEbLxL5H0HTHFMwSs) where I put some of this all together.

In general I think we should worry less about the method right now (ML vs logit/OLS etc.) and more about how to evaluate models. In the doc I go through drawbacks of metrics like MSE, log-loss on c

[2018-10-25 19:19] MaxGhenis commented on #267
All the above said, we can try multiple metrics for an initial analysis, including by multiple slices, to see how they compare. Can we formalize a list of these evaluation metrics? We can also discuss in today's call.

[2018-10-26 11:09] donboyd5 commented on #267
I think @MaxGhenis's 8 steps in the [doc ](https://docs.google.com/document/d/1UxiN-W72yjEOxAznUn6I3KLwdNBEbLxL5H0HTHFMwSs) make perfect sense. I agree the right next step is to formalize a list of evaluation metrics.

A few comments and questions:

For this kind of model selection, I think humans should be the judges and metrics should be the helpers, not the other way around. It's different in a

[2018-10-26 21:08] MaxGhenis commented on #267
Thanks for running these analyses, @donboyd5. I want to address your fundamental questions about quantile loss because they bear on the rest of your comment:

Regarding (2), I think there's value in doing this, and filed it away in https://github.com/open-source-economics/taxdata/issues/228.

Which leads to (1): while we're only talking about imputing a single value per record right now, this sing

[2018-10-26 22:11] donboyd5 commented on #267
Thanks, @MaxGhenis, this all makes sense. Agree a phone call next week is good idea. How about Tues 12 pm eastern? If @martinholmer  or others need different times, a lot of others will work for me.

Sorry about getting the K-S wrong. Don't know why I was convinced I had interpreted it properly. I hate when that happens.

Happy to take what I did and extend it to allow computation of quantile loss

[2018-10-26 22:47] MaxGhenis commented on #267
Tuesday at noon works for me. [Here's a calendar invite](https://calendar.google.com/event?action=TEMPLATE&tmeid=M3JlNWxsN2Z2bnJ1bzQ5OTlyYzVmcmd2ZWggbWdoZW5pc0Bt&tmsrc=mghenis%40gmail.com) with Hangouts video conferencing--we can make it webex and/or move the time if others prefer.

Re your other bullets:

The simplest would be to construct one prediction per observation selection a U(0,1) draw fr

[2018-10-27 15:32] MaxGhenis commented on #267
The logit's uncertainty is expressed in its probabilities; a very confident prediction will give one class very close to 1.0 probability. See [this SO answer](https://stats.stackexchange.com/a/26576/19676). One could bootstrap to get a range of predicted probabilities, and this would be akin to bootstrapping an OLS to get a range of predicted prediction intervals.

I'll send a fixed invite later t

[2018-10-30 00:08] MaxGhenis commented on #267
[Here's a new invite.](https://calendar.google.com/event?action=TEMPLATE&tmeid=NDdjN2YzbWdlbGpiZDNzN2JmNmNoZjg0b2EgYW9lNmdkMnRqOHBrNmpnY2FsOGIzbGtvbW9AZw&tmsrc=aoe6gd2tj8pk6jgcal8b3lkomo%40group.calendar.google.com) The issue was that the first event was published from my private calendar, where they need to be published from a public calendar to be viewable by anyone.

[2018-11-06 18:13] martinholmer opened #288 "Rename and redefine filer variable"
This enhancement request stems from the discussion in [Tax-Calculator issue 2099](https://github.com/open-source-economics/Tax-Calculator/issues/2099).  That discussion revealed that the `filer` variable is confusing even to advanced users of Tax-Calculator.

I suggest the following two changes:

1. The `filer` variable be renamed `data_source` in both the `puf.csv` and `cps.csv` files.

2. The `d

[2018-11-06 18:46] MattHJensen commented on #288
This all makes sense to me, and +1 for the `data_source` name.

[2018-11-06 18:59] MattHJensen commented on #288
Actually, I just looked at this more closely, and I'd like to ask a clarifying question.

In my memory, `filer` referred to whether the tax unit filed income taxes in the base year. If the unit was a `filer`, then, during the construction of the puf.csv file, that taxpayer's information would have come from the IRS-SOI PUF. If the unit hadn't filed, the IRS wouldn't have their information, and we

[2018-11-07 15:09] andersonfrailey commented on #288
@MattHJensen, your understanding of the `filer` variable is correct. That said, I do think that this definition of `filer` can be confusing especially when comparing reforms. In my opinion, the name `filer` implies that you can use it as a proxy for whether or not a unit filed in any given year and that it would change accordingly under various tax policies that change filing thresholds.

I'd be i

[2018-11-09 18:05] MaxGhenis commented on #288
How should `filer` in the CPS file be interpreted?

[code]

[2018-11-13 17:09] MattHJensen opened #291 "Join the Policy Simulation Library?"
This GitHub organization (Open-Source-Economics) is becoming a home for the [Policy Simulation Library](www.policysimulationlibrary.org), and it will be renamed PSLmodels on December 3rd. Starting then, I'd like for every project in PSLmodels to either be in PSL or be in the process of joining PSL.

TaxData is very welcome in PSL! If the project is interested in joining, could you please let me kn

[2018-11-16 04:29] andersonfrailey commented on #288
@MaxGhenis in the CPS `filer` represents whether we flagged the unit as a filer using the 2014 standards.

[2018-11-19 16:03] andersonfrailey commented on #291
@MattHJensen I'd love to see TaxData in PSL. I can start working to meet the requirements this week.

[2018-11-20 15:05] andersonfrailey opened #292 "Roadmap to PSL Acceptance"
This issue aims to create a checklist and roadmap for bringing TaxData into compliance with the criteria for acceptance into the Policy Simulation Library. I've broken the checklist down into sections based on the three kinds of criteria listed [here](https://github.com/open-source-economics/PSL/blob/master/Criteria/library_criteria.md).

## Acceptance Criteria

- [x] Add a descriptive list of all

[2018-11-27 18:30] andersonfrailey opened #293 "Adding benefits to the PUF - Initial Results"
I've begun working on adding C-TAM calculated benefits to the PUF and conducting some very preliminary analysis. Initial results do not look promising when compared to the CPS. For each benefit neither participation rates or average benefits by AGI percentile aligned well with what we see in the CPS. I've posted some simple plots below. I'm going to go over my code to see if I made any mistakes th

[2018-11-27 19:01] MaxGhenis commented on #293
I've linked this in the [stochastic imputation doc](https://docs.google.com/document/d/1UxiN-W72yjEOxAznUn6I3KLwdNBEbLxL5H0HTHFMwSs), could you share your methodology and code for me to add?

I'm curious how a random forests imputation would fare, as it did well [predicting `e00900` in the CPS file.](http://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/quantile_regression_com

[2019-01-04 22:56] martinholmer commented on #288
@andersonfrailey,  What's the schedule for renaming and redefining the "filer" variable as decided on two months ago in taxdata issue #288?

It doesn't make sense to me to issue a new Tax-Calculator release until we get this fixed.  Users are tired of seeing this message:
[code]

[2019-01-05 19:35] #281 closed

[2019-01-07 15:02] andersonfrailey commented on #288
@martinholmer, sorry, I hadn't realized that we had all settled on the rename. I'll take care of it this afternoon.

For clarity, I'm going to rename `filer` in the PUF to `data_source` where 1 means the PUF and 0 means the CPS. I'm also going to drop it completely from the CPS because all data comes from the CPS.

[2019-01-08 23:05] martinholmer commented on #288
@andersonfrailey said in taxdata issue #288:

OK.  I guess `data_source` will be like `a_lineno` and `ffpos` only the reverse: available in `puf.csv` but not in `cps.csv.gz`.

[2019-01-10 21:00] andersonfrailey commented on #288
With the merge of PR #296 this issue has been resolved.

[2019-01-10 21:00] #288 closed

[2019-01-15 22:37] martinholmer commented on #293
@andersonfrailey said to @MaxGhenis in taxdata issue #293 (entitled "Adding benefits to the PUF"):

I looked at your branch and I'm thoroughly confused.  The title of this issue is "Adding benefits to the PUF", but then you said in the comment quoted above that your work is focusing on "augmenting benefits onto the CPS".
And when I look at the code you've added to your branch, I see you've added a

[2019-01-16 14:50] andersonfrailey commented on #293
Here the C-TAM benefits are being merged onto the 2016 CPS file that is matched with the IRS-SOI PUF. My title was a bit unclear. By "Adding benefits to the PUF," I was referring to `puf.csv`, not the IRS-SOI PUF. What I tried on that branch was using C-TAM to impute benefits for the 2016 CPS and use the 2016 CPS augmented with those benefits in the statistical match with the IRS-SOI PUF.

[2019-01-16 22:15] martinholmer commented on #293
@andersonfrailey said in #293:

Thanks for the additional detail, but I may still be confused.  Are you saying that @Amy-Xu has done a new imputation of benefits to the 2016 CPS that differs from the imputed benefits in the current `cps.csv.gz` file?  It sounds as if your saying yes: the 2016 CPS benefits are different.  Then you used those 2016 CPS benefits to assign benefits in the `puf.csv` bec

[2019-01-17 15:11] martinholmer commented on #280
Since taxdata issue #280 was opened on August 30, 2018, it seems as if less emphasis is being placed on improving the CPS data set and more emphasis is being placed on creating a synthetic (freely-distributable) PUF-based data file.  Given this change in emphasis, I'm closing this issue.  If improving the CPS data becomes a priority again, it can be re-opened.

[2019-01-17 15:11] #280 closed

[2019-01-30 17:48] codykallen opened #301 "Marital status handling for matching"
When conducting matching between the PUF and the CPS, how do you handle the issue of comparing marital status across the two datasets. Specifically, the PUF has married filing jointly and married filing separately, whereas the CPS does not distinguish between these two statuses.

When trying to match someone in the PUF with someone married filing separately, is it more appropriate to compare that

[2019-01-30 21:10] andersonfrailey commented on #301
@codykallen , we aren't able to distinguish between married filing separately and married filing jointly in the CPS. In the match, married people in the CPS are matched to married people in the PUF whether they're filing jointly or separate. The final tax unit takes the status (joint or separate filer) of the PUF unit.

[2019-01-31 17:47] codykallen commented on #285
I've been working the last few days on doing a statistical matching between the PUF and the SCF. The work for this is over in a separate repo (https://github.com/codykallen/puf-scf-match), with several different versions available.

[2019-02-12 01:10] MattHJensen commented on #285
Tagging #34 as related.

[2019-02-15 22:50] MaxGhenis opened #303 "What does XTOT==0 in PUF mean?"
Just noticed this and wasn't sure how to interpret it.

![image](https://user-images.githubusercontent.com/6076111/52888538-e44db580-3130-11e9-8333-0e816ef92ee8.png)

[2019-02-15 23:44] MaxGhenis opened #304 "Deduplicate PUF records"
When excluding `RECID` and `s006`, there are currently 40 records in the taxcalc PUF which are identical on all other dimensions. These could potentially be consolidated, summing `s006` between them.

There's also more room to optimize when going to the raw PUF, where consolidating could shave off 15,000 records. This is because taxdata only uses 65 variables from the raw PUF, and the other parts

[2019-02-19 21:09] andersonfrailey commented on #303
@MaxGhenis, in the raw PUF, XTOT is the sum of all exemptions claimed. So if XTOT is zero that unit didn't claim any exemptions. An example of this would be a filer who was also being claimed as a dependent and thus couldn't claim the personal exemption and has no other reason to claim an exemption.

[2019-02-19 21:40] MaxGhenis commented on #303
Thanks for the example. Is there logic you'd recommend to approximate the number of "people" in the tax units, e.g. comparable to people in CPS households? Would `ceiling(XTOT, 1)` be best?

I'm summarizing the number of people helped/hurt by different reforms, and don't want to discard these tax units.

[2019-02-21 20:29] andersonfrailey commented on #303
@MaxGhenis, I would say that `max(XTOT, 1)` is your best bet. Unfortunately XTOT is the closest we have to a count of people in a tax unit. Also keep in mind that XTOT is top coded in the PUF so it's possible that any summary depending on the PUF would undercount the number of people affected by a reform.

[2019-02-21 20:57] MaxGhenis commented on #303
Thanks @andersonfrailey

[2019-02-21 20:57] #303 closed

[2019-02-21 21:56] MaxGhenis commented on #149
I'm still seeing this issue, e.g. `RECID 247186` has `XTOT=1, nu18=2, n1820=0, n21=3`. Here's the distribution of `(nu18+n1820+n21) - max(XTOT, 1)` ([notebook](https://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/random/people_per_tax_unit.ipynb)):
![image](https://user-images.githubusercontent.com/6076111/53204162-cb854a00-35df-11e9-8dbd-e0501854c539.png)

[2019-02-21 22:06] MaxGhenis commented on #303
We can discuss more in https://github.com/PSLmodels/taxdata/issues/149, but would you recommend `max(XTOT, 1)` over `nu18+n1820+n21` for estimating the total number of people while they don't match?

[2019-02-21 22:14] MaxGhenis opened #305 "Impute non-top-coded XTOT in PUF"
Would it be useful to un-top-code `XTOT` in the PUF using the CPS data?

There are currently 19 records in the PUF with `XTOT>5`, all imputed nonfilers from the CPS. A similar process could fix `XTOT`, unless it needs to align with other variables that would be hard to simultaneously.

Based on https://github.com/PSLmodels/Tax-Calculator/blob/master/taxcalc/calcfunctions.py, `XTOT` is used in `AGI

[2019-02-22 19:58] MaxGhenis opened #306 "Don't require FDED as input"
taxdata currently requires the `FDED` field (itemized vs standard deduction). This has spurred discussion in the synthetic PUF project, since it means we have to synthesize it. Seems like it would be better to infer which deduction a tax unit takes based on which minimizes their tax liability, either in taxdata or (probably) Tax-Calculator.

![image](https://user-images.githubusercontent.com/60761

[2019-02-26 14:40] andersonfrailey commented on #306
Thanks for the suggestions, @MaxGhenis. This seems reasonable. @martinholmer, since you handled the imputations that use `FDED` I'd also like to hear your thoughts on it.

[2019-02-27 13:26] martinholmer commented on #306
In taxdata issue #306, @andersonfrailey asked @martinholmer:

I'm confused.  The imputations of itemized expense amounts for those who do not itemize seems to not use the `FDED` variable.  Did I miss something?

However the construction of the `cmbtp` variable, which predates my participation in the Tax-Calculator and taxdata projects, does require the `FDED` variable.  So, no @MaxGhenis, the `FDE

[2019-02-27 13:57] andersonfrailey commented on #306
@martinholmer

Ah sorry I mixed up the construction of `cmbtp` with the itemized imputations. I thought you had worked on the former. My mistake.

[2019-02-27 14:09] andersonfrailey commented on #306
Also, I think @MaxGhenis is suggesting we use Tax-Calc to determine whether or not someone filed as an itemizer or took the standard deduction to essentially create `FDED` in TaxData rather than relying on `FDED` from the file. As I think about it more, we couldn't use Tax-Calculator for this because the PUF is from 2011 and the earliest policy year we have in Tax-Calc is 2013.

That being said, i

[2019-02-27 14:12] martinholmer commented on #306
@andersonfrailey said:

No problem.  But the important point is that `FDED` cannot be dropped from the PUF file used as input into taxdata logic.   If those working on the synthetic PUF can figure out a way to calculate `cmbtp` in taxdata without having the `FDED` variable available, then they can submit a taxdata pull request that does that.  If they can do that, we would be able to drop the use

[2019-02-27 15:33] MaxGhenis commented on #306
I don't know the full mechanics of how `FDED` is used in taxdata, but why would a tax unit's deduction choice as of 2011 be relevant for tax analysis starting in 2013? Fundamentally it seems like this logic can be pushed to Tax-Calculator, including possibly the `cmbtp` field if that's the blocker.

cc @feenberg

[2019-03-01 18:07] MaxGhenis commented on #306
We discussed this on yesterday's call and concluded  that `FDED` remains necessary for backing out the `cmbtp` field. Thanks @martinholmer for the explanation, we'll synthesize it.

[2019-03-01 18:07] #306 closed

[2019-03-15 07:45] MaxGhenis commented on #171
The Census projections are back, so I updated the comparison with new taxcalc data ([notebook](https://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/exploratory/pop_proj_tc_vs_census.ipynb)). This shows that taxdata's estimate of `nu18` is 15-20% higher than the Census, and its estimate of `nu05` is about 25% lower than the Census. In general the numbers look closer than befo

[2019-03-15 07:48] MaxGhenis commented on #149
Should this be reopened?

[2019-03-18 00:29] andersonfrailey commented on #149
@MaxGhenis, I'll reopen this until I get some more time to look into the issue. I've got some work to do on Tax-Brain that I need to prioritize for now and can get back to this once that's completed.

[2019-03-19 19:17] MaxGhenis commented on #148
[This spreadsheet](https://docs.google.com/spreadsheets/d/1g_YdFd5idgLL764G0pZBiBnIlnCBGyxBmapXCOZ1OV4) starts with @Kpinkelman's table from https://github.com/PSLmodels/taxdata/issues/148#issuecomment-367119322 and adds a column to exclude benefits that are counted outside `other_ben`. I excluded the following four programs to avoid what I believe would be double-counting:
* *Housing assistance*

[2019-03-25 01:49] MaxGhenis opened #309 "Add citizen counts"
Following up on https://github.com/PSLmodels/C-TAM/issues/74 to add citizenship indicators, where @Amy-Xu said:

@MattHJensen said there that:

This is a feature of presidential candidate Andrew Yang's Freedom Dividend.

One option is separate counts like `citizens_u18`, `citizens_18_20` and `citizens_21` to correspond to UBI variables, or just `citizens` to save space and have approximation for a

[2019-03-25 14:28] Amy-Xu commented on #309
@MaxGhenis Thanks for following up on this issue. I roughly remember no one opens up the issue in taxdata because there were some glitches in the CPS scripts, but I couldn't recall what exactly they were.

@andersonfrailey Do you remember what happened with this citizenship indicator?

[2019-03-25 14:36] andersonfrailey commented on #309
@Amy-Xu the current problem with the CPS scripts is that AEI has let their SAS subscription expire so we can't run them to add new variables.

[2019-04-03 22:23] martinholmer opened #310 "Extending taxdata projection beyond 2029"
Originally in [Tax-Calculator issue 2257](https://github.com/PSLmodels/Tax-Calculator/issues/2257#issue-421254880) @codykallen said:

Pull request #2255 updates Tax-Calculator to run through 2029. However, I think it might be useful to extend this even further. The CBO Long-term budget projections from June 2018 includes several applicable forecasts through 2048, including:
 - population growth
 -

[2019-04-03 22:27] martinholmer commented on #310
@andersonfrailey, How much taxdata work would be required to implement @codykallen's suggestion in taxdata issue #310?

@MattHJensen @feenberg @donboyd5

[2019-04-04 00:09] donboyd5 commented on #310
Just to be sure I understand precisely, I am assuming @codykallen means that dollar-valued items on individual records (income components, deduction components) would grow at the rate of nominal GDP per capita? (Presumably record weights, handled separately, would grow at the rate of population or something similar to overall population.)

Seems like a reasonable and efficient-use-of-time assumpti

[2019-04-04 01:51] codykallen commented on #310
@donboyd5 asked:

Yes, that's generally correct, and I think weights should grow at the population growth rate. However, it may make sense to age some variables separate from GDP. For example, perhaps Social Security income should be aged based on Social Security expenditures per capita (or something similar).

[2019-04-04 16:05] donboyd5 commented on #310
That does seem like the most-likely candidate for special treatment. But if that is treated specially, several other large related items come to mind: (1) pension income (which I believe includes not just payments from DB plans, but also employer-sponsored DC plans) also might grow at a population-aging-related rate, and these are quite large, (2) IRA distributions probably should, also, (3) we mi

[2019-04-10 15:47] MaxGhenis opened #311 "Add count of children under age 6"
Two major tax credit bills split out children under age 6:
* [American Family Act](https://www.vox.com/future-perfect/2019/3/6/18249290/child-poverty-american-family-act-sherrod-brown-michael-bennet) (Bennet-Brown child allowance)
* [Working Families Tax Relief Act](https://www.vox.com/future-perfect/2019/4/10/18302183/tax-cut-democrats-earned-income-tax-credit-child-allowance)

Currently the `nu0

[2019-04-11 10:48] martinholmer commented on #311
Why not **replace** `nu05` with `nu06`?  The only place in Tax-Calculator code that `nu05` is used is in the `taxcalc/reforms/Clinton2016.json` file.

@MaxGhenis @andersonfrailey @MattHJensen

[2019-04-11 13:29] MaxGhenis commented on #311
SGTM

[2019-04-11 14:01] andersonfrailey commented on #311
I'm also on board with @martinholmer's suggestion. I can get that done for the PUF this week. However we still can't run the SAS scripts to recreate the CPS file. I have an idea to use the record identification variables we've left on the CPS file to link it with the raw CPS files to work out counting variables like this would be, but that'll take a little more time to develop and test.

[2019-04-17 15:31] MaxGhenis opened #312 "Add field to estimate Pell Grant receipt"
This is part of some reforms coming from Democratic legislators (see https://github.com/PSLmodels/Tax-Calculator/issues/2305).

I didn't see Pell Grants specifically in the [ASEC field list](https://www2.census.gov/programs-surveys/cps/techdocs/cpsmar18.pdf), but `OED_TYP1` looks close:
![image](https://user-images.githubusercontent.com/6076111/56252761-40b84d00-606e-11e9-8871-7878026a5a28.png)

[

[2019-04-17 15:53] MaxGhenis commented on #312
I didn't see anything relevant in the PUF or CEX codebooks, though the [SCF's](https://www.federalreserve.gov/econres/files/codebk2016.txt) `X5725` field asks about:

In terms of importance, [College Board estimates](https://trends.collegeboard.org/student-aid/figures-tables/undergraduate-enrollment-and-percentage-receiving-pell-grants-over-time) about 8 million Pell Grant recipients per year. But

[2019-04-17 16:22] Thirdhuman commented on #312
CPS Question 66d - What type of assistance did (name/you) receive?
2 = Pell Grant
3 = Assistance from a welfare or social service office
4 = Some other government assistance
5 = Scholarships, grants, etc.

OED1 in the CPS is equal to "Yes" on Q66d (2-4).  Since the Census Bureau is in the corresponding raw data on receipt of the Pell Grants, it seems possible that a few aggregate statistics could

[2019-04-17 16:27] MaxGhenis commented on #312
Thanks @Thirdhuman! I must have not waited long enough for the [pell] search to complete when first looking through the codebook.

[2019-04-17 18:17] Thirdhuman commented on #312
Actually the method I described would probably have to be submitted in the form of a a special tabulation from the Census Bureau, which costs $$$$.

[2019-04-18 16:02] Thirdhuman commented on #312
The best method I've so far devised for imputing Pell Grant receipt into the CPS is to modify OED_TYP1 based on data from the DoEd's [College Score Card](https://collegescorecard.ed.gov/data/).

[2019-04-19 13:47] andersonfrailey opened #313 "Impute Student Loan Interest Payments"
A Tax-Calculator reached out with this request:

An issue with this is that in the PUF student loan interest payments are capped at $2,500, as was law in 2011. So any parameter that would allow a Tax-Calculator user to increase the amount of student loan interest they can deduct in order to lower their taxes would be useless. This issue can be solved by imputing additional student loan interest pa

[2019-04-22 19:08] Thirdhuman commented on #312
According to the internal codebook for the Current Population Survey (ASEC), access to the variable "pg_val" would be sufficient to answer this question.

If OED_TYP is combined, pg_val>0 is your count of people with pell grants.

_PG_VAL How much did ... receive in pell grant?_
_0 = none or niu_
_1-99999 = pell grant_

However, "pg_val" is not in the publicly released version.  Therefore, adding

[2019-04-24 15:44] martinholmer commented on #311
@andersonfrailey said 13 days ago in taxdata issue #311:

What's the schedule for getting this done?  Tax-Calculator users are waiting for this enhancement as you can see from the discussion of [Tax-Calculator issue 2294](https://github.com/PSLmodels/Tax-Calculator/issues/2294).

@MattHJensen

[2019-04-24 17:39] andersonfrailey commented on #311
@martinholmer, I could get a new PUF out with the change from `nu05` to `nu06` this week. However, there are a few things to consider with making the change in the CPS. As I mentioned in the last Tax-Calculator maintainers meeting, I want to work on creating a new CPS file that is built with Python scripts so that we're no longer constrained by the SAS code we currently use. If we wait to release

[2019-04-24 18:42] martinholmer commented on #311
@andersonfrailey said in issue #311:

My view is that our projects are an exercise in "continuous improvement," and therefore, the second (two-step) option is the preferable **of the two you mention**.   But clearly, the best option is to come to terms with the fact that we are still not free-of-SAS, and so the Policy Simulation Library needs to get a SAS license.  What's the matter with that opti

[2019-04-24 21:13] martinholmer commented on #311
@andersonfrailey and @MattHJensen,  If the Policy Simulation Library is too poor to purchase a SAS license, then why not adapt the script @evtedeschi3 used to compute from the CPS public-use file the child age count variables used as input into Tax-Calculator?   Here is the link to that script (which is free to execute because the R distribution is completely free):
https://github.com/evtedeschi3/

[2019-04-25 15:17] andersonfrailey commented on #311
@martinholmer I'll look into the output of @evtedeschi3's code today and see how we can work with it in taxdata.

[2019-04-30 16:16] Thirdhuman commented on #311
Having personally replicated Ernie's calculations, the biggest barrier is that the TAXSIM27 variables cannot function if a "under 6" variable is preserved due to the required shape of the TAXSIM file.
Ernie's distributional statistics are calculated through merging tax-calc's output back onto the original CPS extract afterwards.

I've been hoping an updated tax-calc release might be forthcoming wi

[2019-05-20 17:32] MaxGhenis commented on #286
Is https://github.com/andersonfrailey/cpstaxunits still the repo for CPS tax units? The latest commit there is from October 2018.

[2019-05-20 21:12] andersonfrailey commented on #286
@MaxGhenis, I would ignore that repo. It dates back to when I was trying to exactly reproduce the SAS scripts to create the CPS. As has been mentioned in conversation before, that never worked out and I've since started to try and create the tax units from scratch. I haven't pushed that to GitHub yet, but I'll post a link when I do.

In the meantime, I'm going to close this issue so that people do

[2019-05-20 21:12] #286 closed

[2019-06-04 18:35] martinholmer opened #315 "Question about data_source variable in puf.csv file"
@andersonfrailey,  I'm confused about the meaning of the `data_source` variable in the `puf.csv` file.  I expected that a value of 1 indicated that the record was from the IRS-SOI PUF and that a value of 0 indicated that the record was from the CPS.  But that doesn't appear to be the case.  Yesterday, @donboyd5 and I exchanged quite a few emails and here is what we found (I'm showing Don's R tabul

[2019-06-04 18:43] MaxGhenis commented on #315
Is this because records are duplicated during certain imputation processes?

[2019-06-14 14:41] andersonfrailey commented on #315
@MaxGhenis is mostly correct. He's right that records are duplicated, but this occurs during the statistical matching process in the PUF. It's the CPS where certain records are duplicated in the imputation process.

[2019-06-15 16:21] MaxGhenis opened #316 "CPS RECID 249111 has XTOT=1 and elderly_dependents=1"
There's one record where `n65 > XTOT`. It has both a head of household and an elderly dependent (so `n65=2`), but `XTOT=1`:
[code]

[2019-06-15 18:32] MaxGhenis opened #317 "CPS RECID 379570 has n21=0 and elderly_dependents=1"
Seems like it shouldn't happen. See this [notebook](https://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/random/people_per_tax_unit.ipynb).

[2019-06-15 18:40] MaxGhenis opened #318 "715 records in the PUF have n65>n21"
Defining n65 as `(age_head>64) + (age_spouse>64) + elderly_dependents`, 715 records have `n65>n21`. All 715 have `age_head>64`, and they otherwise fall into 3 categories ([notebook](https://nbviewer.jupyter.org/github/MaxGhenis/taxcalc-notebooks/blob/master/random/people_per_tax_unit.ipynb)):
1. 700 records have `n21=1` and `age_spouse>64`, e.g. RECID 415.
2. 13 records have `n21=2`, `age_spouse>6

[2019-06-23 14:55] martinholmer commented on #315
@andersonfrailey and @MaxGhenis,  Thanks for the explanation.

[2019-06-23 14:55] #315 closed

[2019-06-23 21:24] martinholmer opened #319 "Need data for `PT_SSTB_income`, `PT_binc_w2_wages` and `PT_ubia_property`"
With the improvement in Tax-Calculator logic regarding the calculation of the qualified business income deduction (QBID) for years 2018-2025 (which was included in [Tax-Calculator pull request 2345](https://github.com/PSLmodels/Tax-Calculator/pull/2345)), it would be desirable for the `puf.csv` (and `syn.csv`) file to include values for the three new input variables that Tax-Calculator now knows h

[2019-06-29 17:19] MaxGhenis opened #321 "Why do 5k records in the CPS tax file have no adults?"
5,446 records in the CPS tax file, which together represent 2.05M tax units and 2.10M people, have `n1820+n21=0` ([notebook](https://colab.research.google.com/drive/11u3rtf66j4oFVb7W0xw8tYvNITm4r05M)). That's about 3% of children, and for comparison, [4-5%](https://www.census.gov/content/dam/Census/library/visualizations/time-series/demo/families-and-households/ch-1.pdf) of kids live without their

[2019-07-05 13:50] codykallen commented on #321
@MaxGhenis, I've encountered this previously. I believe it's occurring for tax planning purposes among families with teenage children.

Specifically, suppose you are in the 35% bracket, and that you have a teenager with a part-time or summer job, who has $10,000 of income. Under pre-TCJA law, the best tax planning strategy would have the teenager file separately, which would put him at the 10% mar

[2019-07-05 14:20] codykallen opened #322 "Asset, wealth and capital imputations"
Given a serious focus by candidates on the taxation of various types of wealth, I believe we need to impute detailed information on assets, liabilities, and capital transactions.

I believe we should first consider how much information we need to impute, in order to accurately or reasonably model policy proposals, at least on a static basis. Such proposals could include a tax on net wealth, a prop

[2019-07-09 15:59] MaxGhenis commented on #321
Thanks @codykallen. I also confirmed that zero-adult households are rare in the CPS itself ([notebook](https://nbviewer.jupyter.org/github/MaxGhenis/random/blob/master/cps_zero_adult_households.ipynb)), totaling roughly a dozen survey households representing no more than ~23k people in a given year:
![table of total people and zero-adult-HH people by year](https://user-images.githubusercontent.com

[2019-07-09 15:59] #321 closed

[2019-07-10 16:28] MaxGhenis opened #323 "Weight and age CPS tax units in the same household together"
## Motivation

Andrew Yang's Freedom Dividend is a UBI restricted to adults, plus some tax increases. Since some children file taxes separately from their parents (https://github.com/PSLmodels/taxdata/issues/321), this causes some tax units to be worse off, since they experience the tax increase without the UBI ([analysis](https://medium.com/ubicenter/why-some-low-income-people-come-out-behind-in-

[2019-07-15 14:00] andersonfrailey commented on #322
Thanks for bringing this up, @codykallen. I agree that this would be a valuable addition to TaxData.

These all seem like reasonable first steps. I'll have our intern put together a summary of what the candidates have proposed so far with regards to a wealth tax to start the process fo figuring out what we might want to focus on imputing first.

[2019-07-15 14:12] codykallen commented on #322
@andersonfrailey said:

For distributing the corporate income tax, I would like several important variables and one potentially useful one (the last on the list).
 - Equity asset ownership
 - Debt asset ownership
 - Fraction of equity held in tax-preferred accounts
 - Fraction of debt held in tax-preferred accounts
 - Fraction of equity held in tax-preferred accounts that are taxed on withdrawal

[2019-08-01 17:58] martinholmer opened #325 "Impute child/dependent-care expenses above current-law caps"
In the `puf.csv` data, the value of `e32800` is capped at either $3000 (for one qualifying dependent) or $6000 (for two or more qualifying dependents).  Reforms that increase the maximum allowable Form 2441 credit cannot be analyzed given this capping, as discussed in [Tax-Calculator issue 2361](https://github.com/PSLmodels/Tax-Calculator/issues/2361).

All $3000 and $6000 values need to be replac

[2019-09-27 00:09] MattHJensen commented on #311
I was just reviewing Tax-Calculator issues and saw that https://github.com/PSLmodels/Tax-Calculator/issues/2294 depends on this issue, #311.

@andersonfrailey, would you mind letting me know the status of this issue when you have an opportunity?

[2019-09-27 17:20] andersonfrailey commented on #311
@MattHJensen sorry this has slipped away from me. We still have the issue of being unable to run the SAS code. What I could do is create supplement the final prep Python script to use the household and family identification information in the CPS to map back to the original CPS files, count up the number of children under five in each household, and then add that as a new variable to the CPS. I th

[2019-10-03 11:44] donboyd5 opened #326 "Improving speed and flexibility of TaxData extrapolation"
My colleagues @marshallpku, Gang Chen, and I may have an opportunity to examine TaxData extrapolation for possible speed and flexibility improvements, in preparation to run a large synthetic data file through TaxData. I have 4 questions (plus a bonus question) - positive or negative feedback on any of these before we start would be useful.

1. Am I correct in understanding that TaxData extrapolati

[2019-10-05 18:42] andersonfrailey commented on #326
@donboyd5

Yes. It will typically take around 6-8 hours to run, depending on the file and what other processes you have running.

Yes. The length of time it takes to run can be attributed almost entirely to this process. Everything else takes ten minutes tops.

Yes, these statements are all correct.

Not extensively

No

Yes. I've looking into the linear programming model module in [scipy](https:/

[2019-10-06 13:01] donboyd5 commented on #326
Thanks, @andersonfrailey, this is exactly the kind of information @marshallpku, Gang Chen, and I need.

A few follow-up questions. If you know off the top of your, head, would be great to have info on:

1. Do you know whether the solver ever is memory bound - using all memory and swapping out to hard drive? Or is the problem just extremely CPU-intensive?
2. Do you ever find that a feasible solutio

[2019-10-09 02:54] andersonfrailey commented on #326
I believe that it's just a CPU-intensive process. Though it does use a lot of memory as well.

Yes and yes. We typically need a higher `tol` in later years, and the `tol` levels we're currently using have typically been high enough for solutions to found.

I'm not sure which take the most time, but a bulk of the time is spent initializing and finding an optimal solution. The solver doesn't save an

[2019-10-09 11:03] donboyd5 commented on #326
Perfect, @andersonfrailey, thank you.

@marshallpku, @gchen3, and I talked about this yesterday. We will create a small standalone environment in which we can call minimally modified versions of `solve_lp_for_year` so that we can examine performance with different:

1. CBC options
2. PuLP solvers
3. scaling
4. Possibly non-PuLP solvers if we can wrap them in a function that allows using the curren

[2019-10-17 17:03] MaxGhenis commented on #293
@MattHJensen pointed to [Piketty Saez Zucman (2018)](http://gabriel-zucman.eu/files/PSZ2018DataAppendix.pdf) using a very simple binning method for imputing benefits, basically taking the probability of participation and average value within each of 40 bins (income decile x marital status x 65+), then scaling each up to hit administrative totals (section B.3). I've added it to the http://bit.ly/st

[2019-10-25 16:02] MattHJensen commented on #311
I just thought to add that users of both the puf.csv file and the forthcoming synthetic version would benefit from the addition of nu06 to puf.csv as a first step, even if it is a longer-term project to add it to the cps.csv file.

[2019-10-25 17:21] MaxGhenis commented on #311
I thought adding it to cps.csv was a prerequisite for adding it to PUF files, since it provides the ground data to impute?

[2019-10-28 23:53] andersonfrailey commented on #311
@MattHJensen I should be able to get that done this weekend. I'll have a PR up for review as soon as I can.

@MaxGhenis adding it to cps.csv is not a requirement for adding it to the PUF since we do all of the work on the 2016 CPS file that we use to match with the PUF separately from how we create the cps.csv file. Everything we do for creating puf.csv can be found in the puf_data directory.

[2019-10-29 17:05] donboyd5 opened #327 "References to puf2009 should be puf2011, I think"
In this file: taxdata/puf_data/StatMatch/Matching/soi_rets.py

These references at start:
[code]

should be to 2011 not 2009, I believe.

[2019-10-29 18:16] donboyd5 commented on #326
Success!

Of likely interest to @andersonfrailey, @MattHJensen, and @martinholmer.

Also of interest to Gang Chen (@gchen3), who has been overseeing the reweighting work at Rockefeller College.

Yimeng Yin (@marshallpku) has achieved an approximately 6-fold speed-up of reweighting for the [CPS](https://github.com/PSLmodels/taxdata/blob/master/cps_stage2/solve_lp_for_year.py) and the [PUF](https://

[2019-10-29 18:53] MattHJensen commented on #326
Great news.

I would like to attend the web presentation.

If you are interested in using the next Tax-Calculator developer call as a forum for the presentation ([Nov. 7 at 3 pm Eastern](https://calendar.google.com/calendar/r/week/2019/11/7?eid=MXF2N2U5YzJzMzBvOWMwazA4YmwyMDhqaHFfMjAxOTExMDdUMjAwMDAwWiBwc2xtb2RlbHMub3JnXzN1Z3E2NmJ1NWpmbTY0MmY5aWk0aWt0c3AwQGc&ctz=America/New_York&sf=true)), I am ha

[2019-10-29 21:33] donboyd5 commented on #326
Hi Matt,

That would be great. If Yimeng could have 20 mins that would be ideal.

Don

Sent by an android

On Tue, Oct 29, 2019, 2:53 PM Matt Jensen <notifications@github.com> wrote:

[2019-10-30 04:19] MattHJensen commented on #311
As a side note to this discussion, this just reminds me that imputations of the benefits information from the C-TAM augmented `cps.csv` to `puf.csv` would be helpful: It is easier to produce new versions of `puf.csv` and it is also, generally, of higher quality than `cps.csv. If anyone ever has ideas for those imputations or is interested in working on them, I'd love to talk about it sometime.

[2019-10-31 15:04] donboyd5 commented on #326
Great! Thanks. Don

On Thu, Oct 31, 2019 at 10:57 AM Matt Jensen <notifications@github.com>
wrote:

[2019-11-01 20:53] andersonfrailey commented on #327
Yes, you're correct, @donboyd5. Fixed in PR #328.

[2019-11-01 20:56] andersonfrailey commented on #326
This is great news, @donboyd5! I have class during the Nov. 7th call, but I'll be happy to review the PR with the changes when it's up.

[2019-11-01 20:58] donboyd5 commented on #326
Great, Anderson! Yimeng will provide a link to the presentation when he has
it, in case you have questions or want a separate discussion on it.

Don

On Fri, Nov 1, 2019 at 4:56 PM andersonfrailey <notifications@github.com>
wrote:

[2019-11-01 21:11] #327 closed

[2019-11-05 13:01] donboyd5 opened #330 "Significant issue in running synthetic data through TaxData - seeking advice/help"
Of interest to at least the following: @andersonfrailey, @MattHJensen, @martinholmer, @MaxGhenis, @feenberg,  @marshallpku, and @gchen3

Despite well-laid plans, we have run into a significant problem running a synthetic version of the PUF through TaxData.

I think there is a short-term solution that will not require changes to TaxData and eventually could be incorporated into synthesis procedures

[2019-11-05 13:36] feenberg commented on #330
The tax calculator should not require E00100. Think about it. If you want
to calculate the revenue from a change in the definition of AGI, then if
the calculator uses E00100 from the data instead of the the calculated
AGI, it will get the wrong answer. This should be fixed in the calculator.

Now, if the E00100 is only used as a tab variable in the display, my
argument is only a little weaker. I w

[2019-11-05 14:17] donboyd5 commented on #330
I am not saying Tax-Calculator requires E00100. (I doubt it does.) I'm
saying that TaxData requires E00100.

Is taxsim able to calculate E00100 (or its counterpart c00100) for 2011
using the synthetic PUF?

If so, would you mind doing that and providing E00100 if I point you to the
right synthetic PUF?

Thanks.

Don

On Tue, Nov 5, 2019 at 8:53 AM Daniel Feenberg <notifications@github.com>
wrote:

[2019-11-05 15:25] feenberg commented on #330
Sure, give me the file and I will add E00100. We could also add a few
other calculated values.

dan

On Tue, 5 Nov 2019, Don Boyd wrote:

[2019-11-05 15:55] donboyd5 commented on #330
Thanks. The file is [synpuf20_no_disclosures_weighted.csv](https://drive.google.com/open?id=1Y8lFDlRplJkf148v4_bFXoWnQqosr0Bf). (You've seen it before. The weight variable that one would use in analysis - not needed for this purpose - is S006_rwt.)

Regarding other variables: In my email conversation with Yimeng (@marshallpku) he said that there are 8 missing variables in the synthetic puf. He tho

[2019-11-05 22:17] feenberg commented on #330
I have placed a file with 7 calculated variables at:

    http://www.nber.org/~feenberg/synpuf20calc.zip

It is a csv file. In addition to the requested fields I have added
c09600 and c10300. Also, flpdyr, xfpt and xfst inferred from mars.

Lastly, I have included recid and e00200 just to make sure when you merge
this with the synpuf20 that the merge goes correctly. Be sure to check.

Dan

On Tue,

[2019-11-06 11:51] donboyd5 commented on #330
@feenberg solved our E00100 problem by running the synthetic data through taxsim and creating a file with E00100. (Thanks!)

@marshallpku was able to successfully run the synthetic file with E00100 through TaxData.

I am not closing this now, because our short-term problem is solved but we still will want a better long-term solution. Will add more when we are closer to the point of needing it.

[2019-11-07 15:45] marshallpku commented on #326
Hi all,

Here is the link to the slides for my [presentation](https://docs.google.com/presentation/d/17msiVhGKa6R6m8UAfhSV94c8980TGUCQjWmM78uAJM4/edit?usp=sharing) this afternoon.

Look forward to talking to you!

Yimeng

[2019-11-12 15:49] MattHJensen commented on #326
@yimengyin16, I investigated the licensing issue further, and there is nothing to worry about.

The license of CVXOPT does not affect our licensing of TaxData so long as we require our users to install CVXOPT (by adding it to `environment.yml` to replace `pulp`). It would only be a matter of concern if we distributed the CVXOPT source code as part of TaxData.

Thanks again for the presentation las

[2019-11-13 14:44] yimengyin16 commented on #326
@MattHJensen, thank you very much for investigating the licensing issue!

[2019-11-17 05:03] andersonfrailey commented on #326
This is great, @yimengyin16. Thanks for all of your work on this. I'm also curious to see how the Scipy LP solver performs, but don't feel like you need to hold off on opening a PR using CVXOPT. I'd love to try running it on my machine to see how everything goes.

[2020-06-18 12:48] MattHJensen commented on #323
This is also discussed at the end of page 142: https://www.irs.gov/pub/irs-soi/06foertsch.pdf

[2020-06-18 12:52] MattHJensen commented on #323
This report may also be relevant at pg 4:

https://www.cbo.gov/system/files/2019-12/55941-CBO-Household-Income.pdf

![image](https://user-images.githubusercontent.com/8301092/85022272-0ef2b880-b141-11ea-9732-05791c581f95.png)

[2020-06-18 14:11] MattHJensen opened #333 "Improve age variable on PUF"
In a recent PSL call, we discussed improving the age variable on the PUF, which is currently brought over in the CPS match. This discussion followed a comment from @jdebacker about needing to use the CPS as a source of primary taxfiler data rather than the PUF in a recent report using OG-USA.

@MaxGhenis suggested the possibility of imputing age from the CPS rather than obtaining during the match.

[2020-06-25 02:36] andersonfrailey opened #336 "Next steps for TaxData"
Now that #314 has been merged I have a few ideas about the next updates to taxdata we can make. In no particular order:

- [ ] #333
- [ ] Refactor the repo to remove redundant code. We can use the same code to make the tax units for the CPS file to make them for the statistical matching and consolidate the stage 2 scripts.
- [ ] Re-write the make files and documentation to reflect the changes in P

[2020-06-25 14:21] MattHJensen commented on #336
@andersonfrailey, these sound fantastic.

I have been thinking on similar lines and have a [very rough draft](https://docs.google.com/document/d/1HMq1vCFVQIsR9OyqwHAZFHculzhyIpiPgv953F91SUQ/edit#) of how a "Tax Data Generator" app might be structured. I have been thinking of this as an app on C/S available to people with access to the PUF, driven by a ParamTools-powered API within TaxData. But eve

[2020-06-25 14:28] MattHJensen commented on #336
This is somewhat duplicative of the doc linked above, but a few other steps that I'd add to Anderson's list in the top comment:

- [ ] Incorporate state targeting for the PUF
- [ ] Revisit whether we can combine Stage 3 with Stage 2 (and add other distributional targets) thanks to the adoption of new solvers for the federal problem, CVXOPT or IPOPT.
- [ ] Revisit the PUF-CPS match and filer/non-fi

[2020-06-25 16:59] andersonfrailey commented on #336
@MattHJensen

I think this would line up perfectly with the standalone package I'm thinking of. It would also be part of the last bullet point I listed:

I'll look through your draft and open up a separate issue with some ideas for how we can put this together.

I really like Perese's approach you linked to. Adopting it would also solve issue #323.

[2020-06-25 19:39] andersonfrailey commented on #336
Also on the list:
- [ ] fulfill requirements to go from `psl-incubating` to `psl-cataloged`

[2020-06-25 20:47] MattHJensen commented on #336
- [ ] Consider whether to use (relatively new) CBO projections of spending by budget account for extrapolating C-TAM-imputed benefit programs, or document the issue for later consideration.  https://www.cbo.gov/data/budget-economic-data#9

[2020-06-28 17:24] MaxGhenis commented on #336
Just wanted to 👍  the below. UBI Center has a few potential analyses that would involve 2018 ASEC+taxcalc, including simulating Covid unemployment benefit changes in prior years.

[2020-07-01 00:44] andersonfrailey commented on #137
I'm going to close this to start a fresh discussion on how to version TaxData that won't be lost in the issues tab.

[2020-07-01 00:44] #137 closed

[2020-07-01 00:44] andersonfrailey commented on #317
Closing now that we've adopted a new version of the CPS.

[2020-07-01 00:44] #317 closed

[2020-07-01 00:44] andersonfrailey commented on #316
Closing now that we've adopted a new version of the CPS.

[2020-07-01 00:44] #316 closed

[2020-07-01 00:46] andersonfrailey commented on #311
Taken care of with #329 and #314. Closing.

[2020-07-01 00:46] #311 closed

[2020-07-01 00:47] andersonfrailey commented on #174
Closing now that we've switched to python scripts to create the CPS.

[2020-07-01 00:47] #174 closed

[2020-07-01 00:48] andersonfrailey commented on #253
Closing now that we've switched to python scripts to create the CPS.

[2020-07-01 00:48] #253 closed

[2020-07-01 02:26] andersonfrailey opened #338 "Versioning TaxData"
One of the requirements for PSL acceptance is to adopt a versioning system. Additionally, if we do end up making a standalone taxdata package/CS app we'll need to specify versions as well. Semantic versioning is probably the default choice, but I don't think it's obvious what would fall into each release category given the nature of taxdata. I've listed my ideas for how we would categorize release

[2020-07-02 15:13] MattHJensen commented on #338
Love the push to get TaxData versioned.

I just reread the [semver](https://semver.org/) guidelines. I wonder if TaxData versioning might fit more easily once we start thinking of it as an API to generate datasets rather than as collection of datasets or as a routine to generate specific datasets.

If we think of TaxData as an API to generate datasets, then everything follows from semver:

A major

[2020-07-02 21:09] andersonfrailey commented on #338
Thanks for your comments, @MattHJensen. I like your ideas for an API centric view of TaxData. With those in mind, I still think our first release should happen once we've updated to the latest CBO projections. Then we can start doing some of the refactoring discussed in #336 to make a more formal and flexible API.

[2020-07-03 12:47] MattHJensen commented on #338
This make sense and sounds great. If we until after the public API is established before incrementing to 1.0.0., then we can use 0.y.z during the period of establishing the public API and not need to worry about distinguishing between between major and minor releases. Anything that is a bugfix would increment `z`, and anything else would increment `y`, until we establish a public API, at which tim

[2020-07-06 15:34] andersonfrailey commented on #338
@MattHJensen, this all sounds good to me. I'm working on a rough sketch of what the public API would look like based on the Tax-Data Generator doc you shared in #336 and some of my own ideas. I'll open an issue laying out some ideas sometime this week before I start working on it.

[2020-07-09 02:37] andersonfrailey opened #340 "Refactoring TaxData"
I've been giving some thought as to how we refactor TaxData and wanted to share what I've come up with here. The general goal is to remove redundant code and set it up to be spun into its own package or as part of a tax data generator app on Compute Studio. Here's my proposed structure with the main directory in bold, subdirectories and files in each directory below

**cps_data**: everything neede

[2020-07-09 03:22] MaxGhenis opened #341 "Pull contents of PR 314 (create CPS file with scripts)"
This is a bit ridiculous, but #314's comment volume may have broken GitHub. There was some useful information there, so if anyone gets it to load, could you please expand all the comments and print it to a PDF so we can refer to it later?

[2020-07-10 19:12] andersonfrailey commented on #341
[taxdata314.pdf](https://github.com/PSLmodels/taxdata/files/4904952/taxdata314.pdf)
Here you go, @MaxGhenis. I'm a little proud that we broke GitHub tbh.

[2020-07-10 20:23] #341 closed

[2020-07-11 14:34] MaxGhenis opened #342 "Parse CPS dat files using file representation of column mapping (by parsing SAS script or data dictionary)"
The 700+ lines of hard-coding like below, in each separate CPS loading script...TBH it scares me a bit.

https://github.com/PSLmodels/taxdata/blob/7fa2634d578c72309234a629a0f72d679c33a086/cps_data/pycps/cpsmar2013.py#L17-L19

This seems error-prone and tedious, and slows down the process of adding new CPS data.

Another option would be using the ASEC data dictionaries published by Census, e.g. [th

[2020-07-11 16:05] andersonfrailey commented on #342
I agree that the hard coding looks scary, but it's all automatically generated by [`transform_sas.py`](https://github.com/PSLmodels/taxdata/blob/master/cps_data/pycps/transform_sas.py). It takes one of the SAS files provided by NBER to parse the DAT files (like [this one](https://data.nber.org/data/progs/cps/cpsmar2018.sas)), and pulls the start and end positions for each variable to fill in this

[2020-07-14 15:03] MaxGhenis commented on #342
Thanks @andersonfrailey, that's a relief 😄 . I'll change this issue to be about storing the result of that parsing as a file (dictionary seems appropriate to me but could be something else) and then loading that file in the script. I don't think it matters much whether the SAS script or the data dictionary is the source of that parsing, but doing this would avoid code duplication (even automated c

[2020-07-15 07:03] MaxGhenis commented on #333
I applied `synthimpute` to impute age in the CPS [here](https://github.com/MaxGhenis/taxdata/blob/6f04500e1c149ae4ec3c025d64e094cce286c2a6/analysis/age_imputation.ipynb). Rather than going to the PUF, it imputes on a holdout set of the CPS for evaluation (I didn't check that the x's are in the PUF yet).

Average age is 0.33 years too high, and standard deviation is 3.2 years too low. If comparison

[2020-07-18 00:21] andersonfrailey commented on #342
@MaxGhenis, I like the dictionary idea you proposed in your first comment. We'll still need separate dictionaries for each year, but it could definitely result in cleaner code. What do you think would be the best way to save those dictionaries? A file full of them or maybe pickled?

I could see us having one "master" dictionary with keys for each year we support that link to three sub dictionaries

[2020-07-18 18:22] MaxGhenis commented on #342
A pickled master dictionary for all years, or a CSV with the same data, SGTM.

[2020-07-18 23:02] andersonfrailey commented on #342
Perfect. I think a pickled dictionary is easiest for me to wrap my head around. I'll get a PR up.

[2020-07-20 19:50] MaxGhenis opened #346 "Add 2019 CPS"
Looks like this is blocked by NBER not yet having published their SAS script at http://data.nber.org/data/cps_progs.html. Is that right @andersonfrailey?

[2020-07-20 19:55] MaxGhenis commented on #346
Actually I'd bet they don't have SAS scripts because the 2019 files are just CSVs: http://data.nber.org/cps/asecpub19csv.zip

Will this require merging the person/family/household records then? e.g. `ffpos` isn't in the person record.

[2020-07-21 00:37] MaxGhenis commented on #346
The Census Bureau [published](https://www.census.gov/data/datasets/time-series/demo/cps/cps-asec.html) the 2019 ASEC as a fixed-width file. They don't have SAS input statements like NBER does (only for the replicate weights), but I tried just applying the taxdata 2018 logic on it using #345, which works correctly for 2018 data. But it looks like the file structure changed:
[code]

I'll try merging

[2020-07-27 19:02] Peter-Metz opened #347 "Replacing nu05 with nu06 in CPS and PUF"
Based on #329 and #314, it seems that the most recent versions of the PUF and CPS both have the `nu06` variable. However, Tax-Calculator does not recognize `nu06` as a valid Records variable (see [records_variables.json](https://github.com/PSLmodels/Tax-Calculator/blob/master/taxcalc/records_variables.json)) because the newest versions of the PUF and CPS have not yet been disseminated.

I wanted t

[2020-07-27 19:30] MattHJensen commented on #347
Thanks Peter, what do you think about:

- Open PR-1 to Tax-Calculator w new PUF and CPS as of merge of #314 (including nu06 from #329).
- Open PR-2 to Tax-Calculator w new PUF and CPS from #332, building off of PR1 branch rather than master.
- Merge PR-1 and then PR-2.

[2020-07-27 19:47] Peter-Metz commented on #347
@MattHJensen the general plan sounds good. It might be easier to do the PUF/CPS update in one PR from a Tax-Calc testing standpoint, but I'm not sure.

@MattHJensen or @andersonfrailey: would you mind advising me on how to generate a new puf.csv?

[2020-07-27 23:31] andersonfrailey commented on #347
@Peter-Metz, all you'll need to do is drop the raw PUF file `puf2011.csv` and a CSV version of the 2016 CPS file (I can send you that if you need it) in the `puf_data/StatMatch/Matching` directory, then you can just use `make all` or `make puf-files` from the top of the directory.

[2020-07-28 12:08] Peter-Metz commented on #347
Thanks @andersonfrailey! Is the CPS file called `cpsmar2016.csv`? If so, I have everything I need.

[2020-07-28 14:10] andersonfrailey commented on #347
@Peter-Metz yep that's the one!

[2020-07-28 18:24] #342 closed

[2020-07-30 17:58] chusloj opened #348 "Rewrite Stage 2 in Julia"
There is a replicability issue using the `CVXOPT` solver in Python to calculate the PUF and CPS weights - the `md5` hash for the weight file changes every time the solver is run. Because most of the commonly used LP solvers do not have clean APIs for Python, I'd like to rewrite the `stage2` and `solve_lp_for_year` scripts in Julia. The language has a clean optimization & modeling interface called

[2020-07-30 19:43] andersonfrailey commented on #348
Just to add a little more information about the replicability issue, @chusloj and I have been going back and forth about how the `cps_weights.csv.gz` file changes in PR #343. As part of our investigation into why that was happening we each re-ran the CPS stage 2 scripts multiple times and could never get the same `md5` hash. I even compared the hashes between multiple weights files I created on my

[2020-08-13 16:30] donboyd5 opened #352 "Question: finalprep.py on Windows 10 64 results in Runtime Warning: overflow encountered in exp - should that worry me!?"
Newcomer trying to run taxdata puf-files from scratch on Windows 10 machine in bash command window.

Trying to run it piece by piece based on my reading of Makefile.

Full workflow described in a minute, but bottom line is that when running python finalprep.py I encountered this warning:

  return 1/(1+np.exp(-X))

Entire workflow and messages copied further below.

My full workflow on Windows 10

[2020-08-13 22:34] donboyd5 commented on #348
I have been running `stage2.py` on the puf (although still need to understand #352), which led me to some thoughts about your rewrite of stage 2. I think the comments (if on target) are relevant regardless of whether written in Julia or python.

As I watched `stage2.py` solve, I saw that each new year seemed to take more iterations than the year before, generally resulted in a higher objective fun

[2020-08-14 14:39] andersonfrailey commented on #352
@donboyd5 no need to worry about the overflow warning. It's never taken me five hours to create `cpsmar2016.py`, but the bash contents you shared looks good. On my machine (a mac running macOS 10.15.4) it takes about 45 minutes. But I'm working on some refactors that should shorten that run time for everyone.

[2020-08-14 14:41] donboyd5 commented on #352
Thanks, @andersonfrailey. Everything looks good to me after I created final files. I'm thinking maybe I was writing the files to a folder that was synced with Dropbox or Google Drive and that may have slowed it down. I'll figure it out the next time I run taxdata.

Don

[2020-08-14 14:41] #352 closed

[2020-08-15 08:59] donboyd5 opened #353 "Two links from https://github.com/PSLmodels/taxdata/tree/master/puf_stage1 give 404 error"
These two links from puf stage 1 (https://github.com/PSLmodels/taxdata/tree/master/puf_stage1) give 404 error:

CBO updating link: https://github.com/PSLmodels/taxdata/blob/master/puf_stage1/doc/CBO_Baseline_Updating_Instructions.txt

SOI updating link: https://github.com/PSLmodels/taxdata/blob/master/puf_stage1/doc/SOI_Estimates_Updating_Instructions.txt

[2020-08-15 10:54] donboyd5 opened #354 "Possible considerations as you rewrite stage 2 (as discussed in issue #348)"
When @MattHJensen, @Peter-Metz, and I were investigating creating state-specific PUFs, we noted that some of the values we were targeting have substantially different national totals in our source of targets, [SOI Historical Table 2](https://www.irs.gov/statistics/soi-tax-stats-historic-table-2) than the national totals we calculated from the PUF. We did not have time to investigate this as thorou

[2020-08-16 13:42] andersonfrailey commented on #353
Thanks for pointing this out, @donboyd5. I'll fix in PR #349.

[2020-08-21 06:04] MaxGhenis opened #356 "Correct CPS for people with reported work hours but no earnings"
This was suggested at a forum I presented a paper at this week, per [Meyer (2019)](https://www.census.gov/content/dam/Census/library/working-papers/2019/econ/adep-wp-2019-02.pdf), who does it the following way:

[2020-08-22 00:41] MaxGhenis opened #357 "Separate CPS tax unit assignment from other calculations"
Scripts like [`pycps.py`](https://github.com/PSLmodels/taxdata/blob/master/cps_data/pycps/pycps.py) and [`taxunit.py`](https://github.com/PSLmodels/taxdata/blob/master/cps_data/pycps/taxunit.py) have functions that mix the grouping of individuals into tax units with other operations like income aggregation and C-TAM imputations. I think separating these operations would be cleaner and make it easi

[2020-08-22 01:23] MaxGhenis opened #358 "Document statistical matching process"
I need to understand the current statistical matching process to benchmark `synthimpute`'s age imputation (#333). The [current code](https://github.com/PSLmodels/taxdata/blob/master/puf_data/StatMatch/Matching/phase1.py) has very few comments and lacks documentation, and I'm having trouble following it.

It seems like the gist is that it first buckets records from the CPS and the PUF by a few vari

[2020-08-24 20:12] andersonfrailey opened #360 "Adopting Black Code Formatting"
I'd like to propose we add a [black](https://black.readthedocs.io/en/stable/) pre-commit hook to TaxData to handle code formatting. It'd be nice to not have to worry about that when reviewing PRs. If there are no objections, I can open a PR to add it.

[2020-08-24 20:19] hdoupe commented on #360
I've really enjoyed using Black. Once you have it hooked into your editor to run every time you save, you'll never look back.

Downside is that you pretty much have to run it on your entire repo which will ruin a lot of git history. However, maybe there is a way around this--I just haven't seen it yet.

[2020-08-25 02:22] andersonfrailey commented on #360
Throwing off the git history is a concern of mine as well, @hdoupe. But better to do it now than after we do all of the refactoring that's been discussed in #340 and #357.

[2020-08-25 13:30] hdoupe commented on #360
ParamTools uses Flake8 in its pre-commit [config](https://github.com/PSLmodels/ParamTools/blob/master/.pre-commit-config.yaml), too. It's a little bit more of an undertaking to fix all of the initial errors, especially for a large project like taxdata. But as annoying as it can be, it does catch a bunch of random stuff like unused imports and unused variables.

[2020-08-25 15:10] andersonfrailey commented on #360
That would be good to have. Copying the ParamTools pre-commit config might be the move here.

[2020-08-25 15:15] MaxGhenis commented on #360
Yep I just started using Black and am going through the initial cleanup for `microdf` - it's a pain at first but I'm glad I'm doing it. Seems like a potential "SHOULD" criterion for PSL acceptance too.

Were you thinking of using https://github.com/lgeiger/black-action? I'm using https://github.com/WhyNotHugo/python-linting which I think does Black and more.

[2020-08-25 17:29] andersonfrailey commented on #360
@MaxGhenis I was thinking of using https://github.com/lgeiger/black-action. I hadn't heard of https://github.com/WhyNotHugo/python-linting before but it looks interesting. I'll review both a little more.

[2020-08-25 18:39] Peter-Metz opened #361 "Input parameters needed for qualified business income deduction"
The phaseout of the qualified business income deduction (QBID) is determined by three factors:
- Whether the business is a specialized service business (`PT_SSTB_income`).
- The amount of W-2 wages that business pays (`PT_binc_w2_wages`).
- The filer's share of qualified properties (`PT_ubia_property`).

However, all three of these variables are zero in the PUF and CPS. Even though the Tax-Calcula

[2020-08-30 13:50] andersonfrailey commented on #360
I think copying the ParamTools pre-commit config will be a good solution for taxdata. If I understand how it works correctly, that'll catch everything and run black before code is even pushed to GitHub. I'll open a PR later today.

[2020-08-31 02:23] andersonfrailey commented on #361
Thanks for bringing this over, @Peter-Metz. Do you think we have the data needed to impute these variables already or will we probably have to find another data source to do so?

[2020-09-03 00:39] martinholmer commented on #361
@Peter-Metz said:

This statement is simply not true.  This issue was raised long ago on June 23 of 2019 in taxdata issue #319.

[2020-09-11 16:57] #360 closed

[2020-09-16 10:19] MattHJensen opened #363 "Update for new CBO budget outlook"
CBO updated their 10-year budget outlook on Sep 2.

https://www.cbo.gov/publication/56517

[2020-09-16 10:22] MattHJensen opened #364 ""Ability to Vary the Age of the Young Child Tax Credit Bonus (Between Ages 1-6)" feature request from Tax-Calculator"
See the full discussion: https://github.com/PSLmodels/Tax-Calculator/issues/2483

An incremental approach would be to add nu01. To fully satisfy the request we would need to add nu01 through nu05.

[2020-09-16 18:08] andersonfrailey commented on #363
Updates are running now. Will open a PR once they're done.

[2020-09-16 18:24] andersonfrailey commented on #364
This would be fairly easy to implement. I can have a PR for this open after I finish up with #363

[2020-09-16 22:50] andersonfrailey commented on #363
Seems like they took capital gains realizations out of the revenue projections again so there's nothing to update here. Hopefully they will at least still include them in the January updates. If not, we'll need to find a work around.

[2020-09-17 09:05] donboyd5 commented on #363
Not sure exactly what you're looking for but CBO has capital gain or loss projections in row 15 of the ` 3.Individual Income Tax Details` tab of [this spreadsheet](https://www.cbo.gov/system/files/2020-09/51138-2020-09-revenueprojections.xlsx).

[2020-09-27 20:16] andersonfrailey commented on #363
Thanks @donboyd5! This is probably our best alternative if we need to make the switch.

[2020-09-28 00:16] MattHJensen commented on #363
@andersonfrailey, sorry for falling behind here, do you mind clarifying what you mean by "make the switch?" Are the numbers Don linked to a different concept / source from what has been used in TaxData?

[2020-09-28 11:30] donboyd5 commented on #363
My thoughts on that question:
![image](https://user-images.githubusercontent.com/6538392/94427030-75ce3780-015c-11eb-9240-f875fa3e6360.png)

[2020-10-24 05:09] MaxGhenis opened #365 "0.9% of CPS tax units have age_head < 18"
Including some as young as zero ([notebook](https://colab.research.google.com/drive/1yniTmGymHGqJZ9bef-FlGKjIGz1ByTIO?usp=sharing)):

[code]
[code]
cc @prrathi

[2020-12-17 21:22] andersonfrailey commented on #365
Completely speculating here, some of these may be dependent filers. Some could be issues with the data where ages are input wrong. I'd want to look into some of the other variables associated with those units to make a more informed guess. Thanks for pointing this out!

[2020-12-17 21:42] andersonfrailey commented on #364
To add this, there are two areas in the code that need be updated here.

For the CPS, you'll add the new age variables to [this](https://github.com/PSLmodels/taxdata/blob/52c02c5f457145413983762280f8c1552b5ac740/cps_data/pycps/taxunit.py#L204) function. Then you'll need to add them to the `USEABLE_VARS` list [here](https://github.com/PSLmodels/taxdata/blob/52c02c5f457145413983762280f8c1552b5ac740/

[2020-12-17 21:49] andersonfrailey commented on #347
This has been taken care of. Closing.

[2020-12-17 21:49] #347 closed

[2020-12-18 21:07] jdebacker opened #366 "Defining filing status"
This issue was created to discuss the best approaches to defining filing status.  `taxdata` already does a reasonable job of defining non-filers and filers that is helpful in appending non-filers to the PUF using CPS data.  However, Tax-Calculator makes no use of the `filer` variable (and it has been renamed to `data_source`).  @donboyd5 has recently been trying to impute filing status for the pur

[2020-12-19 12:21] donboyd5 commented on #366
My few thoughts:
- I think all of the reasons you give for having filing status in taxdata are important; I do think people will care about how a reform changes the number of filers
- I thought the required/likely deterministic approach worked well
- it seems to me you file because:
1. you are required to based on IRS income thresholds
2. you must file because you have income tax liability
3. you

[2020-12-19 16:11] MattHJensen commented on #366
@jdebacker, I'm not sure what you mean here, but let me try to answer the best I can and please let me know if this isn't what you are looking for:

It seems many or most Tax-Calculator users should care about filing status indirectly, such as in the preparation of their input data. I can also see why policymakers might care about how policy reforms influence the number of filers and similarly the

[2020-12-22 18:26] andersonfrailey commented on #366
@jdebacker yes. Once `taxdata` has labeled a household as filer/non-filer, they keep that status forever. I'd be interested in maybe integrating tax-calc into our extrapolation routine to calculate taxable income in each year and then use that to determine who would be required to file and who may be doing so voluntarily.

`taxdata` doesn't worry about changes in tax law when extrapolating. We kin

[2021-01-27 16:05] chusloj opened #371 "[Help Wanted] Combining stage 2 and 3, trouble with optimization problem"
In my branch `stage_2+3`, I've been trying to combine stages 2 and 3 of the optimization process for PUF weights. I've expanded the variable for interest income (`INTS`) to 12 new variables, each of them pertaining to the 12 income bins specified in the [SOI update instructions](https://github.com/PSLmodels/taxdata/blob/master/doc/SOI_Estimates_Updating_Instructions.md).
.
Running `stage1_just_INT

[2021-01-27 16:50] donboyd5 commented on #371
There are a lot of degrees of freedom here. I'd expect it to solve. My guess is you either have one or more bad targets (relative to the data) or tightly restricted record weights that are inconsistent with the world as we know it (SOI data), but there are other possibilities.

I'd suggest isolating things to determine what, exactly, is causing the problem. Julia may have tools for that. If not, I

[2021-03-10 04:40] MaxGhenis commented on #318
Was this addressed in recent updates?

[2021-03-31 15:20] andersonfrailey commented on #318
@MaxGhenis, yep this has been resolved with the latest updates. Closing.

[2021-03-31 15:20] #318 closed

[2021-05-16 12:25] donboyd5 opened #372 "FYI - you may want to add pip as a dependency in the environment.yml file; suggestion for installation instructions"
FYI: When I installed taxdata on ubuntu, the command:

`conda env create -f environment.yml`

generated the following warning an infinite number of times (until interrupted):

Despite the message's implication that it was adding pip, the installation did not work.

I manually added pip as a dependency to environment.yml, which appears to have solved it. It might be worth including pip as a depende

[2021-05-16 12:40] donboyd5 opened #373 "make cps-files not working on ubuntu machine -- "AttributeError: module 'taxdata.cps' has no attribute 'create'""
After activating taxdata-dev and installing precommit, `make cps-files` does not work on my machine. The entire message is given below. It says,

I have not looked into the makefile yet, but would appreciate any advice. FWIW, I do have Julia installed -- version 1.4.1.

Many thanks.

![image](https://user-images.githubusercontent.com/6538392/118397385-adbdb880-b621-11eb-8d44-0321f2af5737.png)

[2021-05-16 16:49] donboyd5 opened #374 "Broken link to StatMatch subdirectory"
[This](https://github.com/PSLmodels/taxdata/tree/master/taxdata/puf) taxdata page contains a [broken link](https://github.com/PSLmodels/taxdata/blob/master/taxdata/puf/StatMatch/README.md) to the  StatMatch subdirectory.

It looks like the correct link probably is [this](https://github.com/PSLmodels/taxdata/tree/master/taxdata/matching).

[2021-05-16 17:44] donboyd5 opened #375 "Seeking verification of which data files to download and where to put them"
One reason (perhaps not the only one) I ran into the problem in issue #373 is that I don't have the needed puf and cps files in the right location on my system.

The PUF seems pretty clear from reading the code: I think I need to put puf2011.csv in the `taxdata/data/` folder. I would appreciate it if someone could confirm that this is the right location. (I haven't run the make file to see if it w

[2021-05-18 00:40] andersonfrailey commented on #374
Thanks for reporting this, @donboyd5! Fixed in #376

[2021-05-18 01:16] andersonfrailey commented on #375
Yep.

We don't save that file anywhere due to its size, but I can send it to you.

From [NBER](https://data.nber.org/data/current-population-survey-data.html)

Yep!

[2021-05-18 01:27] andersonfrailey commented on #373
Thanks for reporting this, @donboyd5. I think I've figured out what's going wrong. I'll have a fix up shortly

[2021-05-18 01:41] #374 closed

[2021-05-18 10:29] donboyd5 commented on #373
Thanks, @andersonfrailey ! I created the same __init__.py file on my system and it allows me to make progress. However, there are some julia-related problems that I think I have figured out how to resolve. I will open an issue explaining that.

[2021-05-18 10:37] donboyd5 commented on #375
Thanks! FWIW, the 2016 file on the [NBER](https://data.nber.org/data/current-population-survey-data.html) site is named "asec2016_pubuse_v3.dat" (same as on the Census site), rather than the "asec2016_pubuse.dat" that [taxdata expects](https://github.com/PSLmodels/taxdata/blob/master/doc/about_cps_data.md).

Because the default version of taxdata uses 2013, 2014, and 2015, but not 2016 or later, t

[2021-05-18 11:10] donboyd5 opened #378 "Julia dependencies needed for taxdata"
After @andersonfrailey's helpful responses in #373 and #375, and additional changes related to julia that I describe below, `make cps-files` now appears to be working on my ubuntu system, although it looks like it could take a few hours.

I ran into some trouble so here is documentation, for others, of how I addressed it.

On my first effort at `make cps-files` after adding \_\_init\_\_.py to the

[2021-05-18 14:11] #372 closed

[2021-05-18 14:25] andersonfrailey commented on #375
Thanks for letting me know! The code itself is good, but you're right that the documentation is incorrect. I'll update accordingly.

Yes, they only need to specify years. For reproducibility, taxdata does have an option for specifying a path to the directory where all of the files are held so as long they don't rename any files after downloading and keep everything in one place, only needing to sp

[2021-05-18 15:07] donboyd5 opened #380 "make puf-files gives: "make puf-files make: *** No rule to make target 'data/cps-matched-puf.csv', needed by 'data/puf.csv'. Stop.""
make puf-files gives:

"make puf-files make: *** No rule to make target 'data/cps-matched-puf.csv', needed by 'data/puf.csv'.  Stop."

The old rule, commented out in Makefile, is:

[code]

Maybe I should update folder names and program names and uncomment it? It looks like it is expecting cpsmar2016.csv but I am not sure which csv file that should be.

Many thanks for any advice.

[2021-05-19 17:33] donboyd5 opened #381 "Possible 85-95% reduction in stage 2 reweighting time using drop-in-replacement solver in solver.jl"
I don't know if others have found reweighting to be as slow as I have, but stage 2 reweighing for CPS took more than 14 hours on an older but still reasonably fast CPU. That's more time than I can tie a computer up for ordinarily.

As some of us have discussed, this really shouldn't take more than half a minute or so a year with an NLP solver and slight problem restructuring.

But in this case I w

[2021-05-19 19:40] donboyd5 opened #382 "version of solver.jl needed to create puf.csv not where taxdata expects it"
I haven't yet figured out how to modify Makefile to address #380 so that I can run `make puf-files` (although it works fine for `make cps-files`), so I am running the individual puf-related programs in taxdata. I have encountered a problem:

- `taxdata/createpuf.py` works fine
- `taxdata/puf_stage1/stage1.py` works fine
- `taxdata/puf_stage2/stage2.py` ran into the problem shown in the screenshot

[2021-05-20 14:19] andersonfrailey commented on #380
Thanks for flagging this @donboyd5. Working on a fix now

[2021-05-20 14:27] andersonfrailey commented on #381
Thanks for doing the research on this, @donboyd5. I'm also annoyed with how long it takes the solver to finish running. I'll test out dropping this in later today!

[2021-05-20 16:07] andersonfrailey commented on #381
@donboyd5, when I try to test your suggested changes I get this error:
[code]

Did you run into this at any point when you were working with Tulip? I haven't been able to find a solution for it yet.

[2021-05-20 19:05] andersonfrailey commented on #381
@donboyd5 can you also tell me what Julia version you're using? I've been having trouble getting things running and I think it might have to do with the Julia/package versions.

[2021-05-20 22:07] donboyd5 commented on #381
@andersonfrailey the code below is a full drop-in replacement for solver.jl in the cps_stage2 folder.

On my computer, with Julia 1.6.1, it works without trouble. I am 99.9% sure same is true of Julia 1.4.1 but I no longer have that installed to check.

Depending on whether you set solver="Tulip" or solver="Cbc" it will use the corresponding solver. You can set Tulip iterations with the variable T

[2021-05-20 22:18] donboyd5 commented on #381
@andersonfrailey I think if you were to use Tulip and stop it before optimality -- which I would recommend given how close the 500-iteration and even 100-iteration runs come to optimality as Cbc defines it -- I think you would want to put in a check to be sure that all the constraints have been satisfied within a reasonable tolerance. That has always been the case in the dozens of solves I have lo

[2021-05-21 21:37] #380 closed

[2021-05-21 21:51] andersonfrailey commented on #381
Thanks, @donboyd5! I was able to get things going with a bit of work. It was just an issue with the `Project.toml` and `Manifest.toml` files. Running now

[2021-05-21 21:54] donboyd5 opened #384 "Seeking advice: Best-latest puf.csv to use for analysis?"
I started down the road of running taxdata this week to create puf.csv using the main/master branch because I want to use the latest/best puf.csv in analysis. Using taxdata to create puf.csv has been successful so far and I appreciate all you have done, @andersonfrailey, to make it work.

However, I realize now that because I am not deeply familiar with git and GitHub, and don't know enough about

[2021-05-21 21:56] andersonfrailey commented on #382
@donboyd5 I got a similar error when I was struggling to get the solver running. My error was because the solver never ran so `20**_output.npz` was never written.

[2021-05-21 22:15] andersonfrailey commented on #384
We've started a release system for taxdata so you can use the latest release for the official version. You can find that under the 0.2.0 tag, but also the current master branch works just fine because we haven't made any changes to the logic to make the file.

It's the one created from version 0.2.0

That would depend on the version of Tax-Calculator they're using. To my knowledge, they're using t

[2021-05-21 22:16] donboyd5 opened #385 "Are the ~18k zero-weight records in puf_weights.csv intentional?"
After constructing puf weights using an alternative solver (#381), I noticed that approximately 18k records, all at the bottom of the file, appear to have zero weights for all years. I did not examine this formally - I just looked at the file with a log viewer - but a quick look suggests most/all of these bottom-of-file records have all zero weights.

Thinking I did something wrong, I looked at [p

[2021-05-21 22:32] donboyd5 commented on #385
The code at bottom gives:

- no all-zero-weight-records from the Aug 2020 puf_weights.csv
- 18,382 all-zero-weight-records from the puf_weights.csv downloadable from taxdata

![image](https://user-images.githubusercontent.com/6538392/119204139-af90dd00-ba62-11eb-8858-1730993bafab.png)

[code]

[2021-05-22 13:56] andersonfrailey commented on #385
@donboyd5, I wouldn't say it's intentional, rather it's a result of the re-weighting process. A difference between the Aug. 2020 version and the new version is we switched to the solvers in Julia for stage 2. It's possible that the translation introduced a bug that resulted in all of these zero-weight records, or it's possible that this is just what the solver gives us. I'll dig into it a bit and

[2021-05-22 16:35] donboyd5 commented on #385
@andersonfrailey, I think it's happening sooner than that because the LP solver in effect is limiting each new weight to be +- ~55-70% (depending on year) of the initial year's weight. So it can only be zero if it started at zero.

Before the solver is called, in [stage2.py](https://github.com/PSLmodels/taxdata/blob/master/puf_stage2/stage2.py), it reads puf from `cps-matched-puf.csv`:

`puf = pd.

[2021-05-22 17:08] donboyd5 commented on #385
I stepped through the code in [createpuf.py](https://github.com/PSLmodels/taxdata/blob/master/createpuf.py).

Here are the key lines of code:

![image](https://user-images.githubusercontent.com/6538392/119234812-c3d5e800-bafd-11eb-8d51-c9ab9b1cfd47.png)

Everything seemed fine through line 168 - the relevant files all had positive s006 and positive matched_weight.

Here is what I get for data.matc

[2021-05-22 19:12] andersonfrailey commented on #385
Thanks for looking into this, @donboyd5. I think I see what needs to be fixed. I'll get a PR up when I get it worked out.

[2021-05-23 16:02] andersonfrailey commented on #292
TaxData has been accepted into PSL so closing this issue.

[2021-05-23 16:02] #292 closed

[2021-05-23 16:26] andersonfrailey opened #386 "Skipping Years During Stage 2"
As mentioned in #381 and other issues, running our stage 2 scripts takes forever. Beyond changing solvers, another change I want to make to speed this process up is to only run the LP model for years that have seen their targets change. For example, in the PUF the targets for 2012 to 2017 have not and will not change because the CBO won't be releasing any new data and we won't be changing out SOI

[2021-05-23 22:25] andersonfrailey commented on #381
I've been running the current solver for ~24 hours to create new PUF weights and it still isn't finished so I'd like to say that I'm 100% in favor of moving to a different solver. I don't remember it being this slow when we initially switched...

[2021-05-23 23:12] donboyd5 commented on #381
Agree wholeheartedly.

Two comments:
1) If you look at old puf stage2 results in the repo (I don't know how
old), done with Clp, you'll see that they regularly took about 30k
iterations (see screenshot from the repo of results for 2012). By contrast,
the current solver, Cbc (which I thought called Clp but I am not sure),
regularly requires a quarter-million iterations.

[image: image.png]

On Sun,

[2021-05-23 23:17] donboyd5 commented on #381
Agree wholeheartedly.

If you look at [old puf stage2 results in the repo](https://github.com/PSLmodels/taxdata/blob/master/puf_stage2/stage2.results) (I don't know how old), done with Clp, you'll see that they regularly took about 30k iterations (see screenshot from the repo of results for 2012). By contrast, the current solver, Cbc (which I thought called Clp but I am not sure), regularly requir

[2021-05-23 23:18] donboyd5 commented on #386
@andersonfrailey, I really like this idea.

[2021-05-23 23:19] donboyd5 commented on #384
@andersonfrailey, thanks!

[2021-05-24 14:29] donboyd5 commented on #381
@andersonfrailey,

I have a version that now solves a single puf year (2012 - not tested on other years) reaching optimality in about 25 seconds in 46 iterations, hits the constraints, and gets a better objective function value than the current taxdata gets after an hour with 250 thousand iterations (approx).

It would be easy to make a simple drop-in replacement for solver.jl that does this.

To

[2021-05-24 16:57] donboyd5 opened #388 "FYI: Surprising relationship between total Social Security and taxable Social Security"
I don't think the following issue is going to lead me to make adjustments in the short term, at least not until I understand it better, but I wanted to leave a record of it in case taxdata and tax-calculator developers are interested.  **I would be very interested in understanding what might cause the results I describe below.**

Apparently we have far too much total Social Security income (e02500

[2021-05-24 16:58] donboyd5 opened #389 "FYI: Comparisons of IRS summary statistics for 2017 to puf.csv with: (1) default stages 1, 2, and 3, (2) custom stage 1 growfactors and default stage 2, and (3) version #2 reweighted"
You will find the 3 summary report files [here](https://www.dropbox.com/sh/axcicizlg4p7oik/AACqKRkzI4WZqcZvgzixvotfa?dl=0). They should be visible to all.

All comparisons are for filers only, as defined in PSLmodels/Tax-Calculator#2501 prior to today (2020-11-06). @MattHJensen suggested an improvement to the filer definition which I will implement relatively soon but I don't think the results wil

[2021-05-25 09:50] donboyd5 commented on #381
@andersonfrailey,:

Copied below is drop-in-replacement code for puf stage2 solver.jl. It implements all 3 changes noted above. I don't think I left any residue from experiments in the file (three residue lines are commented out) so you should be able to simply replace puf stage2 solver.jl with this code and try it out.

I made minor changes to scaling from what I describe above: the scaling facto

[2021-05-26 13:16] donboyd5 commented on #384
@MattHJensen, @jdebacker, and @rickecon, would you mind telling me what version of puf.csv you and (to the extent you know) others analyzing currently relevant federal tax proposals are using in the analysis, and what version of Tax-Calculator?

cc @andersonfrailey

- Are you using the latest official puf.csv (created from version 0.20) or possibly something later, and if so what would be differen

[2021-05-28 15:47] hdoupe opened #392 "Large `.git` directory size"
I'm not one to complain too much about large repo size, but I'm having trouble pulling and pushing the taxdata repo. I wonder if there's a way to remove large files from the git history using something like [BFG](https://rtyley.github.io/bfg-repo-cleaner/).

Thoughts? :grimacing:

[2021-05-29 21:38] andersonfrailey commented on #392
@hdoupe I'm on board with trying to clean up the history a bit. I'll look into the tool you linked to and see if it'll work for us!

[2021-06-10 02:26] #385 closed

[2021-06-29 03:11] jdebacker opened #396 "Move docs to Jupyter Book"
It may benefit users of taxdata to have the docs in Jupyter Book format, possibly with the taxdata.pslmodels.org url.

[2021-07-08 15:49] donboyd5 opened #398 "Several thousand duplicate records in taxdata"
Probably of interest to @andersonfrailey @MattHJensen :

I created a puf.csv using the master branch of taxdata git cloned on 7/2/2021, by running `make cps-files` then `make puf-files`. I think I did it correctly.

I just finished creating state weights for this file and noticed many groups of records where the state weights are identical - for example, RECIDs 1-5 all have the same weight for eve

[2021-07-28 11:17] donboyd5 opened #399 "$121b of wages of millionaires dropped from puf stage 2 targets??"
Of possible interest to @andersonfrailey @MattHJensen @rickecon @jdebacker:

Been trying to figure out why some of my numbers for 2017 differ substantially from official TaxData &  Tax-Calculator so I looked at wage data for 2017. As noted in the title, I think TaxData is dropping $121 billion of wages of millionaires, which would help explain why I get such very different distributions of income

[2021-07-28 16:56] donboyd5 opened #400 "Possible process for bringing TaxData puf.csv closer to IRS published data and forecasts of same"
Tagging people who I think may be interested in this topic but please add others if I missed someone:
@andersonfrailey @MattHJensen @rickecon @jdebacker @martinholmer

Over the last year or so I have stumbled across several instances in which TaxData puf.csv as grown and weighted is not as close to IRS totals or potential forecasted targets as might be ideal. @jdebacker recently sensibly closed se

[2021-07-29 00:39] jdebacker commented on #291
The TaxData project has agreed to join PSL (as indicated by the psl-incubating status).  But I thought this issue could continue to be used to see the progress that TaxData has made towards being a cataloged project:

**Acceptance Criteria for Transparency and Quality**
 - [x] Models MUST be released under an OSI-approved open source license or the Creative Commons Public Domain Dedication (CC0).

[2021-08-12 18:41] jdebacker commented on #291
`taxdata`  is in the PSL Catalog already.  This issue can be closed.

[2021-08-12 18:42] jdebacker commented on #336
@andersonfrailey These are great next steps.  I'm going to add this to a "roadmap" document in PR #401

[2021-08-12 20:02] jdebacker opened #403 "runmatch.py file removed?"
This documentation (`Match.md`) references a `runmatch.py` file, but I can't find this in the repo.  Has it been removed?  I see a call to the file in `Makefile` has been commented out.

[2021-08-12 20:08] jdebacker opened #404 "Update instructions for installing Julia"
It'd be great if the virtual environment could automatically install Julia and the necessary packages.  [PyJulia] may allow for this, but in the meantime, I think the instructions for installing Julia could be improved:

1. When I install Julia on a Mac from the download link at Julialang.org, I am not able to access that version of Julia through my terminal.  I'm sure there are other steps that c

[2021-09-03 21:40] jdebacker commented on #396
Addressed via PR #401

[2021-09-03 21:40] #396 closed

[2021-09-10 14:46] andersonfrailey commented on #399
HI @donboyd5, thanks for digging into this! I think you're right that this is a bug, likely introduced when I tried automating the SOI estimates. I'll get a fix up and some checks to keep it from happening again.

[2021-09-10 14:48] andersonfrailey commented on #403
Yes, `runmatch.py` was removed with the refactor in #367. I'll go through the documentation and update it accordingly.

[2021-09-10 14:54] andersonfrailey commented on #400
I would definitely be open to enhancing the overall targeting process. I'm going to need to take some time to think through the issues you've listed and come up with potential solutions. In the meantime I think this issue is a good spot for anyone who has ideas to post them.

[2021-11-04 23:29] Thirdhuman opened #405 "Updating TaxData with 2014 PUF Variables"
![image](https://user-images.githubusercontent.com/20157774/140433922-a52fa849-adb4-4c29-b481-aeb3fe695814.png)

Above are the differences in variables between the 2011 and 2014 PUF files.
Would I need to integrate these at some point in the process?
If so, any pointers as to where?

[2021-11-05 13:45] Thirdhuman opened #406 "Contributor/User Documentation Missing"
The links all seem to be dead here.

[2021-11-05 13:56] jdebacker commented on #406
@Thirdhuman Thanks for raising this issue.  Can you highlight where you are finding the dead links?

FYI, I did move docs to http://pslmodels.github.io/taxdata/ -- but in doing so I just copied things over and updates are definitely needed.

[2021-11-05 16:19] Thirdhuman commented on #406
Sure. The ReadME.MD has this issue.
https://github.com/PSLmodels/taxdata/blob/master/README.md

![image](https://user-images.githubusercontent.com/20157774/140543122-62a59c79-63f6-471c-9cf7-5c84c5f9c789.png)

Pretty sure I came across the issue 1 or 2 more times, but can't remember where.
Will remember to provide a link in case a stumble upon them again.

[2021-11-05 16:52] Thirdhuman commented on #406
Some different broken links I came across here:
http://pslmodels.github.io/taxdata/content/data/datasets.html

![image](https://user-images.githubusercontent.com/20157774/140548209-07741c2d-ea11-4f1e-858a-3c8be1c6420d.png)

[2021-11-05 17:03] #405 closed

[2021-11-07 17:23] Thirdhuman opened #407 "Estimating 2014 JCT count/amount targets for nonitemizers? (2014 PUF)"
I'm currently working on adapting TaxData for use with the 2014 PUF file.

The primary data-related obstacle I'm facing is in regards to imputing itemized expense amounts to nonitemizers based upon the [JCX-75-15](https://www.jct.gov/publications/2015/jcx-75-15/) in the script titled "[impute_itmexp.py](https://github.com/PSLmodels/taxdata/blob/master/taxdata/puf/impute_itmexp.py
)" for my 2014 PU

[2021-11-10 20:32] martinholmer opened #408 "CPS BUG: XTOT not always equal to (nu18 + n1820 + n21)"
In the course of commenting on [Tax-Calculator issue 2630](https://github.com/PSLmodels/Tax-Calculator/issues/2630#issuecomment-965601641), I found that in the CPS data there are tax units for which XTOT is not equal to the sum of the three age-group-count variables: nu18, n1820, and n21.

The docstring for the `relationships` function in the `tests/test_data.py` module says this:
[code]
But Note

[2021-11-10 21:04] martinholmer opened #409 "CPS BUG: n24 and nu18 not always consistent with taxpayer/spouse ages"
In the course of commenting on [Tax-Calculator issue 2630](https://github.com/PSLmodels/Tax-Calculator/issues/2630#issuecomment-965601641), I found that in the CPS data there are tax units for which the `n24` and `nu18` variables are inconsistent with the taxpayer and spouse ages (`age_head` and `age_spouse`).

I executed the following Tax-Calculator run:
[code]
and tabulated the dump output as fo

[2021-11-10 23:24] martinholmer commented on #407
@Thirdhuman said in issue #407:

I'm sorry to hear the JCT has not updated their JCX-75-15 estimates since 2011.

Here are the 14 2011 JCT estimates used in the `impute_itmexp.py` module to impute itemized expenses for nonitemizers:
[code]

The best you can do is to extrapolate each of these fourteen estimates from its 2011 value to what you think its 2014 value is.  How you do that in a cleaver w

[2021-12-09 21:31] Thirdhuman opened #410 "Do we have a sense of where Tax Calculator's 2011 PUF outputs are most likely to be off?"
[[Reposting from Tax Calculator's issues board](https://github.com/PSLmodels/Tax-Calculator/issues/2637)]

Do users/developers have any sense of what the biases are of the 2011 PUF-based outputs likely are when extrapolated to more recent years via Tax Calculator? For instance, understating/overstating aggregate AGI? Or areas where the income distribution or anticipated filing behaviors might be o

[2021-12-13 20:04] martinholmer commented on #410
@Thirdhuman,  The person who has spent the most time looking into the quality of the PUF data projections beyond 2011 is @donboyd5.  Over the past couple of years he has raised a number of data-quality issues in both the `Tax-Calculator` and `taxdata` repositories.   You can find a complete list of his (open and closed) issues in each repository by using this search phrase  --- `is:issue author:do

[2021-12-13 20:50] donboyd5 commented on #410
Thanks much. In addition to the issues mentioned in #400, there is another item that arose over the last year, related to the SALT deduction. I don't think I ever opened an issue, although I did document it and mention it maybe in a PSL blog post. I don't have time to track it down, but the essence of it is this:
- If you start with the 2011 puf.csv
- Grow it to 2017
- Calculate tax under 2017 law

[2022-07-12 20:48] Thirdhuman opened #413 "Inconsistent child age information"
![image](https://user-images.githubusercontent.com/20157774/178592089-95c0cbee-0789-4ab0-8f91-3f20b78bd947.png)

I'm getting very inconsistent counts for the number of children within a household hoping someone can let me know whether this is a general bug with taxdata. Or if my own implementation of taxdata for the 2014 is somehow at fault.

[2022-07-15 13:45] Thirdhuman commented on #413
@martinholmer - that explanation makes sense. Are you also using the 2014 PUF? And does reversing the following change you identified fix this?

I'll also note that population growth for children runs hotter than other estimates (perhaps due to generalized growth parameters not properly accounting for age distribution skew attributable to native fertility vs. immigration?) Given that I'm sure many

[2022-07-15 14:06] martinholmer commented on #413
@Thirdhuman said in issue #413:

No, I'm not using any PUF related data.  Issues #408 and #409 relate to the ***CPS*** input data file used by Tax-Calculator.  But my *impression* is that all ages in each PUF unit in the PUF-derived file used as input by Tax-Calculator are transferred from a CPS unit that is statistically matched to the PUF unit.  So, any problems with CPS ages would be transferre

[2022-08-12 15:06] gmfenton opened #414 "Broken Links in Documentation"
Hi--just noting there are some broken links in the second paragraph of the "About the Data" section in the [Contributor Guide](https://github.com/PSLmodels/taxdata/blob/master/docs/book/content/contributing/CONTRIBUTING.md#about-the-data).

When I searched for one of the linked files ("datasets.md"), I turned up issue #173, which may be related. If these documentation files are available, they'd b

[2022-10-20 19:39] gmfenton opened #420 "TaxData and New PUF Vintages"
Hello, do the developers have plans to update TaxData for use with newer PUF vintages? (2015 is now available.) If you do have a timeline, even if tentative, it would be helpful to know. I see that other users have documented work on their own TaxData adaptions for recent PUFs (e.g. #407). Thanks!